In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snb
import numpy as np
import regex as re

In [2]:
census_2012_veg1 = pd.read_csv('../data/census_2012_veg1.csv')
census_2012_veg2 = pd.read_csv('../data/census_2012_veg2.csv')
veg_2012 = pd.concat([census_2012_veg1, census_2012_veg2], ignore_index = True)

In [3]:
veg_2012.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6

In [4]:
veg_2012['State'] = veg_2012['State'].str.title()

In [5]:
veg_2012 = veg_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [6]:
veg_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84830 entries, 0 to 84829
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          84830 non-null  object
 1   Year             84830 non-null  int64
 2   Period           84830 non-null  object
 3   Geo Level        84830 non-null  object
 4   State            84830 non-null  object
 5   State ANSI       84830 non-null  int64
 6   Commodity        84830 non-null  object
 7   Data Item        84830 non-null  object
 8   Domain           84830 non-null  object
 9   Domain Category  84830 non-null  object
 10  Value            84830 non-null  object
 11  CV (%)           84830 non-null  object
dtypes: int64(2), object(10)
memory usage: 7.8+ MB

In [7]:
veg_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [8]:
census_2017_veg1 = pd.read_csv('../data/census_2017_veg1.csv')
census_2017_veg_take2 = pd.read_csv('../data/census_2017_veg_take2.csv')
veg_2017 = pd.concat([census_2017_veg1, census_2017_veg_take2], ignore_index = True)

In [9]:
veg_2017.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,80,27.9

In [10]:
veg_2017['State'] = veg_2017['State'].str.title()

In [11]:
veg_2017 = veg_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [12]:
veg_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88632 entries, 0 to 88631
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          88632 non-null  object
 1   Year             88632 non-null  int64
 2   Period           88632 non-null  object
 3   Geo Level        88632 non-null  object
 4   State            88632 non-null  object
 5   State ANSI       88632 non-null  int64
 6   Commodity        88632 non-null  object
 7   Data Item        88632 non-null  object
 8   Domain           88632 non-null  object
 9   Domain Category  88632 non-null  object
 10  Value            88632 non-null  object
 11  CV (%)           88632 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.1+ MB

In [13]:
veg_2017.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [14]:
census_2022_veg1 = pd.read_csv('../data/census_2022_veg1.csv')
census_2022_veg_take2 = pd.read_csv('../data/census_2022_veg_take2.csv')
veg_2022 = pd.concat([census_2022_veg1, census_2022_veg_take2], ignore_index = True)

In [15]:
veg_2022.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,44,22

In [16]:
veg_2022['State'] = veg_2022['State'].str.title()

In [17]:
veg_2022 = veg_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [18]:
veg_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97548 entries, 0 to 97547
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          97548 non-null  object
 1   Year             97548 non-null  int64
 2   Period           97548 non-null  object
 3   Geo Level        97548 non-null  object
 4   State            97548 non-null  object
 5   State ANSI       97548 non-null  int64
 6   Commodity        97548 non-null  object
 7   Data Item        97548 non-null  object
 8   Domain           97548 non-null  object
 9   Domain Category  97548 non-null  object
 10  Value            97548 non-null  object
 11  CV (%)           97548 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.9+ MB

In [19]:
hort_2012 = pd.read_csv('../data/census_2012_hort.csv')

In [20]:
hort_2012['State'] = hort_2012['State'].str.title()

In [21]:
hort_2012.columns

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value',
       'CV (%)'],
      dtype='object')

In [22]:
hort_2012 = hort_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [23]:
hort_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29362 entries, 0 to 29361
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          29362 non-null  object
 1   Year             29362 non-null  int64
 2   Period           29362 non-null  object
 3   Geo Level        29362 non-null  object
 4   State            29362 non-null  object
 5   State ANSI       29362 non-null  int64
 6   Commodity        29362 non-null  object
 7   Data Item        29362 non-null  object
 8   Domain           29362 non-null  object
 9   Domain Category  29362 non-null  object
 10  Value            29362 non-null  object
 11  CV (%)           29362 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.7+ MB

In [24]:
hort_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [25]:
hort_2017 = pd.read_csv('../data/census_2017_hort.csv')

In [26]:
hort_2017['State'] = hort_2017['State'].str.title()

In [27]:
hort_2017 = hort_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [28]:
hort_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28779 entries, 0 to 28778
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28779 non-null  object
 1   Year             28779 non-null  int64
 2   Period           28779 non-null  object
 3   Geo Level        28779 non-null  object
 4   State            28779 non-null  object
 5   State ANSI       28779 non-null  int64
 6   Commodity        28779 non-null  object
 7   Data Item        28779 non-null  object
 8   Domain           28779 non-null  object
 9   Domain Category  28779 non-null  object
 10  Value            28779 non-null  object
 11  CV (%)           28779 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [29]:
hort_2022 = pd.read_csv('../data/census_2022_hort.csv')

In [30]:
hort_2022['State'] = hort_2022['State'].str.title()

In [31]:
hort_2022 = hort_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [32]:
hort_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28566 entries, 0 to 28565
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28566 non-null  object
 1   Year             28566 non-null  int64
 2   Period           28566 non-null  object
 3   Geo Level        28566 non-null  object
 4   State            28566 non-null  object
 5   State ANSI       28566 non-null  int64
 6   Commodity        28566 non-null  object
 7   Data Item        28566 non-null  object
 8   Domain           28566 non-null  object
 9   Domain Category  28566 non-null  object
 10  Value            28566 non-null  object
 11  CV (%)           28566 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [33]:
census_2012_pop_final = pd.read_csv('../data/census_2012_pop_final.csv')
census_2012_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,822,023","731,449","6,553,255","2,949,131","38,041,430","5,187,582","3,590,347","917,092","632,323",...,"833,354","6,456,243","26,059,203","2,855,287","626,011","8,185,867","6,897,012","1,855,413","5,726,398","576,412"
1,age_male_pop,48.50%,52.10%,49.80%,49.10%,49.70%,50.10%,48.70%,48.50%,47.30%,...,50.10%,48.70%,49.70%,50.30%,49.40%,49.00%,49.90%,49.10%,49.60%,50.80%
2,age_female_pop,51.50%,47.90%,50.20%,50.90%,50.30%,49.90%,51.30%,51.50%,52.70%,...,49.90%,51.30%,50.30%,49.70%,50.60%,51.00%,50.10%,50.90%,50.40%,49.20%
3,age_under_5,6.30%,7.40%,6.70%,6.50%,6.70%,6.50%,5.40%,6.10%,6.20%,...,7.00%,6.20%,7.40%,9.00%,5.00%,6.20%,6.40%,5.70%,6.10%,6.60%
4,age_5 _to_ 17,17.10%,18.20%,18.00%,17.60%,17.60%,17.20%,16.70%,16.20%,11.10%,...,17.50%,16.90%,19.40%,22.00%,14.80%,16.50%,16.60%,15.00%,16.90%,17.10%

In [34]:
census_2012_pop_final = census_2012_pop_final.T.reset_index()
census_2012_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,"735,220",71.70%,28.30%,"1,268,565","123,200","493,033",50.20%,49.80%,"510,756",689
2,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,"103,780",68.50%,31.50%,"159,427","245,100","86,171",52.60%,47.40%,"86,687","1,120"

In [35]:
census_2012_pop_final.columns = census_2012_pop_final.iloc[0]

In [36]:
census_2012_pop_final = census_2012_pop_final[1:]

In [37]:
census_2012_pop_final = census_2012_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [38]:
census_2012_pop_final['YEAR'] = 2012

In [39]:
census_2012_pop_final.dtypes

0
State                  object
pop_total              object
age_male_pop           object
age_female_pop         object
age_under_5            object
                        ...
rent_burden_lt_30      object
rent_burden_gte_30     object
occupied_units_rent    object
gross_median_rent      object
YEAR                    int64
Length: 122, dtype: object

In [40]:
census_2017_pop_final = pd.read_csv('../data/census_2017_pop_final.csv')
census_2017_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,874,747","739,795","7,016,270","3,004,279","39,536,653","5,607,154","3,588,184","961,939","693,972",...,"869,666","6,715,984","28,304,596","3,101,833","623,657","8,470,020","7,405,743","1,815,857","5,795,483","579,315"
1,age_male_pop,48.40%,52.10%,49.70%,49.30%,49.70%,50.30%,48.80%,48.40%,47.40%,...,50.40%,48.70%,49.70%,50.40%,49.40%,49.20%,49.90%,49.40%,49.70%,51.10%
2,age_female_pop,51.60%,47.90%,50.30%,50.70%,50.30%,49.70%,51.20%,51.60%,52.60%,...,49.60%,51.30%,50.30%,49.60%,50.60%,50.80%,50.10%,50.60%,50.30%,48.90%
3,age_under_5,5.90%,7.20%,6.20%,6.20%,6.20%,5.90%,5.10%,5.70%,6.50%,...,7.00%,6.00%,7.10%,8.20%,4.80%,5.90%,6.10%,5.40%,5.80%,6.50%
4,age_5 _to_ 17,16.50%,17.90%,17.10%,17.40%,16.70%,16.60%,15.60%,15.50%,11.50%,...,17.60%,16.40%,18.90%,21.70%,14.10%,16.10%,16.10%,15.20%,16.30%,17.30%

In [41]:
census_2017_pop_final = census_2017_pop_final.T.reset_index()
census_2017_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18 _to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rented,gross_rent_median
1,Alabama,"4,874,747",48.40%,51.60%,5.90%,16.50%,9.70%,12.90%,12.20%,12.90%,...,"701,526",76.80%,23.20%,"1,253,199","141,300","506,671",52.60%,47.40%,"525,186",750
2,Alaska,"739,795",52.10%,47.90%,7.20%,17.90%,9.90%,16.00%,13.10%,12.00%,...,"101,910",70.70%,29.30%,"159,344","273,100","83,787",54.20%,45.80%,"84,396","1,201"

In [42]:
census_2017_pop_final.columns = census_2017_pop_final.iloc[0]

In [43]:
census_2017_pop_final = census_2017_pop_final[1:]

In [44]:
census_2017_pop_final = census_2017_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [45]:
census_2017_pop_final['YEAR'] = 2017

In [46]:
census_2022_pop_final = pd.read_csv('../data/census_2022_pop_final.csv')

In [47]:
census_2022_pop_final = census_2022_pop_final.T.reset_index()

In [48]:
census_2022_pop_final.columns = census_2022_pop_final.iloc[0]

In [49]:
census_2022_pop_final = census_2022_pop_final[1:]

In [50]:
census_2022_pop_final = census_2022_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [51]:
census_2022_pop_final = census_2022_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [52]:
census_2022_pop_final['YEAR'] = 2022

In [53]:
all_agriculture = pd.concat([veg_2012, veg_2017, veg_2022, hort_2012, hort_2017, hort_2022], ignore_index = True)

In [54]:
all_agriculture = all_agriculture.rename(columns = {'Year': 'YEAR'})

In [55]:
census_2012_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'YEAR']

In [56]:
all_census = pd.concat([census_2012_pop_final, census_2017_pop_final, census_2022_pop_final], ignore_index = True)

In [57]:
ag_census = pd.merge(all_agriculture, all_census,
         on=['State', 'YEAR'],
         how = 'left'
        )

In [58]:
ag_census.head(1)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN

In [59]:
pd.set_option('display.max_rows', None)

In [60]:
ag_census.isna().sum().sort_values(ascending = False)

gross_rent_median                    240306
occupied_units_rented                240306
poverty_families_kids_u5             240306
age_18 _to_24                        240306
gross_median_rent                    117411
occupied_units_rent                  117411
poverty_families_ kids_u5            117411
age_18_ to_24                        117411
female_household_no_spouse                0
married_couple_income                     0
median_income_married_couple              0
male_household_no_spouse                  0
median_income_male_hh                     0
poverty_all_families                      0
median_income_female_hh                   0
individuals_income_group                  0
per_capita_income                         0
pop_families_with_income                  0
poverty_families_kids_u18                 0
poverty_married_family                    0
median_family-income                      0
mean_cash_aid                             0
with_snap                                 0
mean_retirement_income                    0
with_retirement_income                    0
poverty_married_kids_u5                   0
with_cash_aid                             0
mean_ssi_income                           0
with_ssi_income                           0
mean_ss_income                            0
with_ss_income                            0
mean_earnings                             0
with_earnings                             0
median_hh_income                          0
pop_hh_income_12months                    0
industry_ag_forest_fishing_mining         0
poverty_married_kids_u18                  0
poverty_female_hh_kids_u5                 0
poverty_female_hh                         0
poverty_female_hh_kids_u18                0
rent_burden_gte_30                        0
rent_burden_lt_30                         0
occupied_units_with_rent                  0
owner_median_value                        0
occupied_units_own                        0
mortgage_burden_gte_30                    0
mortgage_burden_lt_30                     0
units_with_mortgage                       0
vehicles_1_or_more                        0
no_vehicles                               0
occupied_units_vehicles                   0
avg_renter_hh_size                        0
avg_owner_hh_size                         0
renter_occupied_units                     0
owner_occupied_units                      0
occupied_housing_units_total              0
poverty_unrelated_15_plus                 0
poverty_in_families                       0
poverty_65_plus                           0
poverty_18_to_64                          0
poverty_18_plus                           0
poverty_related_kids_5_to_17              0
poverty_related_kids_u5                   0
poverty_related_kids_u18                  0
poverty_under_18                          0
poverty_all_people                        0
occ_production_trans                      0
industry_employed_pop_16_plus             0
Program                                   0
YEAR                                      0
age_25_to_34                              0
married_couple_family                     0
families_with_kids_u18                    0
family_households                         0
households_pop                            0
median_age_65_and_over                    0
median_age_62_and_over                    0
median_age_21_and_over                    0
median_age_18_and_over                    0
median_age_in_years                       0
age_75_and_older                          0
age_65_to_74                              0
age_55_to_64                              0
age_45_to_54                              0
age_35_to_44                              0
age_5 _to_ 17                             0
female_households_no_husband              0
age_under_5                               0
age_female_pop                            0
age_male_pop                              0
pop_total                                 0
CV (%)                                    0
Value                                     0
Domain Category                           0
Domain                                    0
Data Item                                 0
Commodity                                 0
State ANSI                                0
State                                     0
Geo Level                                 0
Period                                    0
married_couple_kids_18                    0
female_households_kids_u18                0
occ_sales_office                          0
less_hs_diploma                           0
occ_service                               0
occ_mgt_science_arts                      0
employed_pop_16_plus                      0
not_in_labor_force                        0
in_labor_force                            0
employed_status_pop_16_plus               0
civilian_pop_with_disability              0
civilian_pop_ni_total                     0
bachelors_plus                            0
hs_grad_plus                              0
grad_prof_deg                             0
bachelors_deg                             0
some_college_assoc                        0
hs_grad                                   0
pop_25_plus                               0
nonfamily_households                      0
never_married                             0
separated                                 0
divorced                                  0
widowed                                   0
now_married                               0
pop_15_plus                               0
avg_family_size                           0
avg_hh_size                               0
nonfamily_female_not_living_alone         0
nonfamily_female_living_alone             0
nonfamily_female_households               0
nonfamily_male_not_living_alone           0
nonfamily_male_living_alone               0
nonfamily_male_households                 0
occ_natural_resources                     0
dtype: int64

In [61]:
ag_census['Commodity'].unique()

array(['BEANS', 'BROCCOLI', 'CABBAGE', 'CARROTS', 'CUCUMBERS', 'GARLIC',
       'GREENS', 'HERBS', 'LETTUCE', 'MELONS', 'ONIONS', 'PEPPERS',
       'POTATOES', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES',
       'TOMATOES', 'TURNIPS', 'ASPARAGUS', 'BEETS', 'CAULIFLOWER',
       'EGGPLANT', 'HORSERADISH', 'OKRA', 'PEAS', 'PUMPKINS', 'RADISHES',
       'RHUBARB', 'VEGETABLE TOTALS', 'VEGETABLES, OTHER',
       'BRUSSELS SPROUTS', 'CELERY', 'ARTICHOKES', 'ESCAROLE & ENDIVE',
       'PARSLEY', 'CHICORY', 'DAIKON', 'WATERCRESS', 'GINGER ROOT',
       'GINSENG', 'GOURDS', 'PARSNIPS', 'AQUATIC PLANTS',
       'BEDDING PLANT TOTALS', 'BULBS & CORMS & RHIZOMES & TUBERS',
       'CUT CHRISTMAS TREES',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
       'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE TOTALS',
       'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED',
       'FOLIAGE PLANTS', 'FRUIT TOTALS', 'HORTICULTURE TOTALS',
       'MUSHROOMS', 'NURSERY TOTALS', 'PROPAGATIVE MATERIAL',
       'SHORT TERM WOODY TREES', 'SOD', 'TRANSPLANTS', 'VEGETABLE SEEDS',
       'MUSHROOM SPAWN'], dtype=object)

In [62]:
edible_list = ['ARTICHOKES', 'ASPARAGUS', 'BEANS', 'BEETS', 'BROCCOLI', 'BRUSSELS SPROUTS', 'CABBAGE', 'CARROTS',  
              'CAULIFLOWER', 'CELERY', 'CHICORY', 'CUCUMBERS', 'DAIKON', 'EGGPLANT', 'ESCAROLE & ENDIVE', 'GARLIC', 'GINGER ROOT',
              'GINSENG', 'GOURDS', 'GREENS', 'HERBS', 'HORSERADISH', 'LETTUCE', 'MELONS', 'OKRA', 'ONIONS', 'PARSLEY', 'PARSNIPS', 'PEAS',
              'PEPPERS', 'POTATOES', 'PUMPKINS', 'RADISHES', 'RHUBARB', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES', 'TOMATOES', 'TURNIPS', 
              'VEGETABLES, OTHER', 'VEGETABLE SEEDS','WATERCRESS'
              ]

In [63]:
ornamental_list = ['AQUATIC PLANTS', 'BULBS & CORMS & RHIZOMES & TUBERS', 'CUT CHRISTMAS TREES', 'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
                  'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED', 'FOLIAGE PLANTS', 
                  'MUSHROOMS','MUSHROOM SPAWN', 'SHORT TERM WOODY TREES', 'SOD', 
                  ]

In [64]:
classification_list = [ ]
for commodity in ag_census.Commodity: 
    if commodity in edible_list:
        classification_list.append('Edible')
    elif commodity in ornamental_list:
        classification_list.append('Ornamental')
    else: 
        classification_list.append('empty')

In [65]:
ag_census['Classification'] = classification_list

In [66]:
ag_census.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [67]:
ag_census['Value'].dtype

dtype('O')

In [68]:
ag_census[['State', 'Commodity', 'Value']].head(10)

     State Commodity Value
0  Alabama     BEANS   154
1  Alabama     BEANS    30
2  Alabama     BEANS   154
3  Alabama     BEANS    30
4  Alabama     BEANS    27
5  Alabama     BEANS    51
6  Alabama     BEANS   150
7  Alabama     BEANS    69
8  Alabama     BEANS    34
9  Alabama     BEANS   (D)

In [69]:
ag_census[['State', 'pop_total']].head()

     State  pop_total
0  Alabama  4,822,023
1  Alabama  4,822,023
2  Alabama  4,822,023
3  Alabama  4,822,023
4  Alabama  4,822,023

In [227]:
ag_census['Value'] = ag_census['Value'].str.extract(r'([\d,]+)')

In [229]:
ag_census = ag_census.dropna(subset = ['Value'])

In [233]:
ag_census['Value'] = ag_census['Value'].str.replace(',','').astype('float')

In [237]:
ag_census.head(10)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
5,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (1.0 TO 9.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
6,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (10.0 TO 49.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
7,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (100 TO 139 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
8,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (140 TO 179 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
11,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (220 TO 259 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [241]:
ag_census[['State', 'Commodity', 'YEAR', 'Value']].head(10)

      State Commodity  YEAR  Value
0   Alabama     BEANS  2012  154.0
1   Alabama     BEANS  2012   30.0
2   Alabama     BEANS  2012  154.0
3   Alabama     BEANS  2012   30.0
4   Alabama     BEANS  2012   27.0
5   Alabama     BEANS  2012   51.0
6   Alabama     BEANS  2012  150.0
7   Alabama     BEANS  2012   69.0
8   Alabama     BEANS  2012   34.0
11  Alabama     BEANS  2012   22.0

In [70]:
#ag_census['pop_total'] = ag_census['pop_total'].str.replace(',','',).astype('int').head()

In [243]:
states_by_edible = ag_census.loc[(ag_census['Classification'] == 'Edible') & (ag_census['Data Item'].str.endswith('ACRES HARVESTED'))
                              & (~ag_census['Data Item'].str.contains('OPERATIONS|FRESH MARKET|PROCESSING'))
                              & (ag_census['Domain'] == 'TOTAL') & (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [249]:
states_by_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [73]:
states_by_edible['Value'] = states_by_edible['Value'].str.extract(r'([\d,]+)')

C:\Users\kinis\AppData\Local\Temp\ipykernel_33772\3197709351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  states_by_edible['Value'] = states_by_edible['Value'].str.extract(r'([\d,]+)')

In [74]:
states_by_edible = states_by_edible.dropna(subset = ['Value'])

In [75]:
states_by_edible['Value'] = states_by_edible['Value'].str.replace(',','').astype('int')

In [253]:
states_by_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [257]:
states_by_edible[['State', 'Commodity', 'Value']].head()

       State Commodity  Value
0    Alabama     BEANS  154.0
48   Alabama     BEANS  580.0
174  Alabama  BROCCOLI    3.0
178  Alabama   CABBAGE    1.0
182  Alabama   CABBAGE   19.0

In [259]:
states_by_ornamental = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                    (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                    (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [261]:
states_by_ornamental.head(20)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
271012,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271126,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271221,CENSUS,2012,YEAR,STATE,Alabama,1,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271235,CENSUS,2012,YEAR,STATE,Alabama,1,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271242,CENSUS,2012,YEAR,STATE,Alabama,1,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271249,CENSUS,2012,YEAR,STATE,Alabama,1,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271256,CENSUS,2012,YEAR,STATE,Alabama,1,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271538,CENSUS,2012,YEAR,STATE,Alabama,1,SOD,"SOD - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271574,CENSUS,2012,YEAR,STATE,Alaska,2,BULBS & CORMS & RHIZOMES & TUBERS,"BULBS & CORMS & RHIZOMES & TUBERS, DRY - SALES...",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271639,CENSUS,2012,YEAR,STATE,Alaska,2,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271653,CENSUS,2012,YEAR,STATE,Alaska,2,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271833,CENSUS,2012,YEAR,STATE,Arizona,4,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
271901,CENSUS,2012,YEAR,STATE,Arizona,4,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
271908,CENSUS,2012,YEAR,STATE,Arizona,4,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
272241,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272313,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES -...,TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272318,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272339,CENSUS,2012,YEAR,STATE,Arkansas,5,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272346,CENSUS,2012,YEAR,STATE,Arkansas,5,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272575,CENSUS,2012,YEAR,STATE,Arkansas,5,SHORT TERM WOODY TREES,"SHORT TERM WOODY TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental

In [265]:
states_by_ornamental[['State', 'Value']].head()

          State      Value
271012  Alabama    30138.0
271126  Alabama   476000.0
271221  Alabama   447844.0
271235  Alabama  2872470.0
271242  Alabama    21265.0

In [269]:
#states_by_ornamental['Value'] = states_by_ornamental['Value'].str.extract(r'([\d,]+)')

In [213]:
#states_by_ornamental = states_by_ornamental.dropna(subset = ['Value'])

In [273]:
#states_by_ornamental['Value'] = states_by_ornamental['Value'].str.replace(',','').astype('int')

In [181]:
ag_census[['State', 'Commodity', 'Value']].head()

     State Commodity Value
0  Alabama     BEANS   154
1  Alabama     BEANS    30
2  Alabama     BEANS   154
3  Alabama     BEANS    30
4  Alabama     BEANS    27

In [119]:
states_by_edible[['State', 'pop_total']].head()

       State  pop_total
0    Alabama    4822023
48   Alabama    4822023
174  Alabama    4822023
178  Alabama    4822023
182  Alabama    4822023

In [289]:
#states_by_edible['pop_total'] = states_by_edible['pop_total'].str.replace(',','',).astype('int')

In [291]:
states_by_edible[['State', 'pop_total']].head()

       State  pop_total
0    Alabama    4822023
48   Alabama    4822023
174  Alabama    4822023
178  Alabama    4822023
182  Alabama    4822023

In [281]:
states_by_edible['pop_total'].dtype

dtype('int32')

In [283]:
#states_by_ornamental['pop_total'] = states_by_ornamental['pop_total'].str.replace(',','',).astype('int')

In [293]:
ag_census_edible = ag_census.loc[(ag_census['Classification'] == 'Edible') & (ag_census['Data Item'].str.endswith('ACRES HARVESTED'))
                                      & (~ag_census['Data Item'].str.contains('OPERATIONS|FRESH MARKET|PROCESSING'))
                                      & (ag_census['Domain'] == 'TOTAL') & (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [299]:
ag_census_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [324]:
ag_census_edible['pop_total'] = ag_census_edible['pop_total'].astype(str).str.replace(',', '')

C:\Users\kinis\AppData\Local\Temp\ipykernel_33772\2930534210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['pop_total'] = ag_census_edible['pop_total'].astype(str).str.replace(',', '')

In [307]:
ag_census[['State', 'pop_total']].head(2)

     State  pop_total
0  Alabama  4,822,023
1  Alabama  4,822,023

In [309]:
ag_census['pop_total'] = ag_census['pop_total'].str.replace(',','').astype('float')

In [328]:
ag_census_edible[['Value', 'pop_total']].dtypes

Value        float64
pop_total     object
dtype: object

In [330]:
ag_census_edible['pop_total'] = pd.to_numeric(ag_census_edible['pop_total'], errors='coerce')

C:\Users\kinis\AppData\Local\Temp\ipykernel_33772\3547383511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['pop_total'] = pd.to_numeric(ag_census_edible['pop_total'], errors='coerce')

In [336]:
ag_census[['Value', 'pop_total']].dtypes

Value        float64
pop_total    float64
dtype: object

In [313]:
ag_census[['State', 'pop_total']].head()

     State  pop_total
0  Alabama  4822023.0
1  Alabama  4822023.0
2  Alabama  4822023.0
3  Alabama  4822023.0
4  Alabama  4822023.0

In [315]:
ag_census_ornamental = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                            (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                            (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [319]:
ag_census_ornamental.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
271012,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271126,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271221,CENSUS,2012,YEAR,STATE,Alabama,1,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271235,CENSUS,2012,YEAR,STATE,Alabama,1,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271242,CENSUS,2012,YEAR,STATE,Alabama,1,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental

State information by crop per 100,000 people...how much of edible_list crops each state grows per 100,000 people

In [342]:
ag_census_edible['Value Per Capita'] = (ag_census_edible['Value'] / ag_census_edible['pop_total']) * 100000

C:\Users\kinis\AppData\Local\Temp\ipykernel_33772\1406342864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['Value Per Capita'] = (ag_census_edible['Value'] / ag_census_edible['pop_total']) * 100000

In [348]:
#ag_census_edible['Value Per Capita'] = ag_census_edible['Value'] / ag_census_edible['pop_total'] * 100000

In [344]:
ag_census_edible.head(15)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Value Per Capita
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3.193680
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,12.028147
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.020738
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.394025
186,CENSUS,2012,YEAR,STATE,Alabama,1,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.020738
195,CENSUS,2012,YEAR,STATE,Alabama,1,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,75.507728
220,CENSUS,2012,YEAR,STATE,Alabama,1,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.041476
226,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, COLLARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5.910382
232,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, KALE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.103691
238,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, MUSTARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.394025
242,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, TURNIP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5.744477
248,CENSUS,2012,YEAR,STATE,Alabama,1,HERBS,"HERBS, FRESH CUT - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.041476
252,CENSUS,2012,YEAR,STATE,Alabama,1,LETTUCE,LETTUCE - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215
256,CENSUS,2012,YEAR,STATE,Alabama,1,LETTUCE,"LETTUCE, LEAF - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215

In [110]:
ag_census_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

Edible crop production per capita by state. In order to understand how edible food production gauges with population, I 
calculated acres harvested per 100,000 people for each U.S. state using USDA NASS vegetable census data and the U.S. Census
Bureau population data. Below shows which states produce the most edible crops relative to their population size.

Sum of all per capita values of acres harvested for each state ranked by state from highest to lowest across all years
(2012, 2017, 2022).

In [371]:
ag_census_edible.groupby('State')['Value Per Capita'].sum().sort_values(ascending = False).head()

State
Idaho           62775.725685
North Dakota    32720.791510
Wisconsin       14258.814787
Washington      14194.680092
Maine           13469.135764
Name: Value Per Capita, dtype: float64

In [350]:
edible_per_capita_all_years = ag_census_edible.groupby('State')['Value Per Capita'].sum().reset_index().sort_values('Value Per Capita', ascending = False)

In [356]:
edible_per_capita_all_years.head()

           State  Value Per Capita
11         Idaho      62775.725685
33  North Dakota      32720.791510
48     Wisconsin      14258.814787
46    Washington      14194.680092
18         Maine      13469.135764

How has per capita edible crop production changed over time (2012, 2017, 2022)?

In [366]:
national_trend = ag_census_edible.groupby('YEAR')['Value Per Capita'].sum().reset_index()

In [368]:
national_trend

   YEAR  Value Per Capita
0  2012      92524.417792
1  2017      84483.315329
2  2022      79274.198422

In [358]:
edible_states_trend = ag_census_edible.groupby(['State', 'Commodity', 'YEAR'])['Value Per Capita'].sum().reset_index().sort_values(
                        by = ['State', 'YEAR', 'Value Per Capita'], ascending=[True, False, True])

How many acres are harvested per 100,000 people for each crop by state?

In [377]:
edible_states_trend.head()

      State         Commodity  YEAR  Value Per Capita
20  Alabama            CELERY  2022          0.019707
24  Alabama            DAIKON  2022          0.019707
53  Alabama           PARSLEY  2022          0.019707
12  Alabama  BRUSSELS SPROUTS  2022          0.098536
19  Alabama       CAULIFLOWER  2022          0.157657

In [392]:
top_states = ag_census_edible.groupby('State')['Value Per Capita'].sum().sort_values(ascending=False).head(5).index

In [398]:
top_state_crops = ag_census_edible[ag_census_edible['State'].isin(top_states)]

In [402]:
top_state_crops.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Value Per Capita
10457,CENSUS,2012,YEAR,STATE,Idaho,16,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,0.689341
10465,CENSUS,2012,YEAR,STATE,Idaho,16,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,0.250669
10471,CENSUS,2012,YEAR,STATE,Idaho,16,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,3.822707
10477,CENSUS,2012,YEAR,STATE,Idaho,16,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,2.757362
10483,CENSUS,2012,YEAR,STATE,Idaho,16,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,1.316014

In [408]:
top_state_crops.groupby(['State', 'Commodity'])['Value Per Capita'].sum().reset_index().sort_values(['State', 'Value Per Capita'], ascending = [True, False])

            State          Commodity  Value Per Capita
28          Idaho           POTATOES      56678.991689
34          Idaho         SWEET CORN       2201.814249
24          Idaho             ONIONS       2086.675152
2           Idaho              BEANS        574.807429
26          Idaho               PEAS        432.887214
7           Idaho            CARROTS        199.162926
29          Idaho           PUMPKINS        110.243881
30          Idaho           RADISHES         99.401172
37          Idaho            TURNIPS         93.911875
21          Idaho            LETTUCE         80.900399
27          Idaho            PEPPERS         53.698282
38          Idaho  VEGETABLES, OTHER         45.159967
33          Idaho             SQUASH         27.388965
22          Idaho             MELONS         19.739744
18          Idaho             GREENS         15.573475
36          Idaho           TOMATOES         13.469700
19          Idaho              HERBS         10.627374
1           Idaho          ASPARAGUS          9.374824
15          Idaho             GARLIC          7.667075
11          Idaho          CUCUMBERS          5.868621
4           Idaho           BROCCOLI          1.657664
6           Idaho            CABBAGE          1.398597
3           Idaho              BEETS          1.312317
32          Idaho            SPINACH          0.963379
13          Idaho           EGGPLANT          0.723736
31          Idaho            RHUBARB          0.562349
8           Idaho        CAULIFLOWER          0.432590
25          Idaho            PARSLEY          0.271202
9           Idaho             CELERY          0.224055
23          Idaho               OKRA          0.168058
20          Idaho        HORSERADISH          0.125335
5           Idaho   BRUSSELS SPROUTS          0.103144
17          Idaho             GOURDS          0.103144
16          Idaho        GINGER ROOT          0.058243
0           Idaho         ARTICHOKES          0.051572
10          Idaho            CHICORY          0.051572
12          Idaho             DAIKON          0.051572
14          Idaho  ESCAROLE & ENDIVE          0.051572
35          Idaho     SWEET POTATOES          0.051572
66          Maine           POTATOES      12283.767289
72          Maine         SWEET CORN        322.694417
71          Maine             SQUASH        147.099102
67          Maine           PUMPKINS        144.803639
76          Maine  VEGETABLES, OTHER        144.367752
59          Maine            LETTUCE         54.839233
41          Maine              BEANS         52.758028
74          Maine           TOMATOES         41.116728
49          Maine          CUCUMBERS         39.419269
64          Maine               PEAS         29.222712
44          Maine            CABBAGE         25.526282
42          Maine              BEETS         23.235840
65          Maine            PEPPERS         22.780230
62          Maine             ONIONS         17.115633
45          Maine            CARROTS         16.277302
53          Maine             GARLIC         13.863215
56          Maine             GREENS         11.803947
60          Maine             MELONS         10.827044
75          Maine            TURNIPS          7.605448
69          Maine            RHUBARB          7.278342
68          Maine           RADISHES          6.906244
40          Maine          ASPARAGUS          6.706474
70          Maine            SPINACH          6.408990
46          Maine        CAULIFLOWER          6.244395
57          Maine              HERBS          5.876256
51          Maine           EGGPLANT          5.230756
43          Maine   BRUSSELS SPROUTS          3.396385
73          Maine     SWEET POTATOES          3.140168
63          Maine            PARSLEY          2.357958
47          Maine             CELERY          1.768663
61          Maine               OKRA          1.114819
58          Maine        HORSERADISH          0.741298
55          Maine             GOURDS          0.721844
50          Maine             DAIKON          0.582818
48          Maine            CHICORY          0.510633
52          Maine  ESCAROLE & ENDIVE          0.366264
77          Maine         WATERCRESS          0.296751
54          Maine        GINGER ROOT          0.291409
39          Maine         ARTICHOKES          0.072184
100  North Dakota           POTATOES      32256.879595
87   North Dakota             DAIKON        311.833904
101  North Dakota           PUMPKINS         42.266979
105  North Dakota             SQUASH         28.256764
106  North Dakota         SWEET CORN         26.513637
95   North Dakota             MELONS          7.712909
110  North Dakota  VEGETABLES, OTHER          6.959903
86   North Dakota          CUCUMBERS          5.132097
79   North Dakota              BEANS          5.092239
108  North Dakota           TOMATOES          4.582204
99   North Dakota            PEPPERS          3.813950
83   North Dakota            CARROTS          3.447631
98   North Dakota               PEAS          3.272949
82   North Dakota            CABBAGE          2.657397
80   North Dakota              BEETS          2.425072
94   North Dakota            LETTUCE          2.201828
103  North Dakota            RHUBARB          1.484626
89   North Dakota             GARLIC          0.906396
88   North Dakota           EGGPLANT          0.782124
96   North Dakota             ONIONS          0.668404
81   North Dakota           BROCCOLI          0.536023
78   North Dakota          ASPARAGUS          0.517362
92   North Dakota              HERBS          0.517362
90   North Dakota             GOURDS          0.513307
91   North Dakota             GREENS          0.389035
102  North Dakota           RADISHES          0.389035
93   North Dakota        HORSERADISH          0.256653
84   North Dakota        CAULIFLOWER          0.132381
107  North Dakota     SWEET POTATOES          0.132381
109  North Dakota            TURNIPS          0.132381
85   North Dakota             CELERY          0.128327
97   North Dakota            PARSLEY          0.128327
104  North Dakota            SPINACH          0.128327
141    Washington           POTATOES       7042.783744
147    Washington         SWEET CORN       3123.903484
139    Washington               PEAS       1560.980085
136    Washington             ONIONS       1058.814941
118    Washington            CARROTS        337.746857
113    Washington              BEANS        274.812783
112    Washington          ASPARAGUS        155.101190
142    Washington           PUMPKINS        107.441351
146    Washington             SQUASH        102.787771
151    Washington  VEGETABLES, OTHER         71.037947
145    Washington            SPINACH         54.624380
140    Washington            PEPPERS         38.727600
134    Washington             MELONS         37.475126
115    Washington           BROCCOLI         34.618567
122    Washington          CUCUMBERS         32.130417
117    Washington            CABBAGE         31.453448
133    Washington            LETTUCE         28.399953
126    Washington             GARLIC         28.062591
149    Washington           TOMATOES         13.285165
144    Washington            RHUBARB         12.297237
131    Washington              HERBS         10.826925
119    Washington        CAULIFLOWER         10.554725
143    Washington           RADISHES          6.572885
130    Washington             GREENS          5.380157
114    Washington              BEETS          3.677235
123    Washington             DAIKON          2.337664
120    Washington             CELERY          2.305818
150    Washington            TURNIPS          1.824169
124    Washington           EGGPLANT          1.342938
111    Washington         ARTICHOKES          1.282815
137    Washington            PARSLEY          0.531245
129    Washington             GOURDS          0.333942
121    Washington            CHICORY          0.327030
148    Washington     SWEET POTATOES          0.272359
135    Washington               OKRA          0.182848
138    Washington           PARSNIPS          0.102751
128    Washington            GINSENG          0.099838
125    Washington  ESCAROLE & ENDIVE          0.091885
132    Washington        HORSERADISH          0.080037
116    Washington   BRUSSELS SPROUTS          0.028998
152    Washington         WATERCRESS          0.026347
127    Washington        GINGER ROOT          0.012844
155     Wisconsin              BEANS       4556.540014
182     Wisconsin           POTATOES       3459.927810
188     Wisconsin         SWEET CORN       3289.961393
180     Wisconsin               PEAS       1510.886378
164     Wisconsin          CUCUMBERS        303.810307
159     Wisconsin            CABBAGE        240.705425
160     Wisconsin            CARROTS        204.638050
183     Wisconsin           PUMPKINS        159.207025
156     Wisconsin              BEETS        131.801590
177     Wisconsin             ONIONS        103.076494
187     Wisconsin             SQUASH         72.068065
181     Wisconsin            PEPPERS         37.898906
170     Wisconsin            GINSENG         34.566712
190     Wisconsin           TOMATOES         25.066926
175     Wisconsin             MELONS         22.441035
192     Wisconsin  VEGETABLES, OTHER         19.525500
154     Wisconsin          ASPARAGUS         13.672077
172     Wisconsin             GREENS         12.645023
189     Wisconsin     SWEET POTATOES         11.188343
174     Wisconsin            LETTUCE          7.314084
161     Wisconsin        CAULIFLOWER          7.163675
157     Wisconsin           BROCCOLI          4.399377
184     Wisconsin           RADISHES          3.831065
173     Wisconsin              HERBS          3.805738
162     Wisconsin             CELERY          3.767476
168     Wisconsin             GARLIC          3.586943
166     Wisconsin           EGGPLANT          2.889687
186     Wisconsin            SPINACH          2.695585
185     Wisconsin            RHUBARB          2.025529
191     Wisconsin            TURNIPS          1.869667
158     Wisconsin   BRUSSELS SPROUTS          1.782242
178     Wisconsin            PARSLEY          1.324334
171     Wisconsin             GOURDS          1.221884
176     Wisconsin               OKRA          0.465292
165     Wisconsin             DAIKON          0.428452
167     Wisconsin  ESCAROLE & ENDIVE          0.206830
179     Wisconsin           PARSNIPS          0.152736
153     Wisconsin         ARTICHOKES          0.085706
163     Wisconsin            CHICORY          0.085706
193     Wisconsin         WATERCRESS          0.051480
169     Wisconsin        GINGER ROOT          0.034225