In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import regex as re

In [2]:
census_2012_veg1 = pd.read_csv('../data/census_2012_veg1.csv')
census_2012_veg2 = pd.read_csv('../data/census_2012_veg2.csv')
veg_2012 = pd.concat([census_2012_veg1, census_2012_veg2], ignore_index = True)

In [3]:
veg_2012.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6

In [4]:
veg_2012['State'] = veg_2012['State'].str.title()

In [5]:
veg_2012 = veg_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [6]:
veg_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84830 entries, 0 to 84829
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          84830 non-null  object
 1   Year             84830 non-null  int64
 2   Period           84830 non-null  object
 3   Geo Level        84830 non-null  object
 4   State            84830 non-null  object
 5   State ANSI       84830 non-null  int64
 6   Commodity        84830 non-null  object
 7   Data Item        84830 non-null  object
 8   Domain           84830 non-null  object
 9   Domain Category  84830 non-null  object
 10  Value            84830 non-null  object
 11  CV (%)           84830 non-null  object
dtypes: int64(2), object(10)
memory usage: 7.8+ MB

In [7]:
veg_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [8]:
census_2017_veg1 = pd.read_csv('../data/census_2017_veg1.csv')
census_2017_veg_take2 = pd.read_csv('../data/census_2017_veg_take2.csv')
veg_2017 = pd.concat([census_2017_veg1, census_2017_veg_take2], ignore_index = True)

In [9]:
veg_2017.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,80,27.9

In [10]:
veg_2017['State'] = veg_2017['State'].str.title()

In [11]:
veg_2017 = veg_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [12]:
veg_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88632 entries, 0 to 88631
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          88632 non-null  object
 1   Year             88632 non-null  int64
 2   Period           88632 non-null  object
 3   Geo Level        88632 non-null  object
 4   State            88632 non-null  object
 5   State ANSI       88632 non-null  int64
 6   Commodity        88632 non-null  object
 7   Data Item        88632 non-null  object
 8   Domain           88632 non-null  object
 9   Domain Category  88632 non-null  object
 10  Value            88632 non-null  object
 11  CV (%)           88632 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.1+ MB

In [13]:
veg_2017.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [14]:
census_2022_veg1 = pd.read_csv('../data/census_2022_veg1.csv')
census_2022_veg_take2 = pd.read_csv('../data/census_2022_veg_take2.csv')
veg_2022 = pd.concat([census_2022_veg1, census_2022_veg_take2], ignore_index = True)

In [15]:
veg_2022.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,44,22

In [16]:
veg_2022['State'] = veg_2022['State'].str.title()

In [17]:
veg_2022 = veg_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [18]:
veg_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97548 entries, 0 to 97547
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          97548 non-null  object
 1   Year             97548 non-null  int64
 2   Period           97548 non-null  object
 3   Geo Level        97548 non-null  object
 4   State            97548 non-null  object
 5   State ANSI       97548 non-null  int64
 6   Commodity        97548 non-null  object
 7   Data Item        97548 non-null  object
 8   Domain           97548 non-null  object
 9   Domain Category  97548 non-null  object
 10  Value            97548 non-null  object
 11  CV (%)           97548 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.9+ MB

In [19]:
hort_2012 = pd.read_csv('../data/census_2012_hort.csv')

In [20]:
hort_2012['State'] = hort_2012['State'].str.title()

In [21]:
hort_2012.columns

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value',
       'CV (%)'],
      dtype='object')

In [22]:
hort_2012 = hort_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [23]:
hort_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29362 entries, 0 to 29361
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          29362 non-null  object
 1   Year             29362 non-null  int64
 2   Period           29362 non-null  object
 3   Geo Level        29362 non-null  object
 4   State            29362 non-null  object
 5   State ANSI       29362 non-null  int64
 6   Commodity        29362 non-null  object
 7   Data Item        29362 non-null  object
 8   Domain           29362 non-null  object
 9   Domain Category  29362 non-null  object
 10  Value            29362 non-null  object
 11  CV (%)           29362 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.7+ MB

In [24]:
hort_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [25]:
hort_2017 = pd.read_csv('../data/census_2017_hort.csv')

In [26]:
hort_2017['State'] = hort_2017['State'].str.title()

In [27]:
hort_2017 = hort_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [28]:
hort_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28779 entries, 0 to 28778
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28779 non-null  object
 1   Year             28779 non-null  int64
 2   Period           28779 non-null  object
 3   Geo Level        28779 non-null  object
 4   State            28779 non-null  object
 5   State ANSI       28779 non-null  int64
 6   Commodity        28779 non-null  object
 7   Data Item        28779 non-null  object
 8   Domain           28779 non-null  object
 9   Domain Category  28779 non-null  object
 10  Value            28779 non-null  object
 11  CV (%)           28779 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [29]:
hort_2022 = pd.read_csv('../data/census_2022_hort.csv')

In [30]:
hort_2022['State'] = hort_2022['State'].str.title()

In [31]:
hort_2022 = hort_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [32]:
hort_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28566 entries, 0 to 28565
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28566 non-null  object
 1   Year             28566 non-null  int64
 2   Period           28566 non-null  object
 3   Geo Level        28566 non-null  object
 4   State            28566 non-null  object
 5   State ANSI       28566 non-null  int64
 6   Commodity        28566 non-null  object
 7   Data Item        28566 non-null  object
 8   Domain           28566 non-null  object
 9   Domain Category  28566 non-null  object
 10  Value            28566 non-null  object
 11  CV (%)           28566 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [33]:
census_2012_pop_final = pd.read_csv('../data/census_2012_pop_final.csv')
census_2012_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,822,023","731,449","6,553,255","2,949,131","38,041,430","5,187,582","3,590,347","917,092","632,323",...,"833,354","6,456,243","26,059,203","2,855,287","626,011","8,185,867","6,897,012","1,855,413","5,726,398","576,412"
1,age_male_pop,48.50%,52.10%,49.80%,49.10%,49.70%,50.10%,48.70%,48.50%,47.30%,...,50.10%,48.70%,49.70%,50.30%,49.40%,49.00%,49.90%,49.10%,49.60%,50.80%
2,age_female_pop,51.50%,47.90%,50.20%,50.90%,50.30%,49.90%,51.30%,51.50%,52.70%,...,49.90%,51.30%,50.30%,49.70%,50.60%,51.00%,50.10%,50.90%,50.40%,49.20%
3,age_under_5,6.30%,7.40%,6.70%,6.50%,6.70%,6.50%,5.40%,6.10%,6.20%,...,7.00%,6.20%,7.40%,9.00%,5.00%,6.20%,6.40%,5.70%,6.10%,6.60%
4,age_5 _to_ 17,17.10%,18.20%,18.00%,17.60%,17.60%,17.20%,16.70%,16.20%,11.10%,...,17.50%,16.90%,19.40%,22.00%,14.80%,16.50%,16.60%,15.00%,16.90%,17.10%

In [34]:
census_2012_pop_final = census_2012_pop_final.T.reset_index()
census_2012_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,"735,220",71.70%,28.30%,"1,268,565","123,200","493,033",50.20%,49.80%,"510,756",689
2,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,"103,780",68.50%,31.50%,"159,427","245,100","86,171",52.60%,47.40%,"86,687","1,120"

In [35]:
census_2012_pop_final.columns = census_2012_pop_final.iloc[0]

In [36]:
census_2012_pop_final = census_2012_pop_final[1:]

In [37]:
census_2012_pop_final = census_2012_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [38]:
census_2012_pop_final['YEAR'] = 2012

In [39]:
census_2012_pop_final.dtypes

0
State                  object
pop_total              object
age_male_pop           object
age_female_pop         object
age_under_5            object
                        ...
rent_burden_lt_30      object
rent_burden_gte_30     object
occupied_units_rent    object
gross_median_rent      object
YEAR                    int64
Length: 122, dtype: object

In [40]:
census_2017_pop_final = pd.read_csv('../data/census_2017_pop_final.csv')
census_2017_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,874,747","739,795","7,016,270","3,004,279","39,536,653","5,607,154","3,588,184","961,939","693,972",...,"869,666","6,715,984","28,304,596","3,101,833","623,657","8,470,020","7,405,743","1,815,857","5,795,483","579,315"
1,age_male_pop,48.40%,52.10%,49.70%,49.30%,49.70%,50.30%,48.80%,48.40%,47.40%,...,50.40%,48.70%,49.70%,50.40%,49.40%,49.20%,49.90%,49.40%,49.70%,51.10%
2,age_female_pop,51.60%,47.90%,50.30%,50.70%,50.30%,49.70%,51.20%,51.60%,52.60%,...,49.60%,51.30%,50.30%,49.60%,50.60%,50.80%,50.10%,50.60%,50.30%,48.90%
3,age_under_5,5.90%,7.20%,6.20%,6.20%,6.20%,5.90%,5.10%,5.70%,6.50%,...,7.00%,6.00%,7.10%,8.20%,4.80%,5.90%,6.10%,5.40%,5.80%,6.50%
4,age_5 _to_ 17,16.50%,17.90%,17.10%,17.40%,16.70%,16.60%,15.60%,15.50%,11.50%,...,17.60%,16.40%,18.90%,21.70%,14.10%,16.10%,16.10%,15.20%,16.30%,17.30%

In [41]:
census_2017_pop_final = census_2017_pop_final.T.reset_index()
census_2017_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18 _to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rented,gross_rent_median
1,Alabama,"4,874,747",48.40%,51.60%,5.90%,16.50%,9.70%,12.90%,12.20%,12.90%,...,"701,526",76.80%,23.20%,"1,253,199","141,300","506,671",52.60%,47.40%,"525,186",750
2,Alaska,"739,795",52.10%,47.90%,7.20%,17.90%,9.90%,16.00%,13.10%,12.00%,...,"101,910",70.70%,29.30%,"159,344","273,100","83,787",54.20%,45.80%,"84,396","1,201"

In [42]:
census_2017_pop_final.columns = census_2017_pop_final.iloc[0]

In [43]:
census_2017_pop_final = census_2017_pop_final[1:]

In [44]:
census_2017_pop_final = census_2017_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [45]:
census_2017_pop_final['YEAR'] = 2017

In [46]:
census_2022_pop_final = pd.read_csv('../data/census_2022_pop_final.csv')

In [47]:
census_2022_pop_final = census_2022_pop_final.T.reset_index()

In [48]:
census_2022_pop_final.columns = census_2022_pop_final.iloc[0]

In [49]:
census_2022_pop_final = census_2022_pop_final[1:]

In [50]:
census_2022_pop_final = census_2022_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [51]:
census_2022_pop_final = census_2022_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [52]:
census_2022_pop_final['YEAR'] = 2022

In [53]:
all_agriculture = pd.concat([veg_2012, veg_2017, veg_2022, hort_2012, hort_2017, hort_2022], ignore_index = True)

In [54]:
all_agriculture = all_agriculture.rename(columns = {'Year': 'YEAR'})

In [55]:
all_census = pd.concat([census_2012_pop_final, census_2017_pop_final, census_2022_pop_final], ignore_index = True)

In [56]:
ag_census = pd.merge(all_agriculture, all_census,
         on=['State', 'YEAR'],
         how = 'left'
        )

In [57]:
ag_census.head(1)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN

In [58]:
pd.set_option('display.max_rows', None)

In [59]:
ag_census.isna().sum().sort_values(ascending = False).head()

gross_rent_median           240306
occupied_units_rented       240306
poverty_families_kids_u5    240306
age_18 _to_24               240306
gross_median_rent           117411
dtype: int64

In [60]:
ag_census['Commodity'].unique()

array(['BEANS', 'BROCCOLI', 'CABBAGE', 'CARROTS', 'CUCUMBERS', 'GARLIC',
       'GREENS', 'HERBS', 'LETTUCE', 'MELONS', 'ONIONS', 'PEPPERS',
       'POTATOES', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES',
       'TOMATOES', 'TURNIPS', 'ASPARAGUS', 'BEETS', 'CAULIFLOWER',
       'EGGPLANT', 'HORSERADISH', 'OKRA', 'PEAS', 'PUMPKINS', 'RADISHES',
       'RHUBARB', 'VEGETABLE TOTALS', 'VEGETABLES, OTHER',
       'BRUSSELS SPROUTS', 'CELERY', 'ARTICHOKES', 'ESCAROLE & ENDIVE',
       'PARSLEY', 'CHICORY', 'DAIKON', 'WATERCRESS', 'GINGER ROOT',
       'GINSENG', 'GOURDS', 'PARSNIPS', 'AQUATIC PLANTS',
       'BEDDING PLANT TOTALS', 'BULBS & CORMS & RHIZOMES & TUBERS',
       'CUT CHRISTMAS TREES',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
       'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE TOTALS',
       'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED',
       'FOLIAGE PLANTS', 'FRUIT TOTALS', 'HORTICULTURE TOTALS',
       'MUSHROOMS', 'NURSERY TOTALS', 'PROPAGATIVE MATERIAL',
       'SHORT TERM WOODY TREES', 'SOD', 'TRANSPLANTS', 'VEGETABLE SEEDS',
       'MUSHROOM SPAWN'], dtype=object)

In [61]:
edible_list = ['ARTICHOKES', 'ASPARAGUS', 'BEANS', 'BEETS', 'BROCCOLI', 'BRUSSELS SPROUTS', 'CABBAGE', 'CARROTS',  
              'CAULIFLOWER', 'CELERY', 'CHICORY', 'CUCUMBERS', 'DAIKON', 'EGGPLANT', 'ESCAROLE & ENDIVE', 'GARLIC', 'GINGER ROOT',
              'GINSENG', 'GOURDS', 'GREENS', 'HERBS', 'HORSERADISH', 'LETTUCE', 'MELONS', 'OKRA', 'ONIONS', 'PARSLEY', 'PARSNIPS', 'PEAS',
              'PEPPERS', 'POTATOES', 'PUMPKINS', 'RADISHES', 'RHUBARB', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES', 'TOMATOES', 'TURNIPS', 
              'VEGETABLES, OTHER', 'VEGETABLE SEEDS','WATERCRESS'
              ]

In [62]:
ornamental_list = ['AQUATIC PLANTS', 'BULBS & CORMS & RHIZOMES & TUBERS', 'CUT CHRISTMAS TREES', 'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
                  'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED', 'FOLIAGE PLANTS', 
                  'MUSHROOMS','MUSHROOM SPAWN', 'SHORT TERM WOODY TREES', 'SOD', 
                  ]

In [63]:
classification_list = [ ]
for commodity in ag_census.Commodity: 
    if commodity in edible_list:
        classification_list.append('Edible')
    elif commodity in ornamental_list:
        classification_list.append('Ornamental')
    else: 
        classification_list.append('empty')

In [64]:
ag_census['Classification'] = classification_list

In [65]:
ag_census.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [66]:
ag_census['Value'].dtype

dtype('O')

In [67]:
ag_census[['State', 'Commodity', 'Value']].head(10)

     State Commodity Value
0  Alabama     BEANS   154
1  Alabama     BEANS    30
2  Alabama     BEANS   154
3  Alabama     BEANS    30
4  Alabama     BEANS    27
5  Alabama     BEANS    51
6  Alabama     BEANS   150
7  Alabama     BEANS    69
8  Alabama     BEANS    34
9  Alabama     BEANS   (D)

In [68]:
ag_census[['State', 'pop_total']].head()

     State  pop_total
0  Alabama  4,822,023
1  Alabama  4,822,023
2  Alabama  4,822,023
3  Alabama  4,822,023
4  Alabama  4,822,023

In [69]:
ag_census['Value'] = ag_census['Value'].str.extract(r'([\d,]+)')

In [70]:
ag_census = ag_census.dropna(subset = ['Value'])

In [71]:
ag_census['Value'] = ag_census['Value'].str.replace(',','').astype('float')

In [72]:
ag_census.head(10)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
5,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (1.0 TO 9.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
6,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (10.0 TO 49.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
7,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (100 TO 139 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
8,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (140 TO 179 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
11,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (220 TO 259 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [73]:
ag_census[['State', 'Commodity', 'YEAR', 'Value']].head(10)

      State Commodity  YEAR  Value
0   Alabama     BEANS  2012  154.0
1   Alabama     BEANS  2012   30.0
2   Alabama     BEANS  2012  154.0
3   Alabama     BEANS  2012   30.0
4   Alabama     BEANS  2012   27.0
5   Alabama     BEANS  2012   51.0
6   Alabama     BEANS  2012  150.0
7   Alabama     BEANS  2012   69.0
8   Alabama     BEANS  2012   34.0
11  Alabama     BEANS  2012   22.0

In [74]:
#ag_census['pop_total'] = ag_census['pop_total'].str.replace(',','',).astype('int').head()

In [75]:
states_by_edible = ag_census.loc[(ag_census['Classification'] == 'Edible') & (ag_census['Data Item'].str.endswith('ACRES HARVESTED'))
                              & (~ag_census['Data Item'].str.contains('OPERATIONS|FRESH MARKET|PROCESSING'))
                              & (ag_census['Domain'] == 'TOTAL') & (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [76]:
states_by_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [77]:
#states_by_edible['Value'] = states_by_edible['Value'].str.extract(r'([\d,]+)')

In [78]:
states_by_edible = states_by_edible.dropna(subset = ['Value'])

In [79]:
#states_by_edible['Value'] = states_by_edible['Value'].str.replace(',','').astype('int')

In [80]:
states_by_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [81]:
states_by_edible[['State', 'Commodity', 'Value']].head()

       State Commodity  Value
0    Alabama     BEANS  154.0
48   Alabama     BEANS  580.0
174  Alabama  BROCCOLI    3.0
178  Alabama   CABBAGE    1.0
182  Alabama   CABBAGE   19.0

In [82]:
states_by_ornamental = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                    (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                    (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [83]:
states_by_ornamental.head(20)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
271012,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271126,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271221,CENSUS,2012,YEAR,STATE,Alabama,1,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271235,CENSUS,2012,YEAR,STATE,Alabama,1,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271242,CENSUS,2012,YEAR,STATE,Alabama,1,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271249,CENSUS,2012,YEAR,STATE,Alabama,1,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271256,CENSUS,2012,YEAR,STATE,Alabama,1,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271538,CENSUS,2012,YEAR,STATE,Alabama,1,SOD,"SOD - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271574,CENSUS,2012,YEAR,STATE,Alaska,2,BULBS & CORMS & RHIZOMES & TUBERS,"BULBS & CORMS & RHIZOMES & TUBERS, DRY - SALES...",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271639,CENSUS,2012,YEAR,STATE,Alaska,2,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271653,CENSUS,2012,YEAR,STATE,Alaska,2,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"86,171",52.60%,47.40%,"86,687","1,120",NaN,NaN,NaN,NaN,Ornamental
271833,CENSUS,2012,YEAR,STATE,Arizona,4,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
271901,CENSUS,2012,YEAR,STATE,Arizona,4,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
271908,CENSUS,2012,YEAR,STATE,Arizona,4,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"831,643",48.60%,51.40%,"856,506",888,NaN,NaN,NaN,NaN,Ornamental
272241,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272313,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES -...,TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272318,CENSUS,2012,YEAR,STATE,Arkansas,5,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272339,CENSUS,2012,YEAR,STATE,Arkansas,5,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272346,CENSUS,2012,YEAR,STATE,Arkansas,5,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental
272575,CENSUS,2012,YEAR,STATE,Arkansas,5,SHORT TERM WOODY TREES,"SHORT TERM WOODY TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"336,178",51.10%,48.90%,"347,234",640,NaN,NaN,NaN,NaN,Ornamental

In [84]:
states_by_ornamental[['State', 'Value']].head()

          State      Value
271012  Alabama    30138.0
271126  Alabama   476000.0
271221  Alabama   447844.0
271235  Alabama  2872470.0
271242  Alabama    21265.0

In [85]:
#states_by_ornamental['Value'] = states_by_ornamental['Value'].str.extract(r'([\d,]+)')

In [86]:
#states_by_ornamental = states_by_ornamental.dropna(subset = ['Value'])

In [87]:
#states_by_ornamental['Value'] = states_by_ornamental['Value'].str.replace(',','').astype('int')

In [88]:
ag_census[['State', 'Commodity', 'Value']].head()

     State Commodity  Value
0  Alabama     BEANS  154.0
1  Alabama     BEANS   30.0
2  Alabama     BEANS  154.0
3  Alabama     BEANS   30.0
4  Alabama     BEANS   27.0

In [89]:
states_by_edible[['State', 'pop_total']].head()

       State  pop_total
0    Alabama  4,822,023
48   Alabama  4,822,023
174  Alabama  4,822,023
178  Alabama  4,822,023
182  Alabama  4,822,023

In [90]:
states_by_edible['pop_total'] = states_by_edible['pop_total'].str.replace(',','',).astype('int')

In [91]:
states_by_edible[['State', 'pop_total']].head()

       State  pop_total
0    Alabama    4822023
48   Alabama    4822023
174  Alabama    4822023
178  Alabama    4822023
182  Alabama    4822023

In [92]:
states_by_edible['pop_total'].dtype

dtype('int32')

In [93]:
states_by_ornamental['pop_total'] = states_by_ornamental['pop_total'].str.replace(',','',).astype('int')

C:\Users\kinis\AppData\Local\Temp\ipykernel_6392\2224156530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  states_by_ornamental['pop_total'] = states_by_ornamental['pop_total'].str.replace(',','',).astype('int')

In [94]:
ag_census_edible = ag_census.loc[(ag_census['Classification'] == 'Edible') & (ag_census['Data Item'].str.endswith('ACRES HARVESTED'))
                                      & (~ag_census['Data Item'].str.contains('OPERATIONS|FRESH MARKET|PROCESSING'))
                                      & (ag_census['Domain'] == 'TOTAL') & (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [95]:
ag_census_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [96]:
ag_census_edible['pop_total'] = ag_census_edible['pop_total'].astype(str).str.replace(',', '')

C:\Users\kinis\AppData\Local\Temp\ipykernel_6392\2930534210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['pop_total'] = ag_census_edible['pop_total'].astype(str).str.replace(',', '')

In [97]:
ag_census[['State', 'pop_total']].head(2)

     State  pop_total
0  Alabama  4,822,023
1  Alabama  4,822,023

In [98]:
ag_census['pop_total'] = ag_census['pop_total'].str.replace(',','').astype('float')

In [99]:
ag_census_edible[['Value', 'pop_total']].dtypes

Value        float64
pop_total     object
dtype: object

In [100]:
ag_census_edible['pop_total'] = pd.to_numeric(ag_census_edible['pop_total'], errors='coerce')

C:\Users\kinis\AppData\Local\Temp\ipykernel_6392\3547383511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['pop_total'] = pd.to_numeric(ag_census_edible['pop_total'], errors='coerce')

In [101]:
ag_census[['Value', 'pop_total']].dtypes

Value        float64
pop_total    float64
dtype: object

In [102]:
ag_census[['State', 'pop_total']].head()

     State  pop_total
0  Alabama  4822023.0
1  Alabama  4822023.0
2  Alabama  4822023.0
3  Alabama  4822023.0
4  Alabama  4822023.0

In [103]:
ag_census_ornamental = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                            (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                            (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [104]:
ag_census_ornamental = ag_census_ornamental.groupby(['State', 'YEAR'])['Value'].sum().reset_index()

State information by crop per 100,000 people...how much of edible_list crops each state grows per 100,000 people

In [106]:
ag_census_edible['Value Per Capita'] = (ag_census_edible['Value'] / ag_census_edible['pop_total']) * 100000

C:\Users\kinis\AppData\Local\Temp\ipykernel_6392\1406342864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['Value Per Capita'] = (ag_census_edible['Value'] / ag_census_edible['pop_total']) * 100000

In [107]:
#ag_census_edible['Value Per Capita'] = ag_census_edible['Value'] / ag_census_edible['pop_total']

In [108]:
ag_census_edible.head(15)

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Value Per Capita
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3.193680
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,12.028147
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.020738
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.394025
186,CENSUS,2012,YEAR,STATE,Alabama,1,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.020738
195,CENSUS,2012,YEAR,STATE,Alabama,1,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,75.507728
220,CENSUS,2012,YEAR,STATE,Alabama,1,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.041476
226,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, COLLARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5.910382
232,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, KALE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.103691
238,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, MUSTARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.394025
242,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, TURNIP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5.744477
248,CENSUS,2012,YEAR,STATE,Alabama,1,HERBS,"HERBS, FRESH CUT - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.041476
252,CENSUS,2012,YEAR,STATE,Alabama,1,LETTUCE,LETTUCE - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215
256,CENSUS,2012,YEAR,STATE,Alabama,1,LETTUCE,"LETTUCE, LEAF - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215

In [109]:
ag_census_edible.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Value Per Capita
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3.193680
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,12.028147
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.062215
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.020738
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,0.394025

Edible crop production per capita by state. In order to understand how edible food production gauges with population, I 
calculated acres harvested per 100,000 people for each U.S. state using USDA NASS vegetable census data and the U.S. Census
Bureau population data. Below shows which states produce the most edible crops relative to their population size.

Sum of all per capita values of acres harvested for each state ranked by state from highest to lowest across all years
(2012, 2017, 2022).

In [112]:
ag_census_edible.groupby('State')['Value Per Capita'].sum().sort_values(ascending = False).head()

State
Idaho           62775.725685
North Dakota    32720.791510
Wisconsin       14258.814787
Washington      14194.680092
Maine           13469.135764
Name: Value Per Capita, dtype: float64

In [514]:
edible_per_capita_all_years = ag_census_edible.groupby('State')['Value Per Capita'].sum().round(0).reset_index().sort_values('Value Per Capita', ascending = False)

In [516]:
edible_per_capita_all_years.head()

           State  Value Per Capita
11         Idaho           62776.0
33  North Dakota           32721.0
48     Wisconsin           14259.0
46    Washington           14195.0
18         Maine           13469.0

In [629]:
ag_census_edible.groupby('State')['Value Per Capita'].mean().sort_values(ascending = False).head()

State
Idaho           479.204013
North Dakota    389.533232
Delaware        103.696203
Wisconsin        95.696744
Maine            94.853069
Name: Value Per Capita, dtype: float64

In [631]:
edible_per_capita_all_years_2 = ag_census_edible.groupby('State')['Value Per Capita'].mean().round(0).reset_index().sort_values('Value Per Capita', ascending = False)

In [635]:
edible_per_capita_all_years_2.head()

           State  Value Per Capita
11         Idaho             479.0
33  North Dakota             390.0
7       Delaware             104.0
48     Wisconsin              96.0
18         Maine              95.0

How has per capita edible crop production changed over time (2012, 2017, 2022)?

In [518]:
national_trend = ag_census_edible.groupby('YEAR')['Value Per Capita'].sum().round(0).reset_index()

In [520]:
national_trend

   YEAR  Value Per Capita
0  2012           92524.0
1  2017           84483.0
2  2022           79274.0

In [619]:
national_trend2 = ag_census_edible.groupby('YEAR')['Value Per Capita'].sum().round(0).reset_index()

In [118]:
edible_states_trend = ag_census_edible.groupby(['State', 'Commodity', 'YEAR'])['Value Per Capita'].sum().reset_index().sort_values(
                        by = ['State', 'YEAR', 'Value Per Capita'], ascending=[True, False, True])

How many acres are harvested per 100,000 people for each crop by state?

In [120]:
edible_states_trend.head()

      State         Commodity  YEAR  Value Per Capita
20  Alabama            CELERY  2022          0.019707
24  Alabama            DAIKON  2022          0.019707
53  Alabama           PARSLEY  2022          0.019707
12  Alabama  BRUSSELS SPROUTS  2022          0.098536
19  Alabama       CAULIFLOWER  2022          0.157657

Crop Specialization for the top 5 per capita edible crops by state. The data in this section shows which crops are most produced
per 100,000 residents in states that rank high for overall edible crop production (for years 2012, 2017, 2022). This allows insight 
into state/regional agricultural priorities and dependencies.

Which crops are most produced on a per capita basis in high-producing states?

In [123]:
top_5_states = ag_census_edible.groupby('State')['Value Per Capita'].sum().sort_values(ascending=False).head(5).index

In [124]:
top_5_states_crops = ag_census_edible[ag_census_edible['State'].isin(top_5_states)]

In [125]:
top_5_states_crops.head()

,Program,YEAR,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Value Per Capita
10457,CENSUS,2012,YEAR,STATE,Idaho,16,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,0.689341
10465,CENSUS,2012,YEAR,STATE,Idaho,16,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,0.250669
10471,CENSUS,2012,YEAR,STATE,Idaho,16,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,3.822707
10477,CENSUS,2012,YEAR,STATE,Idaho,16,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,2.757362
10483,CENSUS,2012,YEAR,STATE,Idaho,16,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.10%,49.90%,"172,082",702,NaN,NaN,NaN,NaN,Edible,1.316014

In [526]:
top_5_states_crops_summary = top_5_states_crops.groupby(['State', 'Commodity'])['Value Per Capita'].sum().round(0).reset_index().sort_values(['State', 'Value Per Capita'], ascending = [True, False])

In [528]:
top_5_states_crops_summary.head()

    State   Commodity  Value Per Capita
28  Idaho    POTATOES           56679.0
34  Idaho  SWEET CORN            2202.0
24  Idaho      ONIONS            2087.0
2   Idaho       BEANS             575.0
26  Idaho        PEAS             433.0

In [530]:
top_crop_per_state = top_5_states_crops_summary.groupby('State').head(1)

In [532]:
top_crop_per_state

            State Commodity  Value Per Capita
28          Idaho  POTATOES           56679.0
66          Maine  POTATOES           12284.0
100  North Dakota  POTATOES           32257.0
141    Washington  POTATOES            7043.0
155     Wisconsin     BEANS            4557.0

In [130]:
ag_census_edible.groupby('State')['Value'].sum().head()

State
Alabama         52431.0
Alaska           3109.0
Arizona        620367.0
Arkansas        35069.0
California    4310757.0
Name: Value, dtype: float64

Total vs. Per Capita Edible Crop Production by State. The data below looks at two metrics: total acres harvested and acres 
harvested per 100,000 people. The merged tables reveal insights that help understand food production patterns across the U.S.
For example, states like California and Washington have higher total acres harvested, however smaller states like Idaho and North
Dakota have higher per capita production.

How do states compare in terms of total edible crop acreage vs. per capita production?

In [133]:
total_acres_harvested_by_state = ag_census_edible.groupby('State')['Value'].sum().reset_index().rename(columns = {'Value': 'Total Acres Harvested'}) 
#Value represents the total acres harvested

In [134]:
total_acres_harvested_by_state.head()

        State  Total Acres Harvested
0     Alabama                52431.0
1      Alaska                 3109.0
2     Arizona               620367.0
3    Arkansas                35069.0
4  California              4310757.0

In [534]:
per_capita_by_state = ag_census_edible.groupby('State')['Value Per Capita'].sum().round(0).reset_index().rename(columns = {'Value Per Capita': 'Acres Harvested Per 100k'})
#per capita production (value / tot_population) by state

In [536]:
per_capita_by_state.head()

        State  Acres Harvested Per 100k
0     Alabama                    1067.0
1      Alaska                     423.0
2     Arizona                    8911.0
3    Arkansas                    1168.0
4  California                   11092.0

In [538]:
state_comparison_by_acres = pd.merge(total_acres_harvested_by_state, per_capita_by_state, on = 'State')
#merging to creating a new dataframe to compare the total acres harvested against the food production adjusted by population 
#to see which state grows the most food vs. which state grows the most food per person.

In [540]:
state_comparison_by_acres.head()

        State  Total Acres Harvested  Acres Harvested Per 100k
0     Alabama                52431.0                    1067.0
1      Alaska                 3109.0                     423.0
2     Arizona               620367.0                    8911.0
3    Arkansas                35069.0                    1168.0
4  California              4310757.0                   11092.0

In [542]:
state_comparison_by_acres.sort_values(by = 'Acres Harvested Per 100k', ascending = False).head()

           State  Total Acres Harvested  Acres Harvested Per 100k
11         Idaho              1088164.0                   62776.0
33  North Dakota               242682.0                   32721.0
48     Wisconsin               827643.0                   14259.0
46    Washington              1042833.0                   14195.0
18         Maine               181713.0                   13469.0

Top crop harvested by year (2012, 2017, 2022) by state. Takes a look at the most harvested edible crop by acres for each 
U.S. state using data from the USDA agricultural census years 2012, 2017, 2022. This allows insight into crop specialization 
and how agricultural focus may have shifted over time. Do they remain consistent or change across census cycles?

Top crop harvested by year (2012, 2017, 2022) by state

In [546]:
top_crop_by_state_per_year = ag_census_edible.loc[ag_census_edible.groupby(['State', 'YEAR'])['Value'].idxmax()].reset_index()

In [548]:
top_crop_by_state_per_year_subset = top_crop_by_state_per_year[['State', 'YEAR', 'Commodity', 'Value']]

In [782]:
top_crop_by_state_per_year_subset.head()

     State  YEAR  Commodity   Value
0  Alabama  2012  CUCUMBERS  3641.0
1  Alabama  2017  CUCUMBERS  5376.0
2  Alabama  2022  CUCUMBERS  4073.0
3   Alaska  2012   POTATOES   676.0
4   Alaska  2017   POTATOES   541.0

Change in Acres Harvested (2012 to 2022)

In [641]:
filtered_top_crop = top_crop_by_state_per_year_subset[top_crop_by_state_per_year_subset['YEAR'].isin([2012, 2022])]

In [647]:
top_crop_2012_2022 = filtered_top_crop.pivot(index='State', columns = 'YEAR', values = 'Value').reset_index()

In [651]:
top_crop_2012_2022.columns = ['State', '2012 Acres Harvested', '2022 Acres Harvested']

In [653]:
top_crop_2012_2022['Difference'] = top_crop_2012_2022['2012 Acres Harvested'] - top_crop_2012_2022['2022 Acres Harvested']

In [809]:
top_crop_2012_2022.head()

        State  2012 Acres Harvested  2022 Acres Harvested  Difference
0     Alabama                3641.0                4073.0      -432.0
1      Alaska                 676.0                 321.0       355.0
2     Arizona               72100.0               65072.0      7028.0
3    Arkansas                2410.0                6370.0     -3960.0
4  California              295247.0              274198.0     21049.0

States Whose Top Crop Changed

In [687]:
top_crop_2012 = top_crop_by_state_per_year_subset[top_crop_by_state_per_year_subset['YEAR'] == 2012].sort_values(['State', 'Value'], ascending = [True, False]).drop_duplicates('State')

In [689]:
top_crop_2022 = top_crop_by_state_per_year_subset[top_crop_by_state_per_year_subset['YEAR'] == 2022].sort_values(['State', 'Value'], ascending = [True, False]).drop_duplicates('State')

In [691]:
top_crop_2012 = top_crop_2012[['State', 'Commodity', 'Value']].rename(columns = {'Commodity': '2012 Commodity', 'Value': '2012 Acres Harvested'})

In [693]:
top_crop_2022 = top_crop_2022[['State', 'Commodity', 'Value']].rename(columns={'Commodity': '2022 Commodity', 'Value': '2022 Acres Harvested'})

In [697]:
top_crop_2022.head(1)

     State 2022 Commodity  2022 Acres Harvested
2  Alabama      CUCUMBERS                4073.0

In [699]:
combined_top_crop_2012_to_2022 = pd.merge(top_crop_2012, top_crop_2022, on = 'State')

In [701]:
combined_top_crop_2012_to_2022['Acre Difference'] = combined_top_crop_2012_to_2022['2022 Acres Harvested'] - combined_top_crop_2012_to_2022['2012 Acres Harvested']

In [703]:
combined_top_crop_2012_to_2022['Crop Changed'] = combined_top_crop_2012_to_2022['2012 Commodity'] != combined_top_crop_2012_to_2022['2022 Commodity']

In [805]:
combined_top_crop_2012_to_2022.head()

,State,2012 Commodity,2012 Acres Harvested,2022 Commodity,2022 Acres Harvested,Acre Difference,Crop Changed
0,Alabama,CUCUMBERS,3641.0,CUCUMBERS,4073.0,432.0,False
1,Alaska,POTATOES,676.0,POTATOES,321.0,-355.0,False
2,Arizona,LETTUCE,72100.0,LETTUCE,65072.0,-7028.0,False
3,Arkansas,SWEET POTATOES,2410.0,SWEET POTATOES,6370.0,3960.0,False
4,California,TOMATOES,295247.0,LETTUCE,274198.0,-21049.0,True

Relationship between poverty rates and edible crop production. Looks at whether there is a relationship between edible crop
production per 100,000 people and state level poverty rates. Does food production equate to food access?

In [557]:
edible_per_capita = ag_census_edible.groupby('State')['Value Per Capita'].sum().round(0).reset_index().rename(columns = {'Value Per Capita': 'Total Edible Per 100k'})

In [559]:
edible_per_capita.head()

        State  Total Edible Per 100k
0     Alabama                 1067.0
1      Alaska                  423.0
2     Arizona                 8911.0
3    Arkansas                 1168.0
4  California                11092.0

In [148]:
poverty_all_people = all_census[['State', 'YEAR', 'poverty_all_people']].reset_index().rename(columns = {'poverty_all_people': 'Poverty All People'})

In [149]:
poverty_all_people.head()

0  index       State  YEAR Poverty All People
0      0     Alabama  2012             19.00%
1      1      Alaska  2012             10.10%
2      2     Arizona  2012             18.70%
3      3    Arkansas  2012             19.80%
4      4  California  2012             17.00%

In [150]:
 poverty_all_people['Poverty All People'] = poverty_all_people['Poverty All People'].str.replace('%', '').astype(float)

In [561]:
poverty_grouped_by_year = poverty_all_people.groupby('YEAR')['Poverty All People'].mean().round(0).reset_index()

In [563]:
poverty_grouped_by_year

   YEAR  Poverty All People
0  2012                15.0
1  2017                13.0
2  2022                12.0

In [153]:
poverty_all_people.head()

0  index       State  YEAR  Poverty All People
0      0     Alabama  2012                19.0
1      1      Alaska  2012                10.1
2      2     Arizona  2012                18.7
3      3    Arkansas  2012                19.8
4      4  California  2012                17.0

In [154]:
poverty_2022 = poverty_all_people[poverty_all_people['YEAR'] == 2022][['State', 'Poverty All People']]

In [155]:
poverty_2022.head()

0         State  Poverty All People
102     Alabama                16.2
103      Alaska                11.0
104     Arizona                12.5
105    Arkansas                16.8
106  California                12.2

In [156]:
#poverty_2022['Poverty All People'] = poverty_2022['Poverty All People'].str.replace('%', '').astype(float)

In [157]:
poverty_2022.head()

0         State  Poverty All People
102     Alabama                16.2
103      Alaska                11.0
104     Arizona                12.5
105    Arkansas                16.8
106  California                12.2

In [158]:
poverty_comparison_2022 = pd.merge(edible_per_capita, poverty_2022, on = 'State')

In [762]:
poverty_comparison_2022.head(20)

          State  Total Edible Per 100k  Poverty All People
0       Alabama            1067.078931                16.2
1        Alaska             422.959192                11.0
2       Arizona            8910.691874                12.5
3      Arkansas            1167.967600                16.8
4    California           11092.051119                12.2
5      Colorado            4388.349730                 9.4
6   Connecticut             752.866151                 9.8
7      Delaware           10058.531698                 9.4
8       Florida            3905.112001                12.7
9       Georgia            3058.997881                12.7
10       Hawaii            1521.561090                10.2
11        Idaho           62775.725685                10.7
12     Illinois            1579.883403                11.9
13      Indiana            1779.991152                12.6
14         Iowa             764.498332                11.0
15       Kansas             620.640464                12.0
16     Kentucky             560.254625                16.5
17    Louisiana             756.999360                18.6
18        Maine           13469.135764                10.8
19     Maryland            1417.699167                 9.6

In [161]:
#poverty_comparison_2022['Poverty All People'] = poverty_comparison_2022['Poverty All People'].str.replace('%', '').astype(float)

In [163]:
poverty_comparison_2022.head()

        State  Total Edible Per 100k  Poverty All People
0     Alabama            1067.078931                16.2
1      Alaska             422.959192                11.0
2     Arizona            8910.691874                12.5
3    Arkansas            1167.967600                16.8
4  California           11092.051119                12.2

In [772]:
poverty_2022_corr = poverty_comparison_2022[['Total Edible Per 100k', 'Poverty All People']]

In [774]:
poverty_2022_corr.corr()

                       Total Edible Per 100k  Poverty All People
Total Edible Per 100k               1.000000           -0.183446
Poverty All People                 -0.183446            1.000000

Do states with lower median household income grow more edible crops per capita? This data compares each state's median household
income with the number of edible crops harvested per 100,000 residents. Do lower income states grow more food per capita?

In [166]:
ag_census_edible[['State', 'YEAR', 'median_hh_income']].head()

       State  YEAR median_hh_income
0    Alabama  2012           41,574
48   Alabama  2012           41,574
174  Alabama  2012           41,574
178  Alabama  2012           41,574
182  Alabama  2012           41,574

In [168]:
ag_census_edible['median_hh_income'] = ag_census_edible['median_hh_income'].str.replace(',','').astype('float')

C:\Users\kinis\AppData\Local\Temp\ipykernel_6392\8639283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census_edible['median_hh_income'] = ag_census_edible['median_hh_income'].str.replace(',','').astype('float')

In [170]:
ag_census_edible[['State', 'YEAR', 'median_hh_income']].rename(columns = {'median_hh_income': 'Median HH Income'}).head()

       State  YEAR  Median HH Income
0    Alabama  2012           41574.0
48   Alabama  2012           41574.0
174  Alabama  2012           41574.0
178  Alabama  2012           41574.0
182  Alabama  2012           41574.0

In [172]:
med_income_by_state = ag_census_edible.groupby('State')['Value Per Capita'].sum().reset_index()

In [174]:
#census_2022_pop_final['median_hh_income'] = census_2022_pop_final['median_hh_income'].str.replace(',','').astype('float')

In [176]:
income_comparison_2022 = pd.merge(med_income_by_state, census_2022_pop_final[['State', 'median_hh_income']], on = 'State', how = 'left')

In [178]:
income_comparison_2022.rename(columns = {'median_hh_income': 'Median HH Income'}).head()

        State  Value Per Capita Median HH Income
0     Alabama       1067.078931           59,674
1      Alaska        422.959192           88,121
2     Arizona       8910.691874           74,568
3    Arkansas       1167.967600           55,432
4  California      11092.051119           91,551

In [180]:
income_comparison_2022['median_hh_income'] = income_comparison_2022['median_hh_income'].str.replace(',','').astype('float')

In [721]:
income_comparison_2022.head()

        State  Value Per Capita  median_hh_income
0     Alabama       1067.078931           59674.0
1      Alaska        422.959192           88121.0
2     Arizona       8910.691874           74568.0
3    Arkansas       1167.967600           55432.0
4  California      11092.051119           91551.0

In [184]:
income_2022_corr = income_comparison_2022[['Value Per Capita', 'median_hh_income']]

In [186]:
income_2022_corr.corr()

                  Value Per Capita  median_hh_income
Value Per Capita          1.000000          0.046761
median_hh_income          0.046761          1.000000

Ornamental

In [189]:
ag_total_pop = all_census[['State', 'YEAR', 'pop_total']].reset_index().rename(columns = {'pop_total': 'Total Population'})

In [191]:
ag_total_pop.head()

0  index       State  YEAR Total Population
0      0     Alabama  2012        4,822,023
1      1      Alaska  2012          731,449
2      2     Arizona  2012        6,553,255
3      3    Arkansas  2012        2,949,131
4      4  California  2012       38,041,430

In [193]:
ag_total_pop.head()

0  index       State  YEAR Total Population
0      0     Alabama  2012        4,822,023
1      1      Alaska  2012          731,449
2      2     Arizona  2012        6,553,255
3      3    Arkansas  2012        2,949,131
4      4  California  2012       38,041,430

In [195]:
census_2022_pop_final[['State','pop_total']].head()

0       State   pop_total
1     Alabama   5,074,296
2      Alaska     733,583
3     Arizona   7,359,197
4    Arkansas   3,045,637
5  California  39,029,342

In [197]:
#census_2022_pop_final['pop_total'] = census_2022_pop_final['pop_total'].str.replace(',','').astype('float')

In [199]:
census_2022_pop_total = census_2022_pop_final[['State', 'pop_total']].reset_index().rename(columns = {'pop_total': 'Total Population'})

In [258]:
ornamental_pop = pd.merge(ag_census_ornamental, ag_total_pop[['State', 'YEAR', 'Total Population']], on = ['State', 'YEAR'], how = 'left')

In [260]:
ornamental_pop.dtypes

State                object
YEAR                  int64
Value               float64
Total Population     object
dtype: object

In [262]:
ornamental_pop['Total Population'] = ornamental_pop['Total Population'].str.replace(',','').astype('float')

In [264]:
ornamental_pop['Sales Per Capita'] = ornamental_pop['Value'] / ornamental_pop['Total Population']

In [581]:
ornamental_pop.groupby('State')['Sales Per Capita'].sum().round(0).sort_values(ascending = False).reset_index().head()

          State  Sales Per Capita
0        Oregon             230.0
1  Pennsylvania             168.0
2       Florida             146.0
3        Hawaii             114.0
4    California             100.0

In [268]:
ornamental_pop['Value'].head()

0     70448880.0
1    102121020.0
2    163767468.0
3       147186.0
4      1345034.0
Name: Value, dtype: float64

In [270]:
ag_census_ornamental.head()

     State  YEAR        Value
0  Alabama  2012   70448880.0
1  Alabama  2017  102121020.0
2  Alabama  2022  163767468.0
3   Alaska  2012     147186.0
4   Alaska  2017    1345034.0

In [490]:
ag_census_ornamental.head(10)

      State  YEAR        Value
0   Alabama  2012   70448880.0
1   Alabama  2017  102121020.0
2   Alabama  2022  163767468.0
3    Alaska  2012     147186.0
4    Alaska  2017    1345034.0
5    Alaska  2022    2953846.0
6   Arizona  2012    8104204.0
7   Arizona  2017   20106971.0
8   Arizona  2022    4714965.0
9  Arkansas  2012   13464506.0

Which states generate the highest ornamental crop sales per capita? 
This data looks at which states, relative to their population, generate the most revenue from ornamental crops - revealing 
states where ornamental horticulture is a major economic driver.

In [577]:
top_states_per_cap_ornamental = ornamental_pop.groupby('State')['Sales Per Capita'].sum().round(0).sort_values(ascending = False).reset_index()

In [579]:
top_states_per_cap_ornamental.head()

          State  Sales Per Capita
0        Oregon             230.0
1  Pennsylvania             168.0
2       Florida             146.0
3        Hawaii             114.0
4    California             100.0

In [303]:
ornamental_pop['Sales Per Capita'].head(10)

0    14.609818
1    20.948989
2    32.273929
3     0.201225
4     1.818117
5     4.026601
6     1.236668
7     2.865764
8     0.640690
9     4.565584
Name: Sales Per Capita, dtype: float64

In [287]:
ag_census_ornamental2 = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                            (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                            (ag_census['Domain Category'] == 'NOT SPECIFIED')]

In [353]:
ornamental_by_commodity['Total Population'].unique()

array([nan])

Start Here 4/20/25

In [355]:
ag_total_pop['Total Population'].head()

0     4,822,023
1       731,449
2     6,553,255
3     2,949,131
4    38,041,430
Name: Total Population, dtype: object

In [359]:
ag_total_pop['Total Population'] = ag_total_pop['Total Population'].str.replace(',','').astype(float)

In [363]:
ornamental_by_commodity = pd.merge(ag_census_ornamental2[['State', 'YEAR', 'Commodity', 'Value']], ag_total_pop[['State', 'YEAR', 'Total Population']], on = ['State', 'YEAR'], how = 'left')

In [370]:
ornamental_by_commodity['Sales Per Capita'] = (ornamental_by_commodity['Value'] / ornamental_by_commodity['Total Population'])

In [372]:
ornamental_by_commodity[['State', 'YEAR', 'Commodity', 'Sales Per Capita']].dropna().head()

     State  YEAR                            Commodity  Sales Per Capita
0  Alabama  2012                       AQUATIC PLANTS          0.006250
1  Alabama  2012                  CUT CHRISTMAS TREES          0.098714
2  Alabama  2012  CUT FLOWERS & CUT CULTIVATED GREENS          0.092875
3  Alabama  2012                  FLORICULTURE, OTHER          0.595698
4  Alabama  2012                         FLOWER SEEDS          0.004410

In [378]:
ornamental_by_commodity['Sales Per 100k'] = (ornamental_by_commodity['Value'] / ornamental_by_commodity['Total Population']) * 100000

In [380]:
ornamental_by_commodity.head(10)

,State,YEAR,Commodity,Value,Total Population,Sales Per Capita,Sales Per 100k
0,Alabama,2012,AQUATIC PLANTS,30138.0,4822023.0,0.006250,625.007388
1,Alabama,2012,CUT CHRISTMAS TREES,476000.0,4822023.0,0.098714,9871.375562
2,Alabama,2012,CUT FLOWERS & CUT CULTIVATED GREENS,447844.0,4822023.0,0.092875,9287.471254
3,Alabama,2012,"FLORICULTURE, OTHER",2872470.0,4822023.0,0.595698,59569.811260
4,Alabama,2012,FLOWER SEEDS,21265.0,4822023.0,0.004410,440.997482
5,Alabama,2012,"FLOWERING PLANTS, POTTED",8308332.0,4822023.0,1.722997,172299.717359
6,Alabama,2012,FOLIAGE PLANTS,10270069.0,4822023.0,2.129826,212982.580133
7,Alabama,2012,SOD,48022762.0,4822023.0,9.959049,995904.872291
8,Alaska,2012,BULBS & CORMS & RHIZOMES & TUBERS,6000.0,731449.0,0.008203,820.289590
9,Alaska,2012,"FLORICULTURE, OTHER",23544.0,731449.0,0.032188,3218.816349

Top 10 Ornamental Commodities by Sales Per 100k (across all states)

In [565]:
top_commodities = ornamental_by_commodity.groupby('Commodity')['Sales Per 100k'].mean().round(0).sort_values(ascending = False).reset_index()

In [567]:
top_commodities.head(10)

                                      Commodity  Sales Per 100k
0                                           SOD        466648.0
1                      FLOWERING PLANTS, POTTED        260664.0
2                                     MUSHROOMS        238329.0
3  CUT CHRISTMAS TREES & SHORT TERM WOODY TREES        181412.0
4                           CUT CHRISTMAS TREES        162420.0
5           CUT FLOWERS & CUT CULTIVATED GREENS        130148.0
6                                FOLIAGE PLANTS        124619.0
7                                MUSHROOM SPAWN         29323.0
8                           FLORICULTURE, OTHER         26102.0
9             BULBS & CORMS & RHIZOMES & TUBERS         15022.0

Best selling commodity in each state (Per 100k)

In [411]:
top_commodity_by_state = ornamental_by_commodity.loc[ornamental_by_commodity.groupby('State')['Sales Per 100k'].idxmax()].reset_index(drop = True)

In [416]:
top_commodity_by_state.head(10)

,State,YEAR,Commodity,Value,Total Population,Sales Per Capita,Sales Per 100k
0,Alabama,2022,SOD,132094166.0,5074296.0,26.032018,2.603202e+06
1,Alaska,2022,CUT FLOWERS & CUT CULTIVATED GREENS,2353676.0,733583.0,3.208466,3.208466e+05
2,Arizona,2017,SOD,16863330.0,7016270.0,2.403461,2.403461e+05
3,Arkansas,2022,SOD,23200133.0,3045637.0,7.617498,7.617498e+05
4,California,2017,CUT FLOWERS & CUT CULTIVATED GREENS,380854839.0,39536653.0,9.632956,9.632956e+05
5,Colorado,2017,SOD,47284425.0,5607154.0,8.432874,8.432874e+05
6,Connecticut,2022,"FLOWERING PLANTS, POTTED",27135861.0,3626205.0,7.483267,7.483267e+05
7,Delaware,2012,SOD,4212120.0,917092.0,4.592909,4.592909e+05
8,Florida,2022,FOLIAGE PLANTS,562442743.0,22244823.0,25.284209,2.528421e+06
9,Georgia,2022,SOD,116172833.0,10912876.0,10.645483,1.064548e+06

In [414]:
ornamental_by_commodity.groupby('Commodity')['Sales Per Capita'].sum().sort_values(ascending = False)

Commodity
SOD                                             597.309978
FLOWERING PLANTS, POTTED                        364.929343
CUT CHRISTMAS TREES & SHORT TERM WOODY TREES    221.323138
MUSHROOMS                                       202.579284
CUT CHRISTMAS TREES                             178.662049
CUT FLOWERS & CUT CULTIVATED GREENS             171.796012
FOLIAGE PLANTS                                  150.789518
FLORICULTURE, OTHER                              29.494712
BULBS & CORMS & RHIZOMES & TUBERS                14.721119
FLOWER SEEDS                                      8.171524
AQUATIC PLANTS                                    6.036781
MUSHROOM SPAWN                                    4.984956
SHORT TERM WOODY TREES                            3.145163
Name: Sales Per Capita, dtype: float64

Change in sales per 100k over time for top 5 commodities

In [423]:
top_5_commodities = top_commodities.head(5)['Commodity'].to_list()

In [569]:
top_5_trend = ornamental_by_commodity[ornamental_by_commodity['Commodity'].isin(top_5_commodities)].groupby(['Commodity', 'YEAR'])['Sales Per 100k'].mean().round(0).reset_index()

In [571]:
top_5_trend

                                       Commodity  YEAR  Sales Per 100k
0                            CUT CHRISTMAS TREES  2012         85676.0
1                            CUT CHRISTMAS TREES  2017        165593.0
2                            CUT CHRISTMAS TREES  2022        235815.0
3   CUT CHRISTMAS TREES & SHORT TERM WOODY TREES  2012        161933.0
4   CUT CHRISTMAS TREES & SHORT TERM WOODY TREES  2017        159366.0
5   CUT CHRISTMAS TREES & SHORT TERM WOODY TREES  2022        221145.0
6                       FLOWERING PLANTS, POTTED  2012        254034.0
7                       FLOWERING PLANTS, POTTED  2017        248403.0
8                       FLOWERING PLANTS, POTTED  2022        279294.0
9                                      MUSHROOMS  2012        242466.0
10                                     MUSHROOMS  2017        241450.0
11                                     MUSHROOMS  2022        232702.0
12                                           SOD  2012        321785.0
13                                           SOD  2017        383597.0
14                                           SOD  2022        691195.0

How has ornamental sales changed over time?

In [573]:
national_trends_ornamental = ornamental_by_commodity.groupby('YEAR')['Sales Per Capita'].sum().round(0).reset_index()

In [575]:
national_trends_ornamental

   YEAR  Sales Per Capita
0  2012             514.0
1  2017             595.0
2  2022             845.0

In [788]:
ornamental_2022 = ag_census_ornamental[ag_census_ornamental['YEAR'] == 2022]

In [797]:
ornamental_by_state = ornamental_2022.groupby('State')['Value'].sum()

In [811]:
pd.merge(ornamental_by_state, census_2022_pop_final, on= 'State', how = 'left').head()

,State,Value,pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,...,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,YEAR
0,Alabama,1.637675e+08,"5,074,296",48.50%,51.50%,5.60%,16.30%,9.60%,12.90%,12.50%,...,77.00%,23.00%,"1,416,333","200,900","517,883",50.50%,49.50%,"535,960",913,2022
1,Alaska,2.953846e+06,"733,583",52.60%,47.40%,6.30%,17.60%,9.40%,15.50%,14.30%,...,70.90%,29.10%,"181,586","336,900","84,809",56.90%,43.10%,"85,226","1,329",2022
2,Arizona,4.714965e+06,"7,359,197",50.00%,50.00%,5.30%,16.20%,9.80%,13.80%,12.60%,...,73.70%,26.30%,"1,921,746","402,800","867,455",47.20%,52.80%,"887,809","1,450",2022
3,Arkansas,2.802948e+07,"3,045,637",49.40%,50.60%,5.80%,17.00%,9.60%,12.70%,12.70%,...,77.30%,22.70%,"808,558","179,800","359,076",54.20%,45.80%,"371,478",846,2022
4,California,1.548467e+09,"39,029,342",50.10%,49.90%,5.40%,16.30%,9.40%,14.70%,13.80%,...,62.20%,37.80%,"7,565,502","715,900","5,676,089",44.00%,56.00%,"5,782,651","1,870",2022

In [418]:
#ornamental_pop.groupby('State')[['Value', 'Sales Per Capita']].sum().reset_index()

In [583]:
edible_per_capita_all_years.to_csv('../data/edible_per_capita_all_years.csv', index = False)

In [617]:
national_trend.to_csv('../data/national_trend.csv', index = False)

In [587]:
edible_states_trend.to_csv('../data/edible_states_trend.csv', index = False)

In [589]:
top_5_states_crops_summary.to_csv('../data/top_5_states_crops_summary.csv', index = False)

In [591]:
top_crop_per_state.to_csv('../data/top_crop_per_state.csv', index = False)

In [593]:
state_comparison_by_acres.to_csv('../data/state_comparison_by_acres.csv', index = False)

In [595]:
top_crop_by_state_per_year_subset.to_csv('../data/top_crop_by_state_per_year_subset.csv', index = False)

In [597]:
poverty_comparison_2022.to_csv('../data/poverty_comparison_2022.csv', index = False)

In [599]:
income_comparison_2022.to_csv('../data/income_comparison_2022.csv', index = False)

In [601]:
poverty_all_people.to_csv('../data/poverty_all_people.csv', index = False)

In [603]:
poverty_grouped_by_year.to_csv('../data/poverty_grouped_by_year.csv', index = False)

In [605]:
census_2022_pop_total.to_csv('../data/census_2022_pop_total.csv', index = False)

In [607]:
ag_census_ornamental.to_csv('../data/ag_census_ornamental.csv', index = False)

In [609]:
top_5_trend.to_csv('../data/top_5_trend.csv', index = False)

In [611]:
top_commodities.to_csv('../data/top_commodities.csv', index = False)

In [613]:
top_commodity_by_state.to_csv('../data/top_commodity_by_state.csv', index = False)

In [615]:
top_states_per_cap_ornamental.to_csv('../data/top_states_per_cap_ornamental.csv', index = False)

In [625]:
national_trend2.to_csv('../data/national_trend2.csv', index = False)

In [627]:
national_trends_ornamental.to_csv('../data/national_trends_ornamental.csv', index = False)

In [637]:
edible_per_capita_all_years_2.to_csv('../data/edible_per_capita_all_years_2.csv', index = False)

In [709]:
top_crop_2012_2022.to_csv('../data/top_crop_2012_2022.csv', index = False)

In [711]:
combined_top_crop_2012_to_2022.to_csv('../data/combined_top_crop_2012_to_2022.csv', index = False)

In [719]:
ornamental_by_commodity.to_csv('../data/ornamental_by_commodity.csv', index = False)

In [760]:
kpi_card.to_csv('../data/kpi_card.csv', index = False)

In [766]:
poverty_comparison_2022.to_csv('../data/poverty_comparison_2022.csv', index = False)