In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snb
import numpy as np

In [2]:
census_2012_veg1 = pd.read_csv('../data/census_2012_veg1.csv')
census_2012_veg2 = pd.read_csv('../data/census_2012_veg2.csv')
veg_2012 = pd.concat([census_2012_veg1, census_2012_veg2], ignore_index = True)

In [3]:
veg_2012.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6

In [4]:
veg_2012['State'] = veg_2012['State'].str.title()

In [5]:
veg_2012

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84825,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, PRODUCTION CONTRACT - OPERAT...",TOTAL,NOT SPECIFIED,2,87.5
84826,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER - ACRES HARVESTED",TOTAL,NOT SPECIFIED,1,(H)
84827,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER - OPERATIONS WITH AREA HARVE...",TOTAL,NOT SPECIFIED,3,63.2
84828,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,1,(H)
84829,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,3,63.2

In [6]:
veg_2012 = veg_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [7]:
veg_2012

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...
84825,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, PRODUCTION CONTRACT - OPERAT...",TOTAL,NOT SPECIFIED,2,87.5
84826,CENSUS,2012,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER - ACRES HARVESTED",TOTAL,NOT SPECIFIED,1,(H)
84827,CENSUS,2012,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER - OPERATIONS WITH AREA HARVE...",TOTAL,NOT SPECIFIED,3,63.2
84828,CENSUS,2012,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,1,(H)
84829,CENSUS,2012,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,3,63.2

In [8]:
veg_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84830 entries, 0 to 84829
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          84830 non-null  object
 1   Year             84830 non-null  int64
 2   Period           84830 non-null  object
 3   Geo Level        84830 non-null  object
 4   State            84830 non-null  object
 5   State ANSI       84830 non-null  int64
 6   Commodity        84830 non-null  object
 7   Data Item        84830 non-null  object
 8   Domain           84830 non-null  object
 9   Domain Category  84830 non-null  object
 10  Value            84830 non-null  object
 11  CV (%)           84830 non-null  object
dtypes: int64(2), object(10)
memory usage: 7.8+ MB

In [9]:
veg_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [10]:
census_2017_veg1 = pd.read_csv('../data/census_2017_veg1.csv')
census_2017_veg_take2 = pd.read_csv('../data/census_2017_veg_take2.csv')
veg_2017 = pd.concat([census_2017_veg1, census_2017_veg_take2], ignore_index = True)

In [11]:
veg_2017.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,80,27.9

In [12]:
veg_2017['State'] = veg_2017['State'].str.title()

In [13]:
veg_2017

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,80,27.9
1,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,66,65.9
2,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,80,27.9
3,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,66,65.9
4,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",(D),(D)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88627,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,13,(H)
88628,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WATERCRESS,WATERCRESS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,(D),(D)
88629,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WATERCRESS,WATERCRESS - OPERATIONS WITH AREA HARVESTED,TOTAL,NOT SPECIFIED,2,93.4
88630,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WATERCRESS,"WATERCRESS, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
88631,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WATERCRESS,"WATERCRESS, FRESH MARKET - OPERATIONS WITH ARE...",TOTAL,NOT SPECIFIED,2,93.4

In [14]:
veg_2017 = veg_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [15]:
veg_2017

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,80,27.9
1,CENSUS,2017,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,66,65.9
2,CENSUS,2017,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,80,27.9
3,CENSUS,2017,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,66,65.9
4,CENSUS,2017,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",(D),(D)
...,...,...,...,...,...,...,...,...,...,...,...,...
88627,CENSUS,2017,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,13,(H)
88628,CENSUS,2017,YEAR,STATE,Wyoming,56,WATERCRESS,WATERCRESS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,(D),(D)
88629,CENSUS,2017,YEAR,STATE,Wyoming,56,WATERCRESS,WATERCRESS - OPERATIONS WITH AREA HARVESTED,TOTAL,NOT SPECIFIED,2,93.4
88630,CENSUS,2017,YEAR,STATE,Wyoming,56,WATERCRESS,"WATERCRESS, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
88631,CENSUS,2017,YEAR,STATE,Wyoming,56,WATERCRESS,"WATERCRESS, FRESH MARKET - OPERATIONS WITH ARE...",TOTAL,NOT SPECIFIED,2,93.4

In [16]:
veg_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88632 entries, 0 to 88631
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          88632 non-null  object
 1   Year             88632 non-null  int64
 2   Period           88632 non-null  object
 3   Geo Level        88632 non-null  object
 4   State            88632 non-null  object
 5   State ANSI       88632 non-null  int64
 6   Commodity        88632 non-null  object
 7   Data Item        88632 non-null  object
 8   Domain           88632 non-null  object
 9   Domain Category  88632 non-null  object
 10  Value            88632 non-null  object
 11  CV (%)           88632 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.1+ MB

In [17]:
veg_2017.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [18]:
census_2022_veg1 = pd.read_csv('../data/census_2022_veg1.csv')
census_2022_veg_take2 = pd.read_csv('../data/census_2022_veg_take2.csv')
veg_2022 = pd.concat([census_2022_veg1, census_2022_veg_take2], ignore_index = True)

In [19]:
veg_2022.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,44,22

In [20]:
veg_2022['State'] = veg_2022['State'].str.title()
veg_2022

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,44,22
1,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,66,33.7
2,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,42,22.7
3,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,63,35.4
4,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, GREEN, LIMA, PROCESSING - ACRES HARVESTED",TOTAL,NOT SPECIFIED,2,31.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97543,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL SEEDS & TRANSPLANTS, IN...",TOTAL,NOT SPECIFIED,0.5,5.8
97544,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
97545,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER - OPERATIONS WITH AREA HARVE...",TOTAL,NOT SPECIFIED,12,26.2
97546,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
97547,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,12,26.2

In [21]:
veg_2022 = veg_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [22]:
veg_2022

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,44,22
1,CENSUS,2022,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,66,33.7
2,CENSUS,2022,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,42,22.7
3,CENSUS,2022,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,63,35.4
4,CENSUS,2022,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, PROCESSING - ACRES HARVESTED",TOTAL,NOT SPECIFIED,2,31.6
...,...,...,...,...,...,...,...,...,...,...,...,...
97543,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL SEEDS & TRANSPLANTS, IN...",TOTAL,NOT SPECIFIED,0.5,5.8
97544,CENSUS,2022,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
97545,CENSUS,2022,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER - OPERATIONS WITH AREA HARVE...",TOTAL,NOT SPECIFIED,12,26.2
97546,CENSUS,2022,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - ACRES HARVESTED",TOTAL,NOT SPECIFIED,(D),(D)
97547,CENSUS,2022,YEAR,STATE,Wyoming,56,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,12,26.2

In [23]:
veg_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97548 entries, 0 to 97547
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          97548 non-null  object
 1   Year             97548 non-null  int64
 2   Period           97548 non-null  object
 3   Geo Level        97548 non-null  object
 4   State            97548 non-null  object
 5   State ANSI       97548 non-null  int64
 6   Commodity        97548 non-null  object
 7   Data Item        97548 non-null  object
 8   Domain           97548 non-null  object
 9   Domain Category  97548 non-null  object
 10  Value            97548 non-null  object
 11  CV (%)           97548 non-null  object
dtypes: int64(2), object(10)
memory usage: 8.9+ MB

In [24]:
hort_2012 = pd.read_csv('../data/census_2012_hort.csv')
hort_2012.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,7,54.2

In [25]:
hort_2012['State'] = hort_2012['State'].str.title()
hort_2012

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,7,54.2
1,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,7,54.2
2,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"30,138",81
3,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,2,62.6
4,CENSUS,2012,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,5,46.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29357,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"66,532",53.5
29358,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,33,32.3
29359,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,33,32.3
29360,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"236,517",29.2
29361,CENSUS,2012,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"98,028",42.3

In [26]:
hort_2012.columns

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value',
       'CV (%)'],
      dtype='object')

In [27]:
hort_2012 = hort_2012.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [28]:
hort_2012

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,7,54.2
1,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,7,54.2
2,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"30,138",81
3,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,2,62.6
4,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,5,46.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29357,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"66,532",53.5
29358,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,33,32.3
29359,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,33,32.3
29360,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"236,517",29.2
29361,CENSUS,2012,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"98,028",42.3

In [29]:
hort_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29362 entries, 0 to 29361
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          29362 non-null  object
 1   Year             29362 non-null  int64
 2   Period           29362 non-null  object
 3   Geo Level        29362 non-null  object
 4   State            29362 non-null  object
 5   State ANSI       29362 non-null  int64
 6   Commodity        29362 non-null  object
 7   Data Item        29362 non-null  object
 8   Domain           29362 non-null  object
 9   Domain Category  29362 non-null  object
 10  Value            29362 non-null  object
 11  CV (%)           29362 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.7+ MB

In [30]:
hort_2012.dtypes

Program            object
Year                int64
Period             object
Geo Level          object
State              object
State ANSI          int64
Commodity          object
Data Item          object
Domain             object
Domain Category    object
Value              object
CV (%)             object
dtype: object

In [31]:
hort_2017 = pd.read_csv('../data/census_2017_hort.csv')
hort_2017.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,5,92.9

In [32]:
hort_2017['State'] = hort_2017['State'].str.title()
hort_2017

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,5,92.9
1,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,4,(H)
2,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,(D),(D)
3,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,6,76.3
4,CENSUS,2017,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,5,92.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28774,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"69,705",25.5
28775,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,56,38
28776,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,56,38
28777,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"1,275,925",(H)
28778,CENSUS,2017,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"211,972",(H)

In [33]:
hort_2017 = hort_2017.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [34]:
hort_2017

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,5,92.9
1,CENSUS,2017,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,4,(H)
2,CENSUS,2017,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,(D),(D)
3,CENSUS,2017,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,6,76.3
4,CENSUS,2017,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,5,92.9
...,...,...,...,...,...,...,...,...,...,...,...,...
28774,CENSUS,2017,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"69,705",25.5
28775,CENSUS,2017,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,56,38
28776,CENSUS,2017,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,56,38
28777,CENSUS,2017,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"1,275,925",(H)
28778,CENSUS,2017,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"211,972",(H)

In [35]:
hort_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28779 entries, 0 to 28778
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28779 non-null  object
 1   Year             28779 non-null  int64
 2   Period           28779 non-null  object
 3   Geo Level        28779 non-null  object
 4   State            28779 non-null  object
 5   State ANSI       28779 non-null  int64
 6   Commodity        28779 non-null  object
 7   Data Item        28779 non-null  object
 8   Domain           28779 non-null  object
 9   Domain Category  28779 non-null  object
 10  Value            28779 non-null  object
 11  CV (%)           28779 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [36]:
hort_2022 = pd.read_csv('../data/census_2022_hort.csv')
hort_2022.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,12,86.2

In [37]:
hort_2022['State'] = hort_2022['State'].str.title()
hort_2022

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,12,86.2
1,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,12,86.2
2,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,569,500",80.6
3,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,94,65.3
4,CENSUS,2022,YEAR,NaN,STATE,Alabama,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,12,86.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28561,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"42,526",60.2
28562,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
28563,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
28564,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"449,063",64.9
28565,CENSUS,2022,YEAR,NaN,STATE,Wyoming,56,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"77,105",44.1

In [38]:
hort_2022 = hort_2022.drop(columns = ['Week Ending', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed'])

In [39]:
hort_2022

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH AREA IN PRODU...,TOTAL,NOT SPECIFIED,12,86.2
1,CENSUS,2022,YEAR,STATE,Alabama,1,AQUATIC PLANTS,AQUATIC PLANTS - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,12,86.2
2,CENSUS,2022,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,569,500",80.6
3,CENSUS,2022,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - ACRES IN PRODUCTION",TOTAL,NOT SPECIFIED,94,65.3
4,CENSUS,2022,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS, IN THE OPEN - OPERATIONS WITH ...",TOTAL,NOT SPECIFIED,12,86.2
...,...,...,...,...,...,...,...,...,...,...,...,...
28561,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"42,526",60.2
28562,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
28563,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
28564,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"449,063",64.9
28565,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"77,105",44.1

In [40]:
hort_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28566 entries, 0 to 28565
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Program          28566 non-null  object
 1   Year             28566 non-null  int64
 2   Period           28566 non-null  object
 3   Geo Level        28566 non-null  object
 4   State            28566 non-null  object
 5   State ANSI       28566 non-null  int64
 6   Commodity        28566 non-null  object
 7   Data Item        28566 non-null  object
 8   Domain           28566 non-null  object
 9   Domain Category  28566 non-null  object
 10  Value            28566 non-null  object
 11  CV (%)           28566 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.6+ MB

In [41]:
census_2012_pop_final = pd.read_csv('../data/census_2012_pop_final.csv')
census_2012_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,822,023","731,449","6,553,255","2,949,131","38,041,430","5,187,582","3,590,347","917,092","632,323",...,"833,354","6,456,243","26,059,203","2,855,287","626,011","8,185,867","6,897,012","1,855,413","5,726,398","576,412"
1,age_male_pop,48.50%,52.10%,49.80%,49.10%,49.70%,50.10%,48.70%,48.50%,47.30%,...,50.10%,48.70%,49.70%,50.30%,49.40%,49.00%,49.90%,49.10%,49.60%,50.80%
2,age_female_pop,51.50%,47.90%,50.20%,50.90%,50.30%,49.90%,51.30%,51.50%,52.70%,...,49.90%,51.30%,50.30%,49.70%,50.60%,51.00%,50.10%,50.90%,50.40%,49.20%
3,age_under_5,6.30%,7.40%,6.70%,6.50%,6.70%,6.50%,5.40%,6.10%,6.20%,...,7.00%,6.20%,7.40%,9.00%,5.00%,6.20%,6.40%,5.70%,6.10%,6.60%
4,age_5 _to_ 17,17.10%,18.20%,18.00%,17.60%,17.60%,17.20%,16.70%,16.20%,11.10%,...,17.50%,16.90%,19.40%,22.00%,14.80%,16.50%,16.60%,15.00%,16.90%,17.10%

In [42]:
census_2012_pop_final = census_2012_pop_final.T.reset_index()
census_2012_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,"735,220",71.70%,28.30%,"1,268,565","123,200","493,033",50.20%,49.80%,"510,756",689
2,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,"103,780",68.50%,31.50%,"159,427","245,100","86,171",52.60%,47.40%,"86,687","1,120"

In [43]:
census_2012_pop_final.columns = census_2012_pop_final.iloc[0]

In [44]:
census_2012_pop_final = census_2012_pop_final[1:]

In [45]:
census_2012_pop_final

,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,"735,220",71.70%,28.30%,"1,268,565","123,200","493,033",50.20%,49.80%,"510,756",689
2,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,"103,780",68.50%,31.50%,"159,427","245,100","86,171",52.60%,47.40%,"86,687","1,120"
3,Arizona,"6,553,255",49.80%,50.20%,6.70%,18.00%,10.00%,13.40%,12.70%,12.80%,...,"982,521",66.30%,33.70%,"1,496,650","151,500","831,643",48.60%,51.40%,"856,506",888
4,Arkansas,"2,949,131",49.10%,50.90%,6.50%,17.60%,9.80%,12.90%,12.50%,13.40%,...,"434,135",74.60%,25.40%,"757,722","107,600","336,178",51.10%,48.90%,"347,234",640
5,California,"38,041,430",49.70%,50.30%,6.70%,17.60%,10.60%,14.40%,13.60%,13.70%,...,"4,977,097",54.10%,45.90%,"6,781,817","349,400","5,475,993",42.40%,57.60%,"5,593,677","1,200"
6,Colorado,"5,187,582",50.10%,49.90%,6.50%,17.20%,9.90%,14.60%,13.70%,14.00%,...,"939,945",67.70%,32.30%,"1,278,158","234,900","683,923",49.00%,51.00%,"693,762",934
7,Connecticut,"3,590,347",48.70%,51.30%,5.40%,16.70%,9.50%,12.00%,12.80%,15.80%,...,"640,037",61.20%,38.80%,"908,452","267,800","420,584",47.00%,53.00%,"430,621","1,019"
8,Delaware,"917,092",48.50%,51.50%,6.10%,16.20%,10.20%,12.40%,12.20%,14.60%,...,"167,313",66.70%,33.30%,"241,050","226,900","93,193",51.40%,48.60%,"95,026",960
9,District of Columbia,"632,323",47.30%,52.70%,6.20%,11.10%,13.20%,22.00%,13.50%,12.00%,...,"86,530",67.90%,32.10%,"110,681","460,700","148,310",51.90%,48.10%,"152,845","1,235"
10,Florida,"19,317,568",48.90%,51.10%,5.50%,15.20%,9.40%,12.30%,12.50%,14.20%,...,"2,865,266",56.80%,43.20%,"4,724,428","148,200","2,286,475",41.40%,58.60%,"2,353,001",954
11,Georgia,"9,919,945",48.90%,51.10%,6.80%,18.40%,10.30%,13.60%,14.00%,14.00%,...,"1,546,204",67.20%,32.80%,"2,248,702","142,300","1,155,452",46.90%,53.10%,"1,199,599",837
12,Hawaii,"1,392,313",50.40%,49.60%,6.40%,15.40%,9.90%,14.30%,12.60%,13.30%,...,"171,847",51.80%,48.20%,"254,770","496,600","175,406",44.70%,55.30%,"179,409","1,379"
13,Idaho,"1,595,728",50.10%,49.90%,7.10%,19.50%,9.90%,13.20%,12.30%,12.70%,...,"268,966",67.30%,32.70%,"398,671","154,500","169,381",50.10%,49.90%,"172,082",702
14,Illinois,"12,875,255",49.10%,50.90%,6.30%,17.50%,9.70%,13.80%,13.20%,14.20%,...,"2,144,528",64.70%,35.30%,"3,177,104","170,600","1,474,649",49.30%,50.70%,"1,519,883",868
15,Indiana,"6,537,334",49.20%,50.80%,6.50%,17.80%,10.20%,12.70%,12.60%,14.10%,...,"1,165,731",76.20%,23.80%,"1,720,780","122,700","699,727",50.80%,49.20%,"719,233",715
16,Iowa,"3,074,186",49.60%,50.40%,6.40%,17.10%,10.20%,12.70%,11.70%,13.80%,...,"544,132",77.70%,22.30%,"882,584","126,300","318,135",55.10%,44.90%,"323,489",661
17,Kansas,"2,885,905",49.70%,50.30%,7.00%,18.00%,10.40%,13.30%,12.00%,13.50%,...,"460,783",75.00%,25.00%,"739,191","130,100","344,536",55.50%,44.50%,"350,761",711
18,Kentucky,"4,380,415",49.20%,50.80%,6.30%,16.90%,9.70%,12.80%,13.00%,14.30%,...,"693,575",73.80%,26.20%,"1,144,309","120,800","497,224",51.70%,48.30%,"509,045",636
19,Louisiana,"4,601,893",48.90%,51.10%,6.70%,17.60%,10.30%,14.00%,12.30%,13.80%,...,"623,870",71.40%,28.60%,"1,130,134","139,500","512,367",47.40%,52.60%,"527,568",747
20,Maine,"1,329,192",49.00%,51.00%,5.00%,15.00%,8.70%,11.10%,12.20%,15.80%,...,"252,345",65.50%,34.50%,"396,014","172,300","144,448",48.20%,51.80%,"146,751",744
21,Maryland,"5,884,563",48.40%,51.60%,6.20%,16.60%,9.70%,13.60%,13.20%,15.20%,...,"1,074,050",66.70%,33.30%,"1,433,937","279,900","686,289",49.40%,50.60%,"699,266","1,170"
22,Massachusetts,"6,646,144",48.40%,51.60%,5.50%,15.60%,10.40%,13.30%,12.90%,15.10%,...,"1,117,315",64.80%,35.20%,"1,570,055","323,800","901,567",50.60%,49.40%,"919,291","1,036"
23,Michigan,"9,883,360",49.10%,50.90%,5.80%,17.20%,10.10%,11.90%,12.40%,14.70%,...,"1,718,142",69.50%,30.50%,"2,713,964","115,700","1,013,088",45.70%,54.30%,"1,044,542",748
24,Minnesota,"5,379,139",49.60%,50.40%,6.50%,17.30%,9.30%,13.70%,12.50%,14.60%,...,"1,033,382",73.00%,27.00%,"1,508,810","178,400","566,699",51.80%,48.20%,"574,365",813
25,Mississippi,"2,984,926",48.30%,51.70%,6.80%,18.30%,10.90%,12.50%,12.60%,13.30%,...,"391,694",68.10%,31.90%,"743,611","99,800","289,207",45.70%,54.30%,"298,549",666
26,Missouri,"6,021,988",49.00%,51.00%,6.20%,17.10%,9.90%,13.10%,12.10%,14.20%,...,"1,016,448",72.20%,27.80%,"1,591,686","135,000","699,981",49.10%,50.90%,"715,241",706
27,Montana,"1,005,141",50.10%,49.90%,5.90%,16.00%,9.80%,12.30%,11.40%,14.10%,...,"158,320",68.20%,31.80%,"274,196","184,800","121,081",52.90%,47.10%,"122,509",681
28,Nebraska,"1,855,525",49.70%,50.30%,7.10%,17.80%,10.00%,13.40%,12.00%,13.50%,...,"305,979",75.70%,24.30%,"486,642","128,300","227,545",57.20%,42.80%,"231,912",692
29,Nevada,"2,758,931",50.40%,49.60%,6.60%,17.50%,9.20%,14.30%,13.80%,13.60%,...,"394,315",60.80%,39.20%,"552,324","150,700","430,727",48.80%,51.20%,"438,537",944
30,New Hampshire,"1,320,718",49.10%,50.90%,5.00%,15.90%,9.50%,11.20%,12.80%,16.60%,...,"251,496",62.10%,37.90%,"367,863","236,000","142,508",51.10%,48.90%,"144,882",967
31,New Jersey,"8,864,590",48.70%,51.30%,5.90%,16.90%,8.90%,12.70%,13.50%,15.40%,...,"1,455,023",56.20%,43.80%,"2,081,481","311,600","1,057,959",45.80%,54.20%,"1,080,817","1,148"
32,New Mexico,"2,085,538",49.60%,50.40%,6.90%,17.90%,10.00%,13.20%,11.90%,13.30%,...,"300,212",66.40%,33.60%,"518,106","157,500","220,926",48.60%,51.40%,"228,984",753
33,New York,"19,570,261",48.50%,51.50%,5.90%,15.80%,10.20%,14.10%,13.00%,14.50%,...,"2,490,162",60.60%,39.40%,"3,883,893","280,900","3,162,481",46.60%,53.40%,"3,238,859","1,079"
34,North Carolina,"9,752,073",48.70%,51.30%,6.30%,17.10%,10.00%,12.80%,13.60%,14.00%,...,"1,601,475",69.50%,30.50%,"2,441,626","150,100","1,164,743",50.30%,49.70%,"1,194,189",756
35,North Dakota,"699,628",51.10%,48.90%,6.40%,15.60%,12.50%,14.10%,11.10%,13.20%,...,"101,113",82.60%,17.40%,"189,193","142,500","91,424",64.70%,35.30%,"93,671",644
36,Ohio,"11,544,225",48.90%,51.10%,6.00%,17.10%,9.60%,12.40%,12.40%,14.50%,...,"1,985,634",72.70%,27.30%,"3,019,382","127,600","1,414,197",50.70%,49.30%,"1,454,504",700
37,Oklahoma,"3,814,820",49.50%,50.50%,6.90%,17.70%,10.30%,13.50%,12.30%,13.30%,...,"552,726",73.90%,26.10%,"960,369","114,300","431,500",52.20%,47.80%,"442,579",686
38,Oregon,"3,899,353",49.60%,50.40%,6.00%,16.10%,9.40%,13.70%,13.00%,13.40%,...,"634,931",61.90%,38.10%,"933,775","223,900","542,876",46.30%,53.70%,"555,909",862
39,Pennsylvania,"12,763,536",48.80%,51.20%,5.60%,15.80%,9.90%,12.30%,12.20%,14.70%,...,"2,113,471",69.80%,30.20%,"3,416,499","163,800","1,418,661",50.10%,49.90%,"1,452,194",798
40,Rhode Island,"1,050,292",48.30%,51.70%,5.30%,15.30%,11.50%,12.30%,12.40%,15.00%,...,"176,302",62.00%,38.00%,"247,790","234,600","156,177",49.40%,50.60%,"160,588",878
41,South Carolina,"4,723,723",48.60%,51.40%,6.20%,16.60%,10.40%,12.70%,12.70%,13.70%,...,"738,930",69.80%,30.20%,"1,217,692","135,500","500,702",47.40%,52.60%,"516,387",754
42,South Dakota,"833,354",50.10%,49.90%,7.00%,17.50%,10.20%,13.30%,11.30%,13.30%,...,"124,002",76.70%,23.30%,"217,200","134,300","95,865",59.20%,40.80%,"96,921",651
43,Tennessee,"6,456,243",48.70%,51.30%,6.20%,16.90%,9.70%,13.10%,13.10%,14.00%,...,"1,016,333",69.30%,30.70%,"1,654,001","137,800","732,968",49.00%,51.00%,"754,900",730
44,Texas,"26,059,203",49.70%,50.30%,7.40%,19.40%,10.30%,14.40%,13.70%,13.20%,...,"3,393,399",70.80%,29.20%,"5,586,856","129,200","3,121,220",51.80%,48.20%,"3,193,169",831
45,Utah,"2,855,287",50.30%,49.70%,9.00%,22.00%,11.40%,15.60%,12.50%,10.80%,...,"453,147",68.20%,31.80%,"623,589","199,700","254,419",50.40%,49.60%,"259,174",851
46,Vermont,"626,011",49.40%,50.60%,5.00%,14.80%,10.70%,11.20%,11.70%,15.60%,...,"120,111",64.10%,35.90%,"183,563","216,900","69,443",49.30%,50.70%,"69,963",860
47,Virginia,"8,185,867",49.00%,51.00%,6.20%,16.50%,10.10%,13.90%,13.50%,14.60%,...,"1,430,357",68.50%,31.50%,"2,010,442","237,800","949,813",49.80%,50.20%,"969,687","1,068"
48,Washington,"6,897,012",49.90%,50.10%,6.40%,16.60%,9.70%,14.10%,13.30%,14.00%,...,"1,158,318",63.30%,36.70%,"1,643,637","243,000","934,954",49.30%,50.70%,"954,331",954
49,West Virginia,"1,855,413",49.10%,50.90%,5.70%,15.00%,9.40%,11.80%,12.40%,14.20%,...,"257,167",77.50%,22.50%,"533,758","100,400","167,993",51.90%,48.10%,"174,700",607
50,Wisconsin,"5,726,398",49.60%,50.40%,6.10%,16.90%,9.70%,12.80%,12.20%,14.90%,...,"1,019,494",70.10%,29.90%,"1,539,778","165,200","706,393",51.30%,48.70%,"718,608",743
51,Wyoming,"576,412",50.80%,49.20%,6.60%,17.10%,10.20%,13.90%,12.00%,13.50%,...,"88,605",75.60%,24.40%,"154,329","187,400","61,737",56.50%,43.50%,"62,166",742

In [46]:
census_2012_pop_final = census_2012_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [47]:
census_2012_pop_final['Year'] = 2012
census_2012_pop_final

,State,pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,Year
1,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,71.70%,28.30%,"1,268,565","123,200","493,033",50.20%,49.80%,"510,756",689,2012
2,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,68.50%,31.50%,"159,427","245,100","86,171",52.60%,47.40%,"86,687","1,120",2012
3,Arizona,"6,553,255",49.80%,50.20%,6.70%,18.00%,10.00%,13.40%,12.70%,12.80%,...,66.30%,33.70%,"1,496,650","151,500","831,643",48.60%,51.40%,"856,506",888,2012
4,Arkansas,"2,949,131",49.10%,50.90%,6.50%,17.60%,9.80%,12.90%,12.50%,13.40%,...,74.60%,25.40%,"757,722","107,600","336,178",51.10%,48.90%,"347,234",640,2012
5,California,"38,041,430",49.70%,50.30%,6.70%,17.60%,10.60%,14.40%,13.60%,13.70%,...,54.10%,45.90%,"6,781,817","349,400","5,475,993",42.40%,57.60%,"5,593,677","1,200",2012
6,Colorado,"5,187,582",50.10%,49.90%,6.50%,17.20%,9.90%,14.60%,13.70%,14.00%,...,67.70%,32.30%,"1,278,158","234,900","683,923",49.00%,51.00%,"693,762",934,2012
7,Connecticut,"3,590,347",48.70%,51.30%,5.40%,16.70%,9.50%,12.00%,12.80%,15.80%,...,61.20%,38.80%,"908,452","267,800","420,584",47.00%,53.00%,"430,621","1,019",2012
8,Delaware,"917,092",48.50%,51.50%,6.10%,16.20%,10.20%,12.40%,12.20%,14.60%,...,66.70%,33.30%,"241,050","226,900","93,193",51.40%,48.60%,"95,026",960,2012
9,District of Columbia,"632,323",47.30%,52.70%,6.20%,11.10%,13.20%,22.00%,13.50%,12.00%,...,67.90%,32.10%,"110,681","460,700","148,310",51.90%,48.10%,"152,845","1,235",2012
10,Florida,"19,317,568",48.90%,51.10%,5.50%,15.20%,9.40%,12.30%,12.50%,14.20%,...,56.80%,43.20%,"4,724,428","148,200","2,286,475",41.40%,58.60%,"2,353,001",954,2012
11,Georgia,"9,919,945",48.90%,51.10%,6.80%,18.40%,10.30%,13.60%,14.00%,14.00%,...,67.20%,32.80%,"2,248,702","142,300","1,155,452",46.90%,53.10%,"1,199,599",837,2012
12,Hawaii,"1,392,313",50.40%,49.60%,6.40%,15.40%,9.90%,14.30%,12.60%,13.30%,...,51.80%,48.20%,"254,770","496,600","175,406",44.70%,55.30%,"179,409","1,379",2012
13,Idaho,"1,595,728",50.10%,49.90%,7.10%,19.50%,9.90%,13.20%,12.30%,12.70%,...,67.30%,32.70%,"398,671","154,500","169,381",50.10%,49.90%,"172,082",702,2012
14,Illinois,"12,875,255",49.10%,50.90%,6.30%,17.50%,9.70%,13.80%,13.20%,14.20%,...,64.70%,35.30%,"3,177,104","170,600","1,474,649",49.30%,50.70%,"1,519,883",868,2012
15,Indiana,"6,537,334",49.20%,50.80%,6.50%,17.80%,10.20%,12.70%,12.60%,14.10%,...,76.20%,23.80%,"1,720,780","122,700","699,727",50.80%,49.20%,"719,233",715,2012
16,Iowa,"3,074,186",49.60%,50.40%,6.40%,17.10%,10.20%,12.70%,11.70%,13.80%,...,77.70%,22.30%,"882,584","126,300","318,135",55.10%,44.90%,"323,489",661,2012
17,Kansas,"2,885,905",49.70%,50.30%,7.00%,18.00%,10.40%,13.30%,12.00%,13.50%,...,75.00%,25.00%,"739,191","130,100","344,536",55.50%,44.50%,"350,761",711,2012
18,Kentucky,"4,380,415",49.20%,50.80%,6.30%,16.90%,9.70%,12.80%,13.00%,14.30%,...,73.80%,26.20%,"1,144,309","120,800","497,224",51.70%,48.30%,"509,045",636,2012
19,Louisiana,"4,601,893",48.90%,51.10%,6.70%,17.60%,10.30%,14.00%,12.30%,13.80%,...,71.40%,28.60%,"1,130,134","139,500","512,367",47.40%,52.60%,"527,568",747,2012
20,Maine,"1,329,192",49.00%,51.00%,5.00%,15.00%,8.70%,11.10%,12.20%,15.80%,...,65.50%,34.50%,"396,014","172,300","144,448",48.20%,51.80%,"146,751",744,2012
21,Maryland,"5,884,563",48.40%,51.60%,6.20%,16.60%,9.70%,13.60%,13.20%,15.20%,...,66.70%,33.30%,"1,433,937","279,900","686,289",49.40%,50.60%,"699,266","1,170",2012
22,Massachusetts,"6,646,144",48.40%,51.60%,5.50%,15.60%,10.40%,13.30%,12.90%,15.10%,...,64.80%,35.20%,"1,570,055","323,800","901,567",50.60%,49.40%,"919,291","1,036",2012
23,Michigan,"9,883,360",49.10%,50.90%,5.80%,17.20%,10.10%,11.90%,12.40%,14.70%,...,69.50%,30.50%,"2,713,964","115,700","1,013,088",45.70%,54.30%,"1,044,542",748,2012
24,Minnesota,"5,379,139",49.60%,50.40%,6.50%,17.30%,9.30%,13.70%,12.50%,14.60%,...,73.00%,27.00%,"1,508,810","178,400","566,699",51.80%,48.20%,"574,365",813,2012
25,Mississippi,"2,984,926",48.30%,51.70%,6.80%,18.30%,10.90%,12.50%,12.60%,13.30%,...,68.10%,31.90%,"743,611","99,800","289,207",45.70%,54.30%,"298,549",666,2012
26,Missouri,"6,021,988",49.00%,51.00%,6.20%,17.10%,9.90%,13.10%,12.10%,14.20%,...,72.20%,27.80%,"1,591,686","135,000","699,981",49.10%,50.90%,"715,241",706,2012
27,Montana,"1,005,141",50.10%,49.90%,5.90%,16.00%,9.80%,12.30%,11.40%,14.10%,...,68.20%,31.80%,"274,196","184,800","121,081",52.90%,47.10%,"122,509",681,2012
28,Nebraska,"1,855,525",49.70%,50.30%,7.10%,17.80%,10.00%,13.40%,12.00%,13.50%,...,75.70%,24.30%,"486,642","128,300","227,545",57.20%,42.80%,"231,912",692,2012
29,Nevada,"2,758,931",50.40%,49.60%,6.60%,17.50%,9.20%,14.30%,13.80%,13.60%,...,60.80%,39.20%,"552,324","150,700","430,727",48.80%,51.20%,"438,537",944,2012
30,New Hampshire,"1,320,718",49.10%,50.90%,5.00%,15.90%,9.50%,11.20%,12.80%,16.60%,...,62.10%,37.90%,"367,863","236,000","142,508",51.10%,48.90%,"144,882",967,2012
31,New Jersey,"8,864,590",48.70%,51.30%,5.90%,16.90%,8.90%,12.70%,13.50%,15.40%,...,56.20%,43.80%,"2,081,481","311,600","1,057,959",45.80%,54.20%,"1,080,817","1,148",2012
32,New Mexico,"2,085,538",49.60%,50.40%,6.90%,17.90%,10.00%,13.20%,11.90%,13.30%,...,66.40%,33.60%,"518,106","157,500","220,926",48.60%,51.40%,"228,984",753,2012
33,New York,"19,570,261",48.50%,51.50%,5.90%,15.80%,10.20%,14.10%,13.00%,14.50%,...,60.60%,39.40%,"3,883,893","280,900","3,162,481",46.60%,53.40%,"3,238,859","1,079",2012
34,North Carolina,"9,752,073",48.70%,51.30%,6.30%,17.10%,10.00%,12.80%,13.60%,14.00%,...,69.50%,30.50%,"2,441,626","150,100","1,164,743",50.30%,49.70%,"1,194,189",756,2012
35,North Dakota,"699,628",51.10%,48.90%,6.40%,15.60%,12.50%,14.10%,11.10%,13.20%,...,82.60%,17.40%,"189,193","142,500","91,424",64.70%,35.30%,"93,671",644,2012
36,Ohio,"11,544,225",48.90%,51.10%,6.00%,17.10%,9.60%,12.40%,12.40%,14.50%,...,72.70%,27.30%,"3,019,382","127,600","1,414,197",50.70%,49.30%,"1,454,504",700,2012
37,Oklahoma,"3,814,820",49.50%,50.50%,6.90%,17.70%,10.30%,13.50%,12.30%,13.30%,...,73.90%,26.10%,"960,369","114,300","431,500",52.20%,47.80%,"442,579",686,2012
38,Oregon,"3,899,353",49.60%,50.40%,6.00%,16.10%,9.40%,13.70%,13.00%,13.40%,...,61.90%,38.10%,"933,775","223,900","542,876",46.30%,53.70%,"555,909",862,2012
39,Pennsylvania,"12,763,536",48.80%,51.20%,5.60%,15.80%,9.90%,12.30%,12.20%,14.70%,...,69.80%,30.20%,"3,416,499","163,800","1,418,661",50.10%,49.90%,"1,452,194",798,2012
40,Rhode Island,"1,050,292",48.30%,51.70%,5.30%,15.30%,11.50%,12.30%,12.40%,15.00%,...,62.00%,38.00%,"247,790","234,600","156,177",49.40%,50.60%,"160,588",878,2012
41,South Carolina,"4,723,723",48.60%,51.40%,6.20%,16.60%,10.40%,12.70%,12.70%,13.70%,...,69.80%,30.20%,"1,217,692","135,500","500,702",47.40%,52.60%,"516,387",754,2012
42,South Dakota,"833,354",50.10%,49.90%,7.00%,17.50%,10.20%,13.30%,11.30%,13.30%,...,76.70%,23.30%,"217,200","134,300","95,865",59.20%,40.80%,"96,921",651,2012
43,Tennessee,"6,456,243",48.70%,51.30%,6.20%,16.90%,9.70%,13.10%,13.10%,14.00%,...,69.30%,30.70%,"1,654,001","137,800","732,968",49.00%,51.00%,"754,900",730,2012
44,Texas,"26,059,203",49.70%,50.30%,7.40%,19.40%,10.30%,14.40%,13.70%,13.20%,...,70.80%,29.20%,"5,586,856","129,200","3,121,220",51.80%,48.20%,"3,193,169",831,2012
45,Utah,"2,855,287",50.30%,49.70%,9.00%,22.00%,11.40%,15.60%,12.50%,10.80%,...,68.20%,31.80%,"623,589","199,700","254,419",50.40%,49.60%,"259,174",851,2012
46,Vermont,"626,011",49.40%,50.60%,5.00%,14.80%,10.70%,11.20%,11.70%,15.60%,...,64.10%,35.90%,"183,563","216,900","69,443",49.30%,50.70%,"69,963",860,2012
47,Virginia,"8,185,867",49.00%,51.00%,6.20%,16.50%,10.10%,13.90%,13.50%,14.60%,...,68.50%,31.50%,"2,010,442","237,800","949,813",49.80%,50.20%,"969,687","1,068",2012
48,Washington,"6,897,012",49.90%,50.10%,6.40%,16.60%,9.70%,14.10%,13.30%,14.00%,...,63.30%,36.70%,"1,643,637","243,000","934,954",49.30%,50.70%,"954,331",954,2012
49,West Virginia,"1,855,413",49.10%,50.90%,5.70%,15.00%,9.40%,11.80%,12.40%,14.20%,...,77.50%,22.50%,"533,758","100,400","167,993",51.90%,48.10%,"174,700",607,2012
50,Wisconsin,"5,726,398",49.60%,50.40%,6.10%,16.90%,9.70%,12.80%,12.20%,14.90%,...,70.10%,29.90%,"1,539,778","165,200","706,393",51.30%,48.70%,"718,608",743,2012
51,Wyoming,"576,412",50.80%,49.20%,6.60%,17.10%,10.20%,13.90%,12.00%,13.50%,...,75.60%,24.40%,"154,329","187,400","61,737",56.50%,43.50%,"62,166",742,2012

In [48]:
census_2012_pop_final.dtypes

0
State                  object
pop_total              object
age_male_pop           object
age_female_pop         object
age_under_5            object
                        ...
rent_burden_lt_30      object
rent_burden_gte_30     object
occupied_units_rent    object
gross_median_rent      object
Year                    int64
Length: 122, dtype: object

In [49]:
census_2017_pop_final = pd.read_csv('../data/census_2017_pop_final.csv')
census_2017_pop_final.head()

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"4,874,747","739,795","7,016,270","3,004,279","39,536,653","5,607,154","3,588,184","961,939","693,972",...,"869,666","6,715,984","28,304,596","3,101,833","623,657","8,470,020","7,405,743","1,815,857","5,795,483","579,315"
1,age_male_pop,48.40%,52.10%,49.70%,49.30%,49.70%,50.30%,48.80%,48.40%,47.40%,...,50.40%,48.70%,49.70%,50.40%,49.40%,49.20%,49.90%,49.40%,49.70%,51.10%
2,age_female_pop,51.60%,47.90%,50.30%,50.70%,50.30%,49.70%,51.20%,51.60%,52.60%,...,49.60%,51.30%,50.30%,49.60%,50.60%,50.80%,50.10%,50.60%,50.30%,48.90%
3,age_under_5,5.90%,7.20%,6.20%,6.20%,6.20%,5.90%,5.10%,5.70%,6.50%,...,7.00%,6.00%,7.10%,8.20%,4.80%,5.90%,6.10%,5.40%,5.80%,6.50%
4,age_5 _to_ 17,16.50%,17.90%,17.10%,17.40%,16.70%,16.60%,15.60%,15.50%,11.50%,...,17.60%,16.40%,18.90%,21.70%,14.10%,16.10%,16.10%,15.20%,16.30%,17.30%

In [50]:
census_2017_pop_final = census_2017_pop_final.T.reset_index()
census_2017_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18 _to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rented,gross_rent_median
1,Alabama,"4,874,747",48.40%,51.60%,5.90%,16.50%,9.70%,12.90%,12.20%,12.90%,...,"701,526",76.80%,23.20%,"1,253,199","141,300","506,671",52.60%,47.40%,"525,186",750
2,Alaska,"739,795",52.10%,47.90%,7.20%,17.90%,9.90%,16.00%,13.10%,12.00%,...,"101,910",70.70%,29.30%,"159,344","273,100","83,787",54.20%,45.80%,"84,396","1,201"

In [51]:
census_2017_pop_final.columns = census_2017_pop_final.iloc[0]

In [52]:
census_2017_pop_final = census_2017_pop_final[1:]

In [53]:
census_2017_pop_final

,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18 _to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rented,gross_rent_median
1,Alabama,"4,874,747",48.40%,51.60%,5.90%,16.50%,9.70%,12.90%,12.20%,12.90%,...,"701,526",76.80%,23.20%,"1,253,199","141,300","506,671",52.60%,47.40%,"525,186",750
2,Alaska,"739,795",52.10%,47.90%,7.20%,17.90%,9.90%,16.00%,13.10%,12.00%,...,"101,910",70.70%,29.30%,"159,344","273,100","83,787",54.20%,45.80%,"84,396","1,201"
3,Arizona,"7,016,270",49.70%,50.30%,6.20%,17.10%,9.60%,13.60%,12.20%,12.10%,...,"1,054,673",71.80%,28.20%,"1,652,321","223,400","836,609",51.70%,48.30%,"859,557","1,020"
4,Arkansas,"3,004,279",49.30%,50.70%,6.20%,17.40%,9.60%,12.70%,12.30%,12.50%,...,"413,269",78.80%,21.20%,"752,399","128,500","355,860",55.50%,44.50%,"365,461",711
5,California,"39,536,653",49.70%,50.30%,6.20%,16.70%,9.60%,15.20%,13.20%,13.10%,...,"4,998,509",61.60%,38.40%,"7,125,090","509,400","5,588,574",44.80%,55.20%,"5,697,421","1,447"
6,Colorado,"5,607,154",50.30%,49.70%,5.90%,16.60%,9.30%,15.50%,13.60%,12.70%,...,"989,124",72.80%,27.20%,"1,394,824","348,900","706,299",48.10%,51.90%,"717,989","1,240"
7,Connecticut,"3,588,184",48.80%,51.20%,5.10%,15.60%,9.80%,12.40%,11.70%,14.40%,...,"608,996",69.10%,30.90%,"898,234","273,100","430,519",48.60%,51.40%,"439,295","1,125"
8,Delaware,"961,939",48.40%,51.60%,5.70%,15.50%,8.70%,13.60%,11.50%,12.90%,...,"161,515",72.00%,28.00%,"253,948","252,800","93,164",51.30%,48.70%,"99,986","1,086"
9,District of Columbia,"693,972",47.40%,52.60%,6.50%,11.50%,10.80%,23.40%,14.70%,11.00%,...,"89,659",73.20%,26.80%,"118,805","607,200","152,388",52.10%,47.90%,"158,550","1,499"
10,Florida,"20,984,400",48.90%,51.10%,5.40%,14.60%,8.40%,12.90%,12.10%,13.20%,...,"2,823,933",67.00%,33.00%,"5,010,187","214,000","2,492,817",43.60%,56.40%,"2,565,527","1,128"
11,Georgia,"10,429,379",48.60%,51.40%,6.30%,17.80%,9.80%,13.60%,13.30%,13.60%,...,"1,518,788",74.80%,25.20%,"2,354,922","173,700","1,285,297",52.00%,48.00%,"1,321,593",958
12,Hawaii,"1,427,538",50.20%,49.80%,6.30%,15.20%,8.70%,14.40%,12.70%,12.20%,...,"171,040",61.00%,39.00%,"268,078","617,400","174,878",43.80%,56.20%,"177,512","1,573"
13,Idaho,"1,716,943",50.20%,49.80%,6.80%,19.00%,9.40%,12.90%,12.60%,11.60%,...,"277,640",73.80%,26.20%,"435,493","207,100","172,758",54.20%,45.80%,"177,724",822
14,Illinois,"12,802,023",49.20%,50.80%,6.00%,16.60%,9.40%,13.80%,12.90%,13.10%,...,"1,998,263",72.80%,27.20%,"3,182,232","195,300","1,512,887",51.40%,48.60%,"1,558,423",974
15,Indiana,"6,666,818",49.30%,50.70%,6.30%,17.30%,9.90%,13.00%,12.30%,12.80%,...,"1,150,942",81.00%,19.00%,"1,765,500","141,100","722,265",54.30%,45.70%,"747,371",793
16,Iowa,"3,145,711",49.70%,50.30%,6.30%,16.90%,10.20%,12.50%,11.90%,12.20%,...,"551,903",81.10%,18.90%,"900,362","149,100","328,803",57.80%,42.20%,"335,444",760
17,Kansas,"2,913,123",49.90%,50.10%,6.60%,17.80%,10.20%,13.20%,12.20%,11.80%,...,"436,691",80.10%,19.90%,"743,508","150,600","358,706",56.00%,44.00%,"365,853",815
18,Kentucky,"4,454,189",49.30%,50.70%,6.20%,16.60%,9.40%,12.90%,12.50%,13.10%,...,"664,901",78.10%,21.90%,"1,146,668","141,000","510,116",56.50%,43.50%,"524,986",724
19,Louisiana,"4,684,333",48.90%,51.10%,6.50%,17.10%,9.70%,14.00%,12.60%,12.30%,...,"590,838",74.60%,25.40%,"1,132,229","162,500","518,902",44.60%,55.40%,"539,054",836
20,Maine,"1,335,907",49.00%,51.00%,4.80%,14.20%,8.20%,11.90%,11.30%,13.80%,...,"241,999",73.70%,26.30%,"395,809","191,200","131,372",55.40%,44.60%,"133,662",806
21,Maryland,"6,052,177",48.50%,51.50%,6.00%,16.30%,8.90%,13.80%,12.80%,14.00%,...,"1,068,910",72.90%,27.10%,"1,472,500","312,500","698,269",50.00%,50.00%,"709,705","1,337"
22,Massachusetts,"6,859,819",48.60%,51.40%,5.30%,14.70%,10.20%,14.20%,12.20%,13.70%,...,"1,131,683",70.60%,29.40%,"1,623,515","385,400","929,089",50.80%,49.20%,"951,688","1,208"
23,Michigan,"9,962,311",49.30%,50.70%,5.70%,16.10%,9.70%,12.70%,11.60%,13.30%,...,"1,681,024",77.20%,22.80%,"2,803,372","155,700","1,044,041",51.80%,48.20%,"1,070,220",835
24,Minnesota,"5,576,606",49.90%,50.10%,6.30%,16.90%,9.00%,13.60%,12.60%,12.70%,...,"1,036,113",78.20%,21.80%,"1,547,594","224,000","583,821",54.00%,46.00%,"590,552",939
25,Mississippi,"2,984,100",48.50%,51.50%,6.10%,17.80%,10.40%,12.20%,12.70%,12.40%,...,"365,257",74.50%,25.50%,"748,055","120,200","288,505",52.00%,48.00%,"300,261",742
26,Missouri,"6,113,532",49.10%,50.90%,6.10%,16.60%,9.40%,13.30%,11.90%,12.70%,...,"984,417",78.40%,21.60%,"1,596,870","156,700","724,549",55.30%,44.70%,"739,845",800
27,Montana,"1,050,493",50.10%,49.90%,5.80%,16.00%,9.20%,12.60%,11.90%,11.70%,...,"166,001",72.50%,27.50%,"292,585","231,300","118,284",55.60%,44.40%,"119,850",759
28,Nebraska,"1,920,076",50.00%,50.00%,6.90%,17.90%,9.70%,13.50%,12.30%,11.70%,...,"303,797",79.00%,21.00%,"500,086","155,800","234,345",60.00%,40.00%,"239,436",801
29,Nevada,"2,998,039",50.20%,49.80%,6.10%,16.70%,8.40%,14.50%,13.30%,13.20%,...,"425,607",70.00%,30.00%,"619,309","258,200","451,440",52.10%,47.90%,"462,895","1,051"
30,New Hampshire,"1,342,795",49.60%,50.40%,4.70%,14.50%,9.40%,12.20%,11.30%,14.60%,...,"242,001",73.10%,26.90%,"369,037","263,600","152,332",53.40%,46.60%,"154,201","1,072"
31,New Jersey,"9,005,644",48.80%,51.20%,5.80%,16.20%,8.80%,12.90%,12.90%,14.20%,...,"1,370,181",65.60%,34.40%,"2,053,929","334,900","1,105,474",48.30%,51.70%,"1,129,441","1,284"
32,New Mexico,"2,088,070",49.50%,50.50%,6.10%,17.40%,9.90%,13.10%,12.00%,11.50%,...,"275,210",70.10%,29.90%,"521,450","171,300","217,299",51.00%,49.00%,"224,577",813
33,New York,"19,849,399",48.60%,51.40%,5.80%,15.10%,9.40%,14.70%,12.50%,13.40%,...,"2,383,720",66.80%,33.20%,"3,930,033","314,500","3,184,751",47.30%,52.70%,"3,255,748","1,226"
34,North Carolina,"10,273,419",48.70%,51.30%,5.90%,16.50%,9.50%,13.20%,12.70%,13.50%,...,"1,623,484",75.90%,24.10%,"2,586,616","171,200","1,248,740",53.60%,46.40%,"1,280,412",861
35,North Dakota,"755,393",51.40%,48.60%,7.00%,15.90%,11.40%,15.10%,11.80%,10.90%,...,"109,141",83.10%,16.90%,"200,554","194,700","106,206",60.10%,39.90%,"107,867",785
36,Ohio,"11,658,609",49.00%,51.00%,6.00%,16.40%,9.20%,13.10%,11.90%,13.00%,...,"1,920,911",79.40%,20.60%,"3,070,181","144,200","1,481,880",55.70%,44.30%,"1,516,601",772
37,Oklahoma,"3,930,864",49.60%,50.40%,6.70%,17.80%,9.70%,13.70%,12.40%,11.90%,...,"524,602",76.10%,23.90%,"962,483","137,400","452,404",54.50%,45.50%,"463,286",780
38,Oregon,"4,142,776",49.60%,50.40%,5.60%,15.50%,8.90%,14.00%,13.30%,12.50%,...,"668,558",68.20%,31.80%,"1,007,015","319,200","562,264",48.40%,51.60%,"573,421","1,079"
39,Pennsylvania,"12,805,537",49.00%,51.00%,5.50%,15.30%,9.20%,13.10%,11.60%,13.30%,...,"2,053,694",75.60%,24.40%,"3,421,017","181,200","1,428,017",52.70%,47.30%,"1,491,279",893
40,Rhode Island,"1,059,639",48.40%,51.60%,5.20%,14.30%,10.90%,13.80%,11.60%,13.50%,...,"171,802",68.40%,31.60%,"248,723","257,800","150,957",54.40%,45.60%,"154,825",941
41,South Carolina,"5,024,369",48.50%,51.50%,5.80%,16.20%,9.50%,12.90%,12.30%,12.80%,...,"750,353",74.90%,25.10%,"1,309,670","161,800","530,656",49.70%,50.30%,"545,954",848
42,South Dakota,"869,666",50.40%,49.60%,7.00%,17.60%,9.40%,13.30%,11.50%,11.40%,...,"128,467",80.90%,19.10%,"233,092","167,600","102,898",59.20%,40.80%,"104,764",722
43,Tennessee,"6,715,984",48.70%,51.30%,6.00%,16.40%,9.20%,13.50%,12.50%,13.30%,...,"991,447",76.10%,23.90%,"1,693,790","167,500","805,441",54.50%,45.50%,"828,612",833
44,Texas,"28,304,596",49.70%,50.30%,7.10%,18.90%,9.90%,14.60%,13.50%,12.50%,...,"3,420,493",74.20%,25.80%,"5,964,183","172,200","3,397,060",52.00%,48.00%,"3,486,567",987
45,Utah,"3,101,833",50.40%,49.60%,8.20%,21.70%,11.30%,14.60%,13.70%,10.20%,...,"483,465",76.10%,23.90%,"681,563","275,100","276,654",55.70%,44.30%,"281,943",986
46,Vermont,"623,657",49.40%,50.60%,4.80%,14.10%,10.70%,11.80%,11.10%,13.30%,...,"110,178",67.90%,32.10%,"178,405","226,300","72,542",49.40%,50.60%,"73,452",950
47,Virginia,"8,470,020",49.20%,50.80%,5.90%,16.10%,9.70%,13.80%,13.10%,13.50%,...,"1,424,970",73.90%,26.10%,"2,077,417","273,400","972,670",53.10%,46.90%,"990,189","1,179"
48,Washington,"7,405,743",49.90%,50.10%,6.10%,16.10%,8.90%,14.90%,13.20%,12.80%,...,"1,222,198",71.10%,28.90%,"1,783,549","339,000","998,500",52.20%,47.80%,"1,013,454","1,216"
49,West Virginia,"1,815,857",49.40%,50.60%,5.40%,15.20%,9.00%,11.50%,12.20%,13.10%,...,"237,167",77.90%,22.10%,"518,882","119,800","160,122",51.40%,48.60%,"166,391",690
50,Wisconsin,"5,795,483",49.70%,50.30%,5.80%,16.30%,9.60%,12.50%,12.10%,13.10%,...,"1,000,528",77.60%,22.40%,"1,565,599","178,900","736,653",56.40%,43.60%,"751,576",819
51,Wyoming,"579,315",51.10%,48.90%,6.50%,17.30%,9.20%,13.80%,12.20%,11.20%,...,"92,477",76.00%,24.00%,"159,792","214,300","58,977",57.40%,42.60%,"59,964",832

In [54]:
census_2017_pop_final = census_2017_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [55]:
census_2017_pop_final['Year'] = 2017
census_2017_pop_final.head()

,State,pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18 _to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rented,gross_rent_median,Year
1,Alabama,"4,874,747",48.40%,51.60%,5.90%,16.50%,9.70%,12.90%,12.20%,12.90%,...,76.80%,23.20%,"1,253,199","141,300","506,671",52.60%,47.40%,"525,186",750,2017
2,Alaska,"739,795",52.10%,47.90%,7.20%,17.90%,9.90%,16.00%,13.10%,12.00%,...,70.70%,29.30%,"159,344","273,100","83,787",54.20%,45.80%,"84,396","1,201",2017
3,Arizona,"7,016,270",49.70%,50.30%,6.20%,17.10%,9.60%,13.60%,12.20%,12.10%,...,71.80%,28.20%,"1,652,321","223,400","836,609",51.70%,48.30%,"859,557","1,020",2017
4,Arkansas,"3,004,279",49.30%,50.70%,6.20%,17.40%,9.60%,12.70%,12.30%,12.50%,...,78.80%,21.20%,"752,399","128,500","355,860",55.50%,44.50%,"365,461",711,2017
5,California,"39,536,653",49.70%,50.30%,6.20%,16.70%,9.60%,15.20%,13.20%,13.10%,...,61.60%,38.40%,"7,125,090","509,400","5,588,574",44.80%,55.20%,"5,697,421","1,447",2017

In [56]:
census_2022_pop_final = pd.read_csv('../data/census_2022_pop_final.csv')
census_2022_pop_final

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,pop_total,"5,074,296","733,583","7,359,197","3,045,637","39,029,342","5,839,926","3,626,205","1,018,396","671,803",...,"909,824","7,051,339","30,029,572","3,380,800","647,064","8,683,619","7,785,786","1,775,156","5,892,539","581,381"
1,age_male_pop,48.50%,52.60%,50.00%,49.40%,50.10%,50.70%,49.00%,48.60%,47.60%,...,50.80%,49.10%,50.00%,50.80%,49.60%,49.50%,50.50%,49.70%,50.20%,51.20%
2,age_female_pop,51.50%,47.40%,50.00%,50.60%,49.90%,49.30%,51.00%,51.40%,52.40%,...,49.20%,50.90%,50.00%,49.20%,50.40%,50.50%,49.50%,50.30%,49.80%,48.80%
3,age_under_5,5.60%,6.30%,5.30%,5.80%,5.40%,5.20%,4.90%,5.30%,5.80%,...,6.30%,5.70%,6.30%,6.80%,4.30%,5.50%,5.40%,4.90%,5.20%,5.20%
4,age_5 _to_ 17,16.30%,17.60%,16.20%,17.00%,16.30%,15.50%,15.20%,15.10%,12.70%,...,17.80%,16.10%,18.50%,20.80%,13.30%,15.90%,15.70%,14.90%,15.80%,17.10%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,occupied_units_with_rent,"517,883","84,809","867,455","359,076","5,676,089","765,346","448,123","96,742","184,218",...,"101,764","842,660","3,893,814","307,419","67,396","1,027,030","1,046,656","155,499","748,787","58,178"
116,rent_burden_lt_30,50.50%,56.90%,47.20%,54.20%,44.00%,46.80%,46.60%,51.70%,52.60%,...,60.60%,51.20%,47.00%,52.40%,49.10%,50.30%,48.80%,49.50%,54.60%,55.90%
117,rent_burden_gte_30,49.50%,43.10%,52.80%,45.80%,56.00%,53.20%,53.40%,48.30%,47.40%,...,39.40%,48.80%,53.00%,47.60%,50.90%,49.70%,51.20%,50.50%,45.40%,44.10%
118,occupied_units_rent,"535,960","85,226","887,809","371,478","5,782,651","774,741","460,870","98,064","188,879",...,"103,522","862,913","3,977,897","310,688","68,909","1,047,336","1,063,333","160,930","763,110","59,616"
119,gross_median_rent,913,"1,329","1,450",846,"1,870","1,646","1,360","1,274","1,843",...,866,"1,096","1,290","1,372","1,141","1,441","1,630",795,992,895

In [57]:
census_2022_pop_final = census_2022_pop_final.T.reset_index()
census_2022_pop_final.head(3)

,index,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"5,074,296",48.50%,51.50%,5.60%,16.30%,9.60%,12.90%,12.50%,12.20%,...,"768,014",77.00%,23.00%,"1,416,333","200,900","517,883",50.50%,49.50%,"535,960",913
2,Alaska,"733,583",52.60%,47.40%,6.30%,17.60%,9.40%,15.50%,14.30%,11.20%,...,"110,040",70.90%,29.10%,"181,586","336,900","84,809",56.90%,43.10%,"85,226","1,329"

In [58]:
census_2022_pop_final.columns = census_2022_pop_final.iloc[0]

In [59]:
census_2022_pop_final = census_2022_pop_final[1:]

In [60]:
census_2022_pop_final

,Label (Grouping),pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,units_with_mortgage,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent
1,Alabama,"5,074,296",48.50%,51.50%,5.60%,16.30%,9.60%,12.90%,12.50%,12.20%,...,"768,014",77.00%,23.00%,"1,416,333","200,900","517,883",50.50%,49.50%,"535,960",913
2,Alaska,"733,583",52.60%,47.40%,6.30%,17.60%,9.40%,15.50%,14.30%,11.20%,...,"110,040",70.90%,29.10%,"181,586","336,900","84,809",56.90%,43.10%,"85,226","1,329"
3,Arizona,"7,359,197",50.00%,50.00%,5.30%,16.20%,9.80%,13.80%,12.60%,11.60%,...,"1,180,749",73.70%,26.30%,"1,921,746","402,800","867,455",47.20%,52.80%,"887,809","1,450"
4,Arkansas,"3,045,637",49.40%,50.60%,5.80%,17.00%,9.60%,12.70%,12.70%,11.90%,...,"424,171",77.30%,22.70%,"808,558","179,800","359,076",54.20%,45.80%,"371,478",846
5,California,"39,029,342",50.10%,49.90%,5.40%,16.30%,9.40%,14.70%,13.80%,12.50%,...,"5,044,333",62.20%,37.80%,"7,565,502","715,900","5,676,089",44.00%,56.00%,"5,782,651","1,870"
6,Colorado,"5,839,926",50.70%,49.30%,5.20%,15.50%,9.30%,15.70%,14.70%,12.10%,...,"1,089,369",70.60%,29.40%,"1,584,309","531,100","765,346",46.80%,53.20%,"774,741","1,646"
7,Connecticut,"3,626,205",49.00%,51.00%,4.90%,15.20%,9.70%,12.40%,12.70%,12.60%,...,"610,624",70.20%,29.80%,"949,839","347,200","448,123",46.60%,53.40%,"460,870","1,360"
8,Delaware,"1,018,396",48.60%,51.40%,5.30%,15.10%,8.50%,12.80%,12.30%,11.10%,...,"187,123",75.80%,24.20%,"298,075","337,200","96,742",51.70%,48.30%,"98,064","1,274"
9,District of Columbia,"671,803",47.60%,52.40%,5.80%,12.70%,10.20%,21.60%,16.60%,10.70%,...,"98,488",73.30%,26.70%,"134,120","711,100","184,218",52.60%,47.40%,"188,879","1,843"
10,Florida,"22,244,823",49.20%,50.80%,5.00%,14.40%,8.30%,12.50%,12.60%,12.30%,...,"3,315,723",65.80%,34.20%,"5,929,801","354,100","2,702,155",39.70%,60.30%,"2,769,772","1,525"
11,Georgia,"10,912,876",48.80%,51.20%,5.70%,17.30%,9.80%,13.60%,13.50%,12.80%,...,"1,705,941",75.00%,25.00%,"2,695,885","297,400","1,284,614",48.20%,51.80%,"1,320,725","1,269"
12,Hawaii,"1,440,196",50.40%,49.60%,5.50%,15.10%,8.30%,13.20%,13.30%,11.80%,...,"192,102",58.20%,41.80%,"309,687","820,100","169,332",42.20%,57.80%,"172,870","1,813"
13,Idaho,"1,939,033",50.40%,49.60%,5.80%,18.20%,10.00%,12.90%,13.20%,11.30%,...,"324,332",72.50%,27.50%,"518,837","432,500","182,763",52.80%,47.20%,"184,918","1,138"
14,Illinois,"12,582,032",49.50%,50.50%,5.40%,16.20%,9.30%,13.40%,13.30%,12.40%,...,"2,065,838",73.10%,26.90%,"3,392,312","251,600","1,539,742",50.40%,49.60%,"1,590,443","1,170"
15,Indiana,"6,833,037",49.70%,50.30%,5.80%,17.10%,9.90%,13.00%,12.70%,11.90%,...,"1,220,587",79.70%,20.30%,"1,929,865","208,700","732,040",51.10%,48.90%,"752,539",972
16,Iowa,"3,200,517",50.20%,49.80%,5.60%,16.80%,10.10%,12.60%,12.70%,11.30%,...,"567,684",79.70%,20.30%,"958,700","194,600","344,220",54.90%,45.10%,"352,241",891
17,Kansas,"2,937,150",50.20%,49.80%,6.00%,17.40%,10.40%,12.80%,13.00%,11.00%,...,"455,414",77.30%,22.70%,"795,989","206,600","353,755",53.40%,46.60%,"359,319",975
18,Kentucky,"4,512,310",49.50%,50.50%,5.80%,16.50%,9.20%,13.00%,12.60%,12.40%,...,"709,096",77.10%,22.90%,"1,257,737","196,300","506,343",52.10%,47.90%,"521,485",891
19,Louisiana,"4,590,241",49.00%,51.00%,5.90%,17.20%,9.50%,12.90%,13.30%,11.60%,...,"630,584",71.70%,28.30%,"1,229,012","209,200","510,856",44.20%,55.80%,"527,591",984
20,Maine,"1,385,340",49.40%,50.60%,4.40%,13.30%,7.90%,12.00%,12.30%,12.20%,...,"262,894",70.50%,29.50%,"448,772","290,600","141,929",52.80%,47.20%,"144,692","1,033"
21,Maryland,"6,164,660",48.70%,51.30%,5.70%,16.20%,8.60%,13.10%,13.60%,12.50%,...,"1,137,581",73.60%,26.40%,"1,609,588","398,100","719,269",48.00%,52.00%,"737,102","1,550"
22,Massachusetts,"6,981,974",49.00%,51.00%,4.90%,14.20%,10.00%,13.90%,13.00%,12.30%,...,"1,136,176",69.70%,30.30%,"1,741,555","534,700","998,422",46.60%,53.40%,"1,020,504","1,634"
23,Michigan,"10,034,118",49.60%,50.40%,5.30%,15.60%,9.50%,13.10%,12.20%,12.00%,...,"1,724,683",76.00%,24.00%,"2,991,685","224,400","1,008,054",49.20%,50.80%,"1,034,449","1,052"
24,Minnesota,"5,717,184",50.20%,49.80%,5.70%,16.80%,8.90%,13.00%,13.70%,11.50%,...,"1,072,513",76.30%,23.70%,"1,674,434","314,600","612,136",50.10%,49.90%,"621,782","1,200"
25,Mississippi,"2,940,057",48.50%,51.50%,5.80%,17.20%,10.20%,12.00%,12.90%,12.00%,...,"397,659",73.10%,26.90%,"803,006","162,500","288,541",49.20%,50.80%,"300,135",873
26,Missouri,"6,177,957",49.30%,50.70%,5.70%,16.40%,9.40%,13.10%,12.90%,11.60%,...,"1,019,748",78.20%,21.80%,"1,704,800","221,200","750,087",54.00%,46.00%,"766,858",954
27,Montana,"1,122,867",50.50%,49.50%,5.10%,15.80%,9.20%,13.00%,13.00%,11.00%,...,"172,843",71.20%,28.80%,"319,421","366,400","130,917",55.50%,44.50%,"132,641","1,005"
28,Nebraska,"1,967,923",50.20%,49.80%,6.20%,18.00%,9.80%,12.80%,13.40%,11.00%,...,"313,450",77.60%,22.40%,"529,723","232,400","253,593",53.30%,46.70%,"259,347",983
29,Nevada,"3,177,772",50.30%,49.70%,5.40%,16.30%,8.30%,14.40%,13.90%,12.50%,...,"473,798",69.00%,31.00%,"722,684","434,700","450,409",42.70%,57.30%,"462,009","1,461"
30,New Hampshire,"1,395,231",49.90%,50.10%,4.50%,13.50%,8.50%,13.00%,12.30%,12.30%,...,"246,059",71.30%,28.70%,"402,656","384,700","146,987",51.30%,48.70%,"148,407","1,396"
31,New Jersey,"9,261,699",49.30%,50.70%,5.50%,15.90%,8.50%,12.80%,13.30%,12.90%,...,"1,433,834",68.40%,31.60%,"2,272,995","428,900","1,184,923",47.90%,52.10%,"1,207,994","1,555"
32,New Mexico,"2,113,344",49.60%,50.40%,5.00%,16.60%,9.70%,13.00%,13.00%,11.30%,...,"319,989",70.50%,29.50%,"601,666","243,100","220,351",46.70%,53.30%,"225,333",955
33,New York,"19,677,151",48.90%,51.10%,5.40%,14.90%,9.20%,14.00%,12.90%,12.20%,...,"2,438,822",66.70%,33.30%,"4,204,337","400,400","3,362,842",47.60%,52.40%,"3,446,021","1,499"
34,North Carolina,"10,698,973",48.90%,51.10%,5.50%,16.00%,9.70%,13.30%,12.90%,12.60%,...,"1,770,630",76.30%,23.70%,"2,868,467","280,600","1,300,902",51.60%,48.40%,"1,331,663","1,131"
35,North Dakota,"779,261",51.20%,48.80%,6.10%,17.10%,10.70%,14.50%,13.70%,9.70%,...,"115,609",77.60%,22.40%,"215,896","243,100","108,146",59.40%,40.60%,"109,541",863
36,Ohio,"11,756,058",49.40%,50.60%,5.60%,16.10%,9.10%,13.10%,12.60%,11.90%,...,"1,977,558",79.30%,20.70%,"3,285,052","204,100","1,469,501",53.20%,46.80%,"1,507,424",949
37,Oklahoma,"4,019,800",49.90%,50.10%,6.00%,17.70%,10.10%,13.30%,13.20%,11.40%,...,"549,866",75.20%,24.80%,"1,029,003","191,700","491,980",52.50%,47.50%,"502,801",937
38,Oregon,"4,240,137",50.00%,50.00%,4.70%,14.90%,8.60%,14.10%,14.00%,12.40%,...,"704,150",68.10%,31.90%,"1,084,786","475,600","602,411",46.80%,53.20%,"612,751","1,370"
39,Pennsylvania,"12,972,008",49.30%,50.70%,5.20%,15.10%,9.20%,12.90%,12.50%,11.90%,...,"2,114,599",75.80%,24.20%,"3,658,207","245,500","1,504,487",51.40%,48.60%,"1,540,239","1,116"
40,Rhode Island,"1,093,734",49.00%,51.00%,4.80%,13.80%,10.30%,13.80%,12.60%,11.80%,...,"185,919",71.50%,28.50%,"282,617","383,900","153,503",52.10%,47.90%,"156,790","1,254"
41,South Carolina,"5,282,634",48.60%,51.40%,5.30%,15.80%,9.50%,12.60%,12.60%,11.90%,...,"882,309",74.80%,25.20%,"1,538,550","254,600","532,907",47.80%,52.20%,"546,743","1,084"
42,South Dakota,"909,824",50.80%,49.20%,6.30%,17.80%,9.40%,12.20%,12.80%,10.70%,...,"137,709",77.90%,22.10%,"256,326","245,000","101,764",60.60%,39.40%,"103,522",866
43,Tennessee,"7,051,339",49.10%,50.90%,5.70%,16.10%,9.20%,13.70%,12.90%,12.30%,...,"1,095,432",74.90%,25.10%,"1,914,030","284,800","842,660",51.20%,48.80%,"862,913","1,096"
44,Texas,"30,029,572",50.00%,50.00%,6.30%,18.50%,10.00%,14.40%,14.10%,12.30%,...,"3,864,485",70.90%,29.10%,"6,926,616","275,400","3,893,814",47.00%,53.00%,"3,977,897","1,290"
45,Utah,"3,380,800",50.80%,49.20%,6.80%,20.80%,12.00%,14.60%,13.60%,11.00%,...,"549,786",76.20%,23.80%,"804,164","499,500","307,419",52.40%,47.60%,"310,688","1,372"
46,Vermont,"647,064",49.60%,50.40%,4.30%,13.30%,10.20%,12.00%,12.40%,11.70%,...,"125,139",70.10%,29.90%,"204,089","304,700","67,396",49.10%,50.90%,"68,909","1,141"
47,Virginia,"8,683,619",49.50%,50.50%,5.50%,15.90%,9.70%,13.30%,13.60%,12.30%,...,"1,516,532",75.00%,25.00%,"2,278,062","365,700","1,027,030",50.30%,49.70%,"1,047,336","1,441"
48,Washington,"7,785,786",50.50%,49.50%,5.40%,15.70%,8.60%,15.10%,14.30%,12.00%,...,"1,294,678",70.50%,29.50%,"1,976,259","569,500","1,046,656",48.80%,51.20%,"1,063,333","1,630"
49,West Virginia,"1,775,156",49.70%,50.30%,4.90%,14.90%,9.10%,11.70%,12.20%,12.50%,...,"258,075",81.30%,18.70%,"548,389","155,100","155,499",49.50%,50.50%,"160,930",795
50,Wisconsin,"5,892,539",50.20%,49.80%,5.20%,15.80%,9.50%,12.50%,12.60%,11.80%,...,"1,031,942",76.50%,23.50%,"1,696,493","252,800","748,787",54.60%,45.40%,"763,110",992
51,Wyoming,"581,381",51.20%,48.80%,5.20%,17.10%,8.90%,12.50%,14.00%,11.10%,...,"101,037",73.70%,26.30%,"176,863","292,300","58,178",55.90%,44.10%,"59,616",895

In [61]:
census_2022_pop_final = census_2022_pop_final.rename(columns = {'Label (Grouping)': 'State'})

In [62]:
census_2022_pop_final['Year'] = 2022
census_2022_pop_final

,State,pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,mortgage_burden_lt_30,mortgage_burden_gte_30,occupied_units_own,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,Year
1,Alabama,"5,074,296",48.50%,51.50%,5.60%,16.30%,9.60%,12.90%,12.50%,12.20%,...,77.00%,23.00%,"1,416,333","200,900","517,883",50.50%,49.50%,"535,960",913,2022
2,Alaska,"733,583",52.60%,47.40%,6.30%,17.60%,9.40%,15.50%,14.30%,11.20%,...,70.90%,29.10%,"181,586","336,900","84,809",56.90%,43.10%,"85,226","1,329",2022
3,Arizona,"7,359,197",50.00%,50.00%,5.30%,16.20%,9.80%,13.80%,12.60%,11.60%,...,73.70%,26.30%,"1,921,746","402,800","867,455",47.20%,52.80%,"887,809","1,450",2022
4,Arkansas,"3,045,637",49.40%,50.60%,5.80%,17.00%,9.60%,12.70%,12.70%,11.90%,...,77.30%,22.70%,"808,558","179,800","359,076",54.20%,45.80%,"371,478",846,2022
5,California,"39,029,342",50.10%,49.90%,5.40%,16.30%,9.40%,14.70%,13.80%,12.50%,...,62.20%,37.80%,"7,565,502","715,900","5,676,089",44.00%,56.00%,"5,782,651","1,870",2022
6,Colorado,"5,839,926",50.70%,49.30%,5.20%,15.50%,9.30%,15.70%,14.70%,12.10%,...,70.60%,29.40%,"1,584,309","531,100","765,346",46.80%,53.20%,"774,741","1,646",2022
7,Connecticut,"3,626,205",49.00%,51.00%,4.90%,15.20%,9.70%,12.40%,12.70%,12.60%,...,70.20%,29.80%,"949,839","347,200","448,123",46.60%,53.40%,"460,870","1,360",2022
8,Delaware,"1,018,396",48.60%,51.40%,5.30%,15.10%,8.50%,12.80%,12.30%,11.10%,...,75.80%,24.20%,"298,075","337,200","96,742",51.70%,48.30%,"98,064","1,274",2022
9,District of Columbia,"671,803",47.60%,52.40%,5.80%,12.70%,10.20%,21.60%,16.60%,10.70%,...,73.30%,26.70%,"134,120","711,100","184,218",52.60%,47.40%,"188,879","1,843",2022
10,Florida,"22,244,823",49.20%,50.80%,5.00%,14.40%,8.30%,12.50%,12.60%,12.30%,...,65.80%,34.20%,"5,929,801","354,100","2,702,155",39.70%,60.30%,"2,769,772","1,525",2022
11,Georgia,"10,912,876",48.80%,51.20%,5.70%,17.30%,9.80%,13.60%,13.50%,12.80%,...,75.00%,25.00%,"2,695,885","297,400","1,284,614",48.20%,51.80%,"1,320,725","1,269",2022
12,Hawaii,"1,440,196",50.40%,49.60%,5.50%,15.10%,8.30%,13.20%,13.30%,11.80%,...,58.20%,41.80%,"309,687","820,100","169,332",42.20%,57.80%,"172,870","1,813",2022
13,Idaho,"1,939,033",50.40%,49.60%,5.80%,18.20%,10.00%,12.90%,13.20%,11.30%,...,72.50%,27.50%,"518,837","432,500","182,763",52.80%,47.20%,"184,918","1,138",2022
14,Illinois,"12,582,032",49.50%,50.50%,5.40%,16.20%,9.30%,13.40%,13.30%,12.40%,...,73.10%,26.90%,"3,392,312","251,600","1,539,742",50.40%,49.60%,"1,590,443","1,170",2022
15,Indiana,"6,833,037",49.70%,50.30%,5.80%,17.10%,9.90%,13.00%,12.70%,11.90%,...,79.70%,20.30%,"1,929,865","208,700","732,040",51.10%,48.90%,"752,539",972,2022
16,Iowa,"3,200,517",50.20%,49.80%,5.60%,16.80%,10.10%,12.60%,12.70%,11.30%,...,79.70%,20.30%,"958,700","194,600","344,220",54.90%,45.10%,"352,241",891,2022
17,Kansas,"2,937,150",50.20%,49.80%,6.00%,17.40%,10.40%,12.80%,13.00%,11.00%,...,77.30%,22.70%,"795,989","206,600","353,755",53.40%,46.60%,"359,319",975,2022
18,Kentucky,"4,512,310",49.50%,50.50%,5.80%,16.50%,9.20%,13.00%,12.60%,12.40%,...,77.10%,22.90%,"1,257,737","196,300","506,343",52.10%,47.90%,"521,485",891,2022
19,Louisiana,"4,590,241",49.00%,51.00%,5.90%,17.20%,9.50%,12.90%,13.30%,11.60%,...,71.70%,28.30%,"1,229,012","209,200","510,856",44.20%,55.80%,"527,591",984,2022
20,Maine,"1,385,340",49.40%,50.60%,4.40%,13.30%,7.90%,12.00%,12.30%,12.20%,...,70.50%,29.50%,"448,772","290,600","141,929",52.80%,47.20%,"144,692","1,033",2022
21,Maryland,"6,164,660",48.70%,51.30%,5.70%,16.20%,8.60%,13.10%,13.60%,12.50%,...,73.60%,26.40%,"1,609,588","398,100","719,269",48.00%,52.00%,"737,102","1,550",2022
22,Massachusetts,"6,981,974",49.00%,51.00%,4.90%,14.20%,10.00%,13.90%,13.00%,12.30%,...,69.70%,30.30%,"1,741,555","534,700","998,422",46.60%,53.40%,"1,020,504","1,634",2022
23,Michigan,"10,034,118",49.60%,50.40%,5.30%,15.60%,9.50%,13.10%,12.20%,12.00%,...,76.00%,24.00%,"2,991,685","224,400","1,008,054",49.20%,50.80%,"1,034,449","1,052",2022
24,Minnesota,"5,717,184",50.20%,49.80%,5.70%,16.80%,8.90%,13.00%,13.70%,11.50%,...,76.30%,23.70%,"1,674,434","314,600","612,136",50.10%,49.90%,"621,782","1,200",2022
25,Mississippi,"2,940,057",48.50%,51.50%,5.80%,17.20%,10.20%,12.00%,12.90%,12.00%,...,73.10%,26.90%,"803,006","162,500","288,541",49.20%,50.80%,"300,135",873,2022
26,Missouri,"6,177,957",49.30%,50.70%,5.70%,16.40%,9.40%,13.10%,12.90%,11.60%,...,78.20%,21.80%,"1,704,800","221,200","750,087",54.00%,46.00%,"766,858",954,2022
27,Montana,"1,122,867",50.50%,49.50%,5.10%,15.80%,9.20%,13.00%,13.00%,11.00%,...,71.20%,28.80%,"319,421","366,400","130,917",55.50%,44.50%,"132,641","1,005",2022
28,Nebraska,"1,967,923",50.20%,49.80%,6.20%,18.00%,9.80%,12.80%,13.40%,11.00%,...,77.60%,22.40%,"529,723","232,400","253,593",53.30%,46.70%,"259,347",983,2022
29,Nevada,"3,177,772",50.30%,49.70%,5.40%,16.30%,8.30%,14.40%,13.90%,12.50%,...,69.00%,31.00%,"722,684","434,700","450,409",42.70%,57.30%,"462,009","1,461",2022
30,New Hampshire,"1,395,231",49.90%,50.10%,4.50%,13.50%,8.50%,13.00%,12.30%,12.30%,...,71.30%,28.70%,"402,656","384,700","146,987",51.30%,48.70%,"148,407","1,396",2022
31,New Jersey,"9,261,699",49.30%,50.70%,5.50%,15.90%,8.50%,12.80%,13.30%,12.90%,...,68.40%,31.60%,"2,272,995","428,900","1,184,923",47.90%,52.10%,"1,207,994","1,555",2022
32,New Mexico,"2,113,344",49.60%,50.40%,5.00%,16.60%,9.70%,13.00%,13.00%,11.30%,...,70.50%,29.50%,"601,666","243,100","220,351",46.70%,53.30%,"225,333",955,2022
33,New York,"19,677,151",48.90%,51.10%,5.40%,14.90%,9.20%,14.00%,12.90%,12.20%,...,66.70%,33.30%,"4,204,337","400,400","3,362,842",47.60%,52.40%,"3,446,021","1,499",2022
34,North Carolina,"10,698,973",48.90%,51.10%,5.50%,16.00%,9.70%,13.30%,12.90%,12.60%,...,76.30%,23.70%,"2,868,467","280,600","1,300,902",51.60%,48.40%,"1,331,663","1,131",2022
35,North Dakota,"779,261",51.20%,48.80%,6.10%,17.10%,10.70%,14.50%,13.70%,9.70%,...,77.60%,22.40%,"215,896","243,100","108,146",59.40%,40.60%,"109,541",863,2022
36,Ohio,"11,756,058",49.40%,50.60%,5.60%,16.10%,9.10%,13.10%,12.60%,11.90%,...,79.30%,20.70%,"3,285,052","204,100","1,469,501",53.20%,46.80%,"1,507,424",949,2022
37,Oklahoma,"4,019,800",49.90%,50.10%,6.00%,17.70%,10.10%,13.30%,13.20%,11.40%,...,75.20%,24.80%,"1,029,003","191,700","491,980",52.50%,47.50%,"502,801",937,2022
38,Oregon,"4,240,137",50.00%,50.00%,4.70%,14.90%,8.60%,14.10%,14.00%,12.40%,...,68.10%,31.90%,"1,084,786","475,600","602,411",46.80%,53.20%,"612,751","1,370",2022
39,Pennsylvania,"12,972,008",49.30%,50.70%,5.20%,15.10%,9.20%,12.90%,12.50%,11.90%,...,75.80%,24.20%,"3,658,207","245,500","1,504,487",51.40%,48.60%,"1,540,239","1,116",2022
40,Rhode Island,"1,093,734",49.00%,51.00%,4.80%,13.80%,10.30%,13.80%,12.60%,11.80%,...,71.50%,28.50%,"282,617","383,900","153,503",52.10%,47.90%,"156,790","1,254",2022
41,South Carolina,"5,282,634",48.60%,51.40%,5.30%,15.80%,9.50%,12.60%,12.60%,11.90%,...,74.80%,25.20%,"1,538,550","254,600","532,907",47.80%,52.20%,"546,743","1,084",2022
42,South Dakota,"909,824",50.80%,49.20%,6.30%,17.80%,9.40%,12.20%,12.80%,10.70%,...,77.90%,22.10%,"256,326","245,000","101,764",60.60%,39.40%,"103,522",866,2022
43,Tennessee,"7,051,339",49.10%,50.90%,5.70%,16.10%,9.20%,13.70%,12.90%,12.30%,...,74.90%,25.10%,"1,914,030","284,800","842,660",51.20%,48.80%,"862,913","1,096",2022
44,Texas,"30,029,572",50.00%,50.00%,6.30%,18.50%,10.00%,14.40%,14.10%,12.30%,...,70.90%,29.10%,"6,926,616","275,400","3,893,814",47.00%,53.00%,"3,977,897","1,290",2022
45,Utah,"3,380,800",50.80%,49.20%,6.80%,20.80%,12.00%,14.60%,13.60%,11.00%,...,76.20%,23.80%,"804,164","499,500","307,419",52.40%,47.60%,"310,688","1,372",2022
46,Vermont,"647,064",49.60%,50.40%,4.30%,13.30%,10.20%,12.00%,12.40%,11.70%,...,70.10%,29.90%,"204,089","304,700","67,396",49.10%,50.90%,"68,909","1,141",2022
47,Virginia,"8,683,619",49.50%,50.50%,5.50%,15.90%,9.70%,13.30%,13.60%,12.30%,...,75.00%,25.00%,"2,278,062","365,700","1,027,030",50.30%,49.70%,"1,047,336","1,441",2022
48,Washington,"7,785,786",50.50%,49.50%,5.40%,15.70%,8.60%,15.10%,14.30%,12.00%,...,70.50%,29.50%,"1,976,259","569,500","1,046,656",48.80%,51.20%,"1,063,333","1,630",2022
49,West Virginia,"1,775,156",49.70%,50.30%,4.90%,14.90%,9.10%,11.70%,12.20%,12.50%,...,81.30%,18.70%,"548,389","155,100","155,499",49.50%,50.50%,"160,930",795,2022
50,Wisconsin,"5,892,539",50.20%,49.80%,5.20%,15.80%,9.50%,12.50%,12.60%,11.80%,...,76.50%,23.50%,"1,696,493","252,800","748,787",54.60%,45.40%,"763,110",992,2022
51,Wyoming,"581,381",51.20%,48.80%,5.20%,17.10%,8.90%,12.50%,14.00%,11.10%,...,73.70%,26.30%,"176,863","292,300","58,178",55.90%,44.10%,"59,616",895,2022

In [63]:
all_agriculture = pd.concat([veg_2012, veg_2017, veg_2022, hort_2012, hort_2017, hort_2022], ignore_index = True)

In [64]:
all_agriculture

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,154,64.1
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,30,16.4
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,154,64.1
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,30,16.4
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",27,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...
357712,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,"42,526",60.2
357713,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
357714,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,52,18.9
357715,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"449,063",64.9
357716,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,"77,105",44.1

In [65]:
census_2012_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_family',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'Year']

In [66]:
census_2012_pop_final.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [67]:
columns = census_2012_pop_final.columns

In [68]:
dupe_columns = columns[columns.duplicated()].to_list()
dupe_columns

['married_couple_family']

In [69]:
census_2012_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_family',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'Year']

In [70]:
match_columns = [index for index, columns in enumerate(census_2012_pop_final.columns) if columns == 'married_couple_family']
match_columns

[21, 76]

In [71]:
census_2012_pop_final.columns.values[match_columns[1]] = 'married_couple_income'

In [72]:
census_2012_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'Year']

In [73]:
match_columns_2017 = [index for index, columns in enumerate(census_2017_pop_final.columns) if columns == 'married_couple_family']
match_columns

[21, 76]

In [74]:
census_2017_pop_final.columns.values[match_columns[1]] = 'married_couple_income'

In [75]:
census_2017_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18 _to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rented',
 'gross_rent_median',
 'Year']

In [76]:
dupes_2017 = census_2017_pop_final.columns[census_2017_pop_final.columns.duplicated()].tolist()
print(dupes_2017)

[]

In [77]:
match_columns_2022 = [index for index, columns in enumerate(census_2022_pop_final.columns) if columns == 'married_couple_family']
match_columns

[21, 76]

In [78]:
census_2022_pop_final.columns.values[match_columns[1]] = 'married_couple_income'

In [79]:
census_2022_pop_final.columns.to_list()

['State',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'Year']

In [80]:
dupes_2022 = census_2022_pop_final.columns[census_2022_pop_final.columns.duplicated()].tolist()
print(dupes_2022)

[]

In [81]:
census_2012_pop_final = census_2012_pop_final.reset_index(drop=True)
census_2017_pop_final = census_2017_pop_final.reset_index(drop=True)
census_2022_pop_final = census_2022_pop_final.reset_index(drop=True)

In [82]:
print(census_2012_pop_final.columns.is_unique)

False

In [83]:
print(census_2017_pop_final.columns.is_unique)

False

In [84]:
print(census_2022_pop_final.columns.is_unique)

False

In [85]:
def dedupe_columns(df):
    columns = pd.Series(df.columns)
    for dup in columns[columns.duplicated()].unique():
        dup_idx = columns[columns == dup].index.tolist()       
        for i in range(1, len(dup_idx)):
            columns[dup_idx[i]] = f"{dup}_{i}"
    df.columns = columns
    return df

In [86]:
census_2012_pop_final = dedupe_columns(census_2012_pop_final)
census_2017_pop_final = dedupe_columns(census_2017_pop_final)
census_2022_pop_final = dedupe_columns(census_2022_pop_final)

In [87]:
all_census = pd.concat([census_2012_pop_final, census_2017_pop_final, census_2022_pop_final], ignore_index = True)

In [88]:
all_census

,State,pop_total,age_male_pop,age_female_pop,age_under_5,age_5 _to_ 17,age_18_ to_24,age_25_to_34,age_35_to_44,age_45_to_54,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,Year,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median
0,Alabama,"4,822,023",48.50%,51.50%,6.30%,17.10%,10.10%,12.60%,12.80%,13.90%,...,"493,033",50.20%,49.80%,"510,756",689,2012,NaN,NaN,NaN,NaN
1,Alaska,"731,449",52.10%,47.90%,7.40%,18.20%,10.90%,14.90%,13.10%,14.20%,...,"86,171",52.60%,47.40%,"86,687","1,120",2012,NaN,NaN,NaN,NaN
2,Arizona,"6,553,255",49.80%,50.20%,6.70%,18.00%,10.00%,13.40%,12.70%,12.80%,...,"831,643",48.60%,51.40%,"856,506",888,2012,NaN,NaN,NaN,NaN
3,Arkansas,"2,949,131",49.10%,50.90%,6.50%,17.60%,9.80%,12.90%,12.50%,13.40%,...,"336,178",51.10%,48.90%,"347,234",640,2012,NaN,NaN,NaN,NaN
4,California,"38,041,430",49.70%,50.30%,6.70%,17.60%,10.60%,14.40%,13.60%,13.70%,...,"5,475,993",42.40%,57.60%,"5,593,677","1,200",2012,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Virginia,"8,683,619",49.50%,50.50%,5.50%,15.90%,9.70%,13.30%,13.60%,12.30%,...,"1,027,030",50.30%,49.70%,"1,047,336","1,441",2022,NaN,NaN,NaN,NaN
149,Washington,"7,785,786",50.50%,49.50%,5.40%,15.70%,8.60%,15.10%,14.30%,12.00%,...,"1,046,656",48.80%,51.20%,"1,063,333","1,630",2022,NaN,NaN,NaN,NaN
150,West Virginia,"1,775,156",49.70%,50.30%,4.90%,14.90%,9.10%,11.70%,12.20%,12.50%,...,"155,499",49.50%,50.50%,"160,930",795,2022,NaN,NaN,NaN,NaN
151,Wisconsin,"5,892,539",50.20%,49.80%,5.20%,15.80%,9.50%,12.50%,12.60%,11.80%,...,"748,787",54.60%,45.40%,"763,110",992,2022,NaN,NaN,NaN,NaN
152,Wyoming,"581,381",51.20%,48.80%,5.20%,17.10%,8.90%,12.50%,14.00%,11.10%,...,"58,178",55.90%,44.10%,"59,616",895,2022,NaN,NaN,NaN,NaN

In [89]:
ag_census = pd.merge(all_agriculture, all_census,
         on=['State', 'Year'],
         how = 'left'
        )

In [90]:
ag_census

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,owner_median_value,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"123,200","493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357712,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, (EXCL ...",TOTAL,NOT SPECIFIED,...,"292,300","58,178",55.90%,44.10%,"59,616",895,NaN,NaN,NaN,NaN
357713,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,...,"292,300","58,178",55.90%,44.10%,"59,616",895,NaN,NaN,NaN,NaN
357714,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,...,"292,300","58,178",55.90%,44.10%,"59,616",895,NaN,NaN,NaN,NaN
357715,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,...,"292,300","58,178",55.90%,44.10%,"59,616",895,NaN,NaN,NaN,NaN
357716,CENSUS,2022,YEAR,STATE,Wyoming,56,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL FRESH CUT HERBS, UNDER ...",TOTAL,NOT SPECIFIED,...,"292,300","58,178",55.90%,44.10%,"59,616",895,NaN,NaN,NaN,NaN

In [91]:
pd.set_option('display.max_rows', None)

In [92]:
ag_census.isna().sum().sort_values(ascending = False)

gross_rent_median                    240306
occupied_units_rented                240306
poverty_families_kids_u5             240306
age_18 _to_24                        240306
gross_median_rent                    117411
occupied_units_rent                  117411
poverty_families_ kids_u5            117411
age_18_ to_24                        117411
female_household_no_spouse                0
married_couple_income                     0
median_income_married_couple              0
male_household_no_spouse                  0
median_income_male_hh                     0
poverty_all_families                      0
median_income_female_hh                   0
individuals_income_group                  0
per_capita_income                         0
pop_families_with_income                  0
poverty_families_kids_u18                 0
poverty_married_family                    0
median_family-income                      0
mean_cash_aid                             0
with_snap                                 0
mean_retirement_income                    0
with_retirement_income                    0
poverty_married_kids_u5                   0
with_cash_aid                             0
mean_ssi_income                           0
with_ssi_income                           0
mean_ss_income                            0
with_ss_income                            0
mean_earnings                             0
with_earnings                             0
median_hh_income                          0
pop_hh_income_12months                    0
industry_ag_forest_fishing_mining         0
poverty_married_kids_u18                  0
poverty_female_hh_kids_u5                 0
poverty_female_hh                         0
poverty_female_hh_kids_u18                0
rent_burden_gte_30                        0
rent_burden_lt_30                         0
occupied_units_with_rent                  0
owner_median_value                        0
occupied_units_own                        0
mortgage_burden_gte_30                    0
mortgage_burden_lt_30                     0
units_with_mortgage                       0
vehicles_1_or_more                        0
no_vehicles                               0
occupied_units_vehicles                   0
avg_renter_hh_size                        0
avg_owner_hh_size                         0
renter_occupied_units                     0
owner_occupied_units                      0
occupied_housing_units_total              0
poverty_unrelated_15_plus                 0
poverty_in_families                       0
poverty_65_plus                           0
poverty_18_to_64                          0
poverty_18_plus                           0
poverty_related_kids_5_to_17              0
poverty_related_kids_u5                   0
poverty_related_kids_u18                  0
poverty_under_18                          0
poverty_all_people                        0
occ_production_trans                      0
industry_employed_pop_16_plus             0
Program                                   0
Year                                      0
age_25_to_34                              0
married_couple_family                     0
families_with_kids_u18                    0
family_households                         0
households_pop                            0
median_age_65_and_over                    0
median_age_62_and_over                    0
median_age_21_and_over                    0
median_age_18_and_over                    0
median_age_in_years                       0
age_75_and_older                          0
age_65_to_74                              0
age_55_to_64                              0
age_45_to_54                              0
age_35_to_44                              0
age_5 _to_ 17                             0
female_households_no_husband              0
age_under_5                               0
age_female_pop                            0
age_male_pop                              0
pop_total                                 0
CV (%)                                    0
Value                                     0
Domain Category                           0
Domain                                    0
Data Item                                 0
Commodity                                 0
State ANSI                                0
State                                     0
Geo Level                                 0
Period                                    0
married_couple_kids_18                    0
female_households_kids_u18                0
occ_sales_office                          0
less_hs_diploma                           0
occ_service                               0
occ_mgt_science_arts                      0
employed_pop_16_plus                      0
not_in_labor_force                        0
in_labor_force                            0
employed_status_pop_16_plus               0
civilian_pop_with_disability              0
civilian_pop_ni_total                     0
bachelors_plus                            0
hs_grad_plus                              0
grad_prof_deg                             0
bachelors_deg                             0
some_college_assoc                        0
hs_grad                                   0
pop_25_plus                               0
nonfamily_households                      0
never_married                             0
separated                                 0
divorced                                  0
widowed                                   0
now_married                               0
pop_15_plus                               0
avg_family_size                           0
avg_hh_size                               0
nonfamily_female_not_living_alone         0
nonfamily_female_living_alone             0
nonfamily_female_households               0
nonfamily_male_not_living_alone           0
nonfamily_male_living_alone               0
nonfamily_male_households                 0
occ_natural_resources                     0
dtype: int64

In [93]:
ag_census['Commodity'].unique()

array(['BEANS', 'BROCCOLI', 'CABBAGE', 'CARROTS', 'CUCUMBERS', 'GARLIC',
       'GREENS', 'HERBS', 'LETTUCE', 'MELONS', 'ONIONS', 'PEPPERS',
       'POTATOES', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES',
       'TOMATOES', 'TURNIPS', 'ASPARAGUS', 'BEETS', 'CAULIFLOWER',
       'EGGPLANT', 'HORSERADISH', 'OKRA', 'PEAS', 'PUMPKINS', 'RADISHES',
       'RHUBARB', 'VEGETABLE TOTALS', 'VEGETABLES, OTHER',
       'BRUSSELS SPROUTS', 'CELERY', 'ARTICHOKES', 'ESCAROLE & ENDIVE',
       'PARSLEY', 'CHICORY', 'DAIKON', 'WATERCRESS', 'GINGER ROOT',
       'GINSENG', 'GOURDS', 'PARSNIPS', 'AQUATIC PLANTS',
       'BEDDING PLANT TOTALS', 'BULBS & CORMS & RHIZOMES & TUBERS',
       'CUT CHRISTMAS TREES',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
       'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE TOTALS',
       'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED',
       'FOLIAGE PLANTS', 'FRUIT TOTALS', 'HORTICULTURE TOTALS',
       'MUSHROOMS', 'NURSERY TOTALS', 'PROPAGATIVE MATERIAL',
       'SHORT TERM WOODY TREES', 'SOD', 'TRANSPLANTS', 'VEGETABLE SEEDS',
       'MUSHROOM SPAWN'], dtype=object)

In [94]:
edible_list = ['ARTICHOKES', 'ASPARAGUS', 'BEANS', 'BEETS', 'BROCCOLI', 'BRUSSELS SPROUTS', 'CABBAGE', 'CARROTS',  
              'CAULIFLOWER', 'CELERY', 'CHICORY', 'CUCUMBERS', 'DAIKON', 'EGGPLANT', 'ESCAROLE & ENDIVE', 'GARLIC', 'GINGER ROOT',
              'GINSENG', 'GOURDS', 'GREENS', 'HERBS', 'HORSERADISH', 'LETTUCE', 'MELONS', 'OKRA', 'ONIONS', 'PARSLEY', 'PARSNIPS', 'PEAS',
              'PEPPERS', 'POTATOES', 'PUMPKINS', 'RADISHES', 'RHUBARB', 'SPINACH', 'SQUASH', 'SWEET CORN', 'SWEET POTATOES', 'TOMATOES', 'TURNIPS', 
              'VEGETABLES, OTHER', 'VEGETABLE SEEDS','WATERCRESS'
              ]

In [95]:
ornamental_list = ['AQUATIC PLANTS', 'BULBS & CORMS & RHIZOMES & TUBERS', 'CUT CHRISTMAS TREES', 'CUT CHRISTMAS TREES & SHORT TERM WOODY TREES',
                  'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE, OTHER', 'FLOWER SEEDS', 'FLOWERING PLANTS, POTTED', 'FOLIAGE PLANTS', 
                  'MUSHROOMS','MUSHROOM SPAWN', 'SHORT TERM WOODY TREES', 'SOD', 
                  ]

In [96]:
classification_list = [ ]
for commodity in ag_census.Commodity: 
    if commodity in edible_list:
        classification_list.append('Edible')
    elif commodity in ornamental_list:
        classification_list.append('Ornamental')
    else: 
        classification_list.append('empty')

In [97]:
ag_census['Classification'] = classification_list

In [98]:
ag_census.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

Question: Which states grow the most food?

In [100]:
states_by_edible = ag_census.loc[(ag_census['Classification'] == 'Edible') & (ag_census['Data Item'].str.endswith('ACRES HARVESTED'))
                              & (~ag_census['Data Item'].str.contains('OPERATIONS|FRESH MARKET|PROCESSING'))
                              & (ag_census['Domain'] == 'TOTAL') & (ag_census['Domain Category'] == 'NOT SPECIFIED')].head(10)

In [101]:
states_by_edible

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
186,CENSUS,2012,YEAR,STATE,Alabama,1,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
195,CENSUS,2012,YEAR,STATE,Alabama,1,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
220,CENSUS,2012,YEAR,STATE,Alabama,1,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
226,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, COLLARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
232,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, KALE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [102]:
states_by_ornamental = ag_census.loc[(ag_census['Classification'] == 'Ornamental') & (ag_census['Data Item'].str.endswith('SALES, MEASURED IN $')) &
                    (~ag_census['Data Item'].str.contains('OPERATIONS|ACRES IN PRODUCTION|SQ FT IN PRODUCTION')) & (ag_census['Domain'] == 'TOTAL') &
                    (ag_census['Domain Category'] == 'NOT SPECIFIED')].head(10)

In [103]:
states_by_ornamental

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
271012,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271026,CENSUS,2012,YEAR,STATE,Alabama,1,BULBS & CORMS & RHIZOMES & TUBERS,"BULBS & CORMS & RHIZOMES & TUBERS, DRY - SALES...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271126,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271216,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES,CUT CHRISTMAS TREES & SHORT TERM WOODY TREES -...,TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271221,CENSUS,2012,YEAR,STATE,Alabama,1,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271235,CENSUS,2012,YEAR,STATE,Alabama,1,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271242,CENSUS,2012,YEAR,STATE,Alabama,1,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271249,CENSUS,2012,YEAR,STATE,Alabama,1,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271256,CENSUS,2012,YEAR,STATE,Alabama,1,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental
271425,CENSUS,2012,YEAR,STATE,Alabama,1,MUSHROOMS,"MUSHROOMS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental

In [104]:
states_by_ornamental[['State','Commodity', 'Value']].sort_values(by = 'State', ascending = False)

          State                                     Commodity       Value
271012  Alabama                                AQUATIC PLANTS      30,138
271026  Alabama             BULBS & CORMS & RHIZOMES & TUBERS         (D)
271126  Alabama                           CUT CHRISTMAS TREES     476,000
271216  Alabama  CUT CHRISTMAS TREES & SHORT TERM WOODY TREES         (D)
271221  Alabama           CUT FLOWERS & CUT CULTIVATED GREENS     447,844
271235  Alabama                           FLORICULTURE, OTHER   2,872,470
271242  Alabama                                  FLOWER SEEDS      21,265
271249  Alabama                      FLOWERING PLANTS, POTTED   8,308,332
271256  Alabama                                FOLIAGE PLANTS  10,270,069
271425  Alabama                                     MUSHROOMS         (D)

In [105]:
states_by_ornamental.Value.str.isnumeric().sum()

0

In [106]:
pd.to_numeric(states_by_ornamental['Value'], errors = 'coerce')

271012   NaN
271026   NaN
271126   NaN
271216   NaN
271221   NaN
271235   NaN
271242   NaN
271249   NaN
271256   NaN
271425   NaN
Name: Value, dtype: float64

In [107]:
import regex as re

In [108]:
states_by_ornamental['Values'] = states_by_ornamental['Value'].str.extract(r'([\d,]+)')

In [109]:
states_by_ornamental = states_by_ornamental.dropna(subset = ['Values'])

In [110]:
states_by_ornamental['Values'] = states_by_ornamental['Values'].str.replace(',','').astype('int')

C:\Users\kinis\AppData\Local\Temp\ipykernel_52772\1531027701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  states_by_ornamental['Values'] = states_by_ornamental['Values'].str.replace(',','').astype('int')

In [111]:
states_by_ornamental

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Values
271012,CENSUS,2012,YEAR,STATE,Alabama,1,AQUATIC PLANTS,"AQUATIC PLANTS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,30138
271126,CENSUS,2012,YEAR,STATE,Alabama,1,CUT CHRISTMAS TREES,"CUT CHRISTMAS TREES - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,476000
271221,CENSUS,2012,YEAR,STATE,Alabama,1,CUT FLOWERS & CUT CULTIVATED GREENS,"CUT FLOWERS & CUT CULTIVATED GREENS - SALES, M...",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,447844
271235,CENSUS,2012,YEAR,STATE,Alabama,1,"FLORICULTURE, OTHER","FLORICULTURE, OTHER - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,2872470
271242,CENSUS,2012,YEAR,STATE,Alabama,1,FLOWER SEEDS,"FLOWER SEEDS - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,21265
271249,CENSUS,2012,YEAR,STATE,Alabama,1,"FLOWERING PLANTS, POTTED","FLOWERING PLANTS, POTTED, INDOOR USE - SALES, ...",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,8308332
271256,CENSUS,2012,YEAR,STATE,Alabama,1,FOLIAGE PLANTS,"FOLIAGE PLANTS, INDOOR USE - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Ornamental,10270069

In [112]:
states_by_edible['Values'] = states_by_edible['Value'].str.extract(r'([\d,]+)')

In [113]:
states_by_edible = states_by_edible.dropna(subset = ['Values'])

In [114]:
states_by_edible['Values'] = states_by_edible['Values'].str.replace(',','').astype('int')

In [115]:
states_by_edible

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Values
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,154
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,580
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,19
186,CENSUS,2012,YEAR,STATE,Alabama,1,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
195,CENSUS,2012,YEAR,STATE,Alabama,1,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3641
220,CENSUS,2012,YEAR,STATE,Alabama,1,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,2
226,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, COLLARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,285
232,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, KALE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5

In [116]:
ag_census['Value'] = ag_census['Value'].str.extract(r'([\d,]+)')

In [117]:
ag_census = ag_census.dropna(subset = ['Value'])

In [118]:
ag_census['Value'] = ag_census['Value'].str.replace(',','').astype('float')

C:\Users\kinis\AppData\Local\Temp\ipykernel_52772\2612831881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ag_census['Value'] = ag_census['Value'].str.replace(',','').astype('float')

In [119]:
ag_census.head(10)

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,occupied_units_with_rent,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
1,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
2,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
3,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
4,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)",...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
5,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (1.0 TO 9.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
6,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (10.0 TO 49.9 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
7,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (100 TO 139 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
8,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (140 TO 179 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible
11,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",AREA OPERATED,AREA OPERATED: (220 TO 259 ACRES),...,"493,033",50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible

In [120]:
ag_census[['State', 'Commodity', 'Value']].head(10)

      State Commodity  Value
0   Alabama     BEANS  154.0
1   Alabama     BEANS   30.0
2   Alabama     BEANS  154.0
3   Alabama     BEANS   30.0
4   Alabama     BEANS   27.0
5   Alabama     BEANS   51.0
6   Alabama     BEANS  150.0
7   Alabama     BEANS   69.0
8   Alabama     BEANS   34.0
11  Alabama     BEANS   22.0

In [121]:
#ag_census.groupby('State')['Value'].sum().sort_values(ascending = False).head(10)

In [122]:
states_by_edible

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Values
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,154
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,580
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,19
186,CENSUS,2012,YEAR,STATE,Alabama,1,CARROTS,CARROTS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
195,CENSUS,2012,YEAR,STATE,Alabama,1,CUCUMBERS,CUCUMBERS - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3641
220,CENSUS,2012,YEAR,STATE,Alabama,1,GARLIC,GARLIC - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,2
226,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, COLLARD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,285
232,CENSUS,2012,YEAR,STATE,Alabama,1,GREENS,"GREENS, KALE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,5

In [285]:
states_by_edible.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Values
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,154
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,580
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,19

In [287]:
states_by_edible[['State', 'pop_total']]

       State  pop_total
0    Alabama        NaN
48   Alabama        NaN
174  Alabama        NaN
178  Alabama        NaN
182  Alabama        NaN
186  Alabama        NaN
195  Alabama        NaN
220  Alabama        NaN
226  Alabama        NaN
232  Alabama        NaN

In [273]:
states_by_edible['Value'] = pd.to_numeric(states_by_edible['Value'], errors = 'coerce')

In [275]:
states_by_edible['pop_total'] = pd.to_numeric(states_by_edible['pop_total'], errors = 'coerce')

In [261]:
states_by_edible[['State', 'pop_total']].head(1)

     State  pop_total
0  Alabama        NaN

In [263]:
states_by_edible['pop_total'].dtype

dtype('float64')

In [279]:
states_by_edible[['State', 'pop_total']].head(1)

     State  pop_total
0  Alabama        NaN

In [277]:
states_by_edible['Value'] / states_by_edible['pop_total']

0     NaN
48    NaN
174   NaN
178   NaN
182   NaN
186   NaN
195   NaN
220   NaN
226   NaN
232   NaN
dtype: float64

In [130]:
states_by_edible.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,...,rent_burden_lt_30,rent_burden_gte_30,occupied_units_rent,gross_median_rent,age_18 _to_24,poverty_families_kids_u5,occupied_units_rented,gross_rent_median,Classification,Values
0,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,154
48,CENSUS,2012,YEAR,STATE,Alabama,1,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,580
174,CENSUS,2012,YEAR,STATE,Alabama,1,BROCCOLI,BROCCOLI - ACRES HARVESTED,TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,3
178,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, CHINESE - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,1
182,CENSUS,2012,YEAR,STATE,Alabama,1,CABBAGE,"CABBAGE, HEAD - ACRES HARVESTED",TOTAL,NOT SPECIFIED,...,50.20%,49.80%,"510,756",689,NaN,NaN,NaN,NaN,Edible,19

In [271]:
states_by_edible.columns.to_list()

['Program',
 'Year',
 'Period',
 'Geo Level',
 'State',
 'State ANSI',
 'Commodity',
 'Data Item',
 'Domain',
 'Domain Category',
 'Value',
 'CV (%)',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'age_18 _to_24',
 'poverty_families_kids_u5',
 'occupied_units_rented',
 'gross_rent_median',
 'Classification',
 'Values']

In [281]:
states_by_edible[['State', 'pop_total']].isna().sum()

State         0
pop_total    10
dtype: int64

In [283]:
states_by_edible[states_by_edible['State'] == 'Alabama'][['State', 'pop_total']].head()

       State  pop_total
0    Alabama        NaN
48   Alabama        NaN
174  Alabama        NaN
178  Alabama        NaN
182  Alabama        NaN

In [299]:
states_by_edible['pop_total'].dtype

dtype('float64')

In [307]:
states_by_edible['pop_total'] = states_by_edible['pop_total'].astype(str).str.replace(',','', regex = False).astype(float)

In [309]:
states_by_edible[['State', 'pop_total']]

       State  pop_total
0    Alabama        NaN
48   Alabama        NaN
174  Alabama        NaN
178  Alabama        NaN
182  Alabama        NaN
186  Alabama        NaN
195  Alabama        NaN
220  Alabama        NaN
226  Alabama        NaN
232  Alabama        NaN

In [315]:
states_by_edible.columns.to_list()

['Program',
 'Year',
 'Period',
 'Geo Level',
 'State',
 'State ANSI',
 'Commodity',
 'Data Item',
 'Domain',
 'Domain Category',
 'Value',
 'CV (%)',
 'pop_total',
 'age_male_pop',
 'age_female_pop',
 'age_under_5',
 'age_5 _to_ 17',
 'age_18_ to_24',
 'age_25_to_34',
 'age_35_to_44',
 'age_45_to_54',
 'age_55_to_64',
 'age_65_to_74',
 'age_75_and_older',
 'median_age_in_years',
 'median_age_18_and_over',
 'median_age_21_and_over',
 'median_age_62_and_over',
 'median_age_65_and_over',
 'households_pop',
 'family_households',
 'families_with_kids_u18',
 'married_couple_family',
 'married_couple_kids_18',
 'female_households_no_husband',
 'female_households_kids_u18',
 'nonfamily_households',
 'nonfamily_male_households',
 'nonfamily_male_living_alone',
 'nonfamily_male_not_living_alone',
 'nonfamily_female_households',
 'nonfamily_female_living_alone',
 'nonfamily_female_not_living_alone',
 'avg_hh_size',
 'avg_family_size',
 'pop_15_plus',
 'now_married',
 'widowed',
 'divorced',
 'separated',
 'never_married',
 'pop_25_plus',
 'less_hs_diploma',
 'hs_grad',
 'some_college_assoc',
 'bachelors_deg',
 'grad_prof_deg',
 'hs_grad_plus',
 'bachelors_plus',
 'civilian_pop_ni_total',
 'civilian_pop_with_disability',
 'employed_status_pop_16_plus',
 'in_labor_force',
 'not_in_labor_force',
 'employed_pop_16_plus',
 'occ_mgt_science_arts',
 'occ_service',
 'occ_sales_office',
 'occ_natural_resources',
 'occ_production_trans',
 'industry_employed_pop_16_plus',
 'industry_ag_forest_fishing_mining',
 'pop_hh_income_12months',
 'median_hh_income',
 'with_earnings',
 'mean_earnings',
 'with_ss_income',
 'mean_ss_income',
 'with_ssi_income',
 'mean_ssi_income',
 'with_cash_aid',
 'mean_cash_aid',
 'with_retirement_income',
 'mean_retirement_income',
 'with_snap',
 'pop_families_with_income',
 'median_family-income',
 'married_couple_income',
 'median_income_married_couple',
 'male_household_no_spouse',
 'median_income_male_hh',
 'female_household_no_spouse',
 'median_income_female_hh',
 'individuals_income_group',
 'per_capita_income',
 'poverty_all_families',
 'poverty_families_kids_u18',
 'poverty_families_ kids_u5',
 'poverty_married_family',
 'poverty_married_kids_u18',
 'poverty_married_kids_u5',
 'poverty_female_hh',
 'poverty_female_hh_kids_u18',
 'poverty_female_hh_kids_u5',
 'poverty_all_people',
 'poverty_under_18',
 'poverty_related_kids_u18',
 'poverty_related_kids_u5',
 'poverty_related_kids_5_to_17',
 'poverty_18_plus',
 'poverty_18_to_64',
 'poverty_65_plus',
 'poverty_in_families',
 'poverty_unrelated_15_plus',
 'occupied_housing_units_total',
 'owner_occupied_units',
 'renter_occupied_units',
 'avg_owner_hh_size',
 'avg_renter_hh_size',
 'occupied_units_vehicles',
 'no_vehicles',
 'vehicles_1_or_more',
 'units_with_mortgage',
 'mortgage_burden_lt_30',
 'mortgage_burden_gte_30',
 'occupied_units_own',
 'owner_median_value',
 'occupied_units_with_rent',
 'rent_burden_lt_30',
 'rent_burden_gte_30',
 'occupied_units_rent',
 'gross_median_rent',
 'age_18 _to_24',
 'poverty_families_kids_u5',
 'occupied_units_rented',
 'gross_rent_median',
 'Classification',
 'Values']

In [317]:
states_by_edible.isna().sum()['pop_total']

10

In [319]:
states_by_edible[states_by_edible['pop_total'].isna()][['State', 'Value']]

       State  Value
0    Alabama  154.0
48   Alabama  580.0
174  Alabama    3.0
178  Alabama    1.0
182  Alabama   19.0
186  Alabama    1.0
195  Alabama    NaN
220  Alabama    2.0
226  Alabama  285.0
232  Alabama    5.0

In [ ]:
state_pop = ag_census[['State', 'pop_total']].drop_duplicates